[2019-03-24 08:46] #2397 closed

[2019-03-24 08:59] danieldietrich commented on #2396
This question has been also already discussed. I recognize that it is asked only by developers who use JSR-305 Nonnull. It would be only a workaround for the IDE tooling.

Scala has Unit, but it is completely different - it is part of the native type system and deeply integrated into the language. In Java/VAVR, Unit would be an ugly workaround that stands on its own.

If I would introduce Unit, I

[2019-03-24 08:59] #2396 closed

[2019-03-24 09:09] danieldietrich commented on #2396
Related: #1919, #2261, #2117, #1701

[2019-03-24 09:10] #2385 closed

[2019-03-24 09:11] #2392 closed

[2019-03-24 09:18] danieldietrich commented on #2396
Please don't feel bad because I close so many issues. We can still discuss them here. But I need to manage this open source project somehow. There are many questions (see closed issues).

I love TypeScript. It has one of the most sophisticated (and in fact Turing complete) type systems that exist today. Especially union and intersection types are interesting. That would also be a solution for Java

[2019-03-24 09:54] Abnaxos commented on #2397
Well, I'll stick with `java.util.Optional` then.

It's simply not worth the trouble if `Option.get()` can return null, it just makes things worse. This way, `Option` just introduces another level of tedious checks, because now, I have to check for both None/Some *and* null (and, if you're nitpicky, there's even a third level, because the option itself could be null). Not to mention the tons of fal

[2019-03-24 09:58] Abnaxos commented on #2396
Yes. I chose `Unit` because it looks nice, scalaish and it's short.See #2397, this was the important one.

`None<Void>` would be a good javaish alternative or just `Void`. Actually, with the current API, this can be left to the user. Closing is just fine.

Currently, with a 1.0 branch active, I tend report issues or thoughts rather *now* than later. After 1.0 it will be much harder to introduce po

[2019-03-24 12:24] nfekete commented on #2397
@Abnaxos you can always use
[code]
or
[code]
to convert a `Some(null)` to a `None`.

[2019-03-24 22:06] danieldietrich commented on #2396
Thank you, I really appreciate it that you report issues and give me insights on your thoughts. That really helps. Because of it I consolidated the current code and found several shortcomings!

[2019-03-24 22:22] danieldietrich commented on #2397
Or just convert it to Optional before pulling out the value.

![optional](https://user-images.githubusercontent.com/743833/54886734-a0667280-4e8b-11e9-928b-aa51829ed72d.gif)

[2019-03-24 22:47] danieldietrich commented on #2397
I will provide a link here to a blog post that explains [How Optional Breaks the Monad Laws and Why It Matters](https://www.sitepoint.com/how-optional-breaks-the-monad-laws-and-why-it-matters/) (by Marcello La Rocca):

<img width="767" alt="Screenshot 2019-03-24 at 23 41 22" src="https://user-images.githubusercontent.com/743833/54887039-cc372780-4e8e-11e9-81a4-2b8879546ee8.png">

Another great rea

[2019-03-27 07:39] galegofer opened #2398 "Interoperability between Vavr types and Scala types"
Hello there,

This is more a rhetoric /  exploratory question that an issue or an improvement.

I was wondering if it will make sense for example to have a conversion from Vavr types to Scala ones.

Like for Example:

vavr.Try -> scala.Try
vavr.Either -> scala.Either
vavr.Future -> scala.Future (or create vavr Future from scala ones)

I mean adding a toScalaType (or similar to the one that we have

[2019-03-27 15:00] thadumi commented on #2398
Hi, what will be the use case for a toScala() method? Vavr is already a functional library for Java which tries to follow the Scala monads. The asJava methods make sense for collections compatibility with older Java code which, for example, uses the java.util.List instead of io.vavr.collection.List.

[2019-03-27 15:19] galegofer commented on #2398
Hi,

For example, If you have a framework or if you are operating with Scala Futures in Java (which API is richer than CompletableFuture), it will be nice to be able to wrap them inside a Vavr Future, so you can operate it like usual with Vavr, same for example to convert from Vavr Future to a Scala Future, or convert from Vavr Try monad, to a Scala Try, so if you are using a project where you hav

[2019-03-27 16:24] thiyagu-7 commented on #2383
Hi.. I would like to take a stab at this.

[2019-03-27 16:41] Abnaxos commented on #2398
One thing is certainly important: it must still be possible to use Vavr without Scala. I'm not sure, but I think you'll get a NoClassDefFoundError if any method signatures refer to Scala classes when the Scala runtime isn't in the classpath.

Therefore, such features should be put into a separate class to keep the Scala runtime dependency optional.

[2019-03-28 07:44] Asamsig commented on #2398
This probably something that belongs in a sublibrary to bridge the gap between Vavr and Scala.

[2019-03-28 09:43] danieldietrich commented on #2398
Thank you @galegofer for the question! @Abnaxos is right, we would pull in the Scala dependency when we allow conversion to Scala types as part of the core functionality.

The right way would be to create a `vavr-scala` project that offers the required functionality **on top of VAVR**. For example, we already have something similar for Kotlin: [vavr-kotlin](https://github.com/vavr-io/vavr-kotlin)

[2019-03-28 12:00] galegofer commented on #2398
Yeah, Indeed I was thinking the same than @Asamsig , that we are going to need a different project with the Scala dependencies on it.
@danieldietrich Thanks to you for the amazing library that you did!. To be able to have Vavr like a bridge with Scala and Java will be amazing.

[2019-03-31 11:08] #2382 closed

[2019-03-31 17:11] danieldietrich opened #2401 "ClassCastException during pattern matching"
Thx @goerge for reporting this bug on Gitter!

<img width="1218" alt="Screenshot 2019-03-31 at 19 10 00" src="https://user-images.githubusercontent.com/743833/55292269-c68a9600-53e8-11e9-8950-4ff11a4a7ae8.png">

<img width="1249" alt="Screenshot 2019-03-31 at 19 10 10" src="https://user-images.githubusercontent.com/743833/55292271-ca1e1d00-53e8-11e9-807c-2d461797082e.png">

[2019-03-31 17:28] danieldietrich commented on #2401
**Luckily the Match generics are correct.**

The pattern matcher `$(List.empty())` compares the _prototype_ instance (here: List.empty()) which the actual object that is matched ($() is of type Pattern0):

<img width="676" alt="Screenshot 2019-03-31 at 19 22 42" src="https://user-images.githubusercontent.com/743833/55292409-da36fc00-53ea-11e9-8cfc-0e9efea5e15a.png">

The error is located in the im

[2019-03-31 17:32] Abnaxos opened #2402 "reject() missing in Option, Try and Either"
Just had to write this:

[code]

instead of

[code]

Same for `Try` and `Either`.

[2019-03-31 17:36] danieldietrich commented on #2401
A fix could look like this:

[code]

Other `Collections.equals()` overloads are also affected...

[2019-03-31 18:09] danieldietrich commented on #2401
Looks like changing the Collections.equals() implementatiosn has a bigger impact on the code-base than I thought 😅.

[2019-03-31 19:14] goerge commented on #2401
@danieldietrich I’m really impressed how fast you react on this issue. Thanks for the good work on vavr.

[2019-03-31 19:41] danieldietrich commented on #2401
Our notion of _collection_ equality is aligned to that of Scala. All collections that share the same parent type (Seq / Set / Map) are equal (by definition), if they contain the same elements (modulo order).

<img width="652" alt="Screenshot 2019-03-31 at 21 35 25" src="https://user-images.githubusercontent.com/743833/55294001-0196c480-53fd-11e9-9c8d-d4703f71819e.png">

However, I'm aware of the f

[2019-03-31 19:54] goerge commented on #2401
I think your / vavrs / scalas notion of collection equality is right.
To be honest I found this issue by accident when using the `List.empty` to check for emptiness where `Seq::isEmpty` would have been appropriate.
So with your mentioned fix in `isDefinedAt` already being available my naive approach would have been right.

[2019-03-31 20:01] danieldietrich commented on #2402
You are right! In Scala `reject` is called `filterNot`. Let's do it!

[2019-03-31 20:03] danieldietrich commented on #2402
Interestingly, Traversable#reject(Predicate) exists instead of #filterNot in VAVR... In Scala, collections also have filterNot.

[2019-03-31 20:17] danieldietrich commented on #2402
We should deprecate _reject_ and add _filterNot_ in all places. This is also a preparation for 1.0.0.

[2019-03-31 21:06] #2401 closed

[2019-03-31 21:11] Abnaxos commented on #2402
I personally prefer *reject*, but whatever. That's a matter of taste. I was just expecting it in Option because it exists in Traversable, but it wasn't there …

*filterNot* has certainly the advantage that it's easier to find: *fil*&lt;Ctrl-Space&gt; – ah, there's a *filterNot*.

[2019-03-31 22:47] danieldietrich opened #2406 "Different generics behavior when using JDK12"
The following does not compile with JDK12 (it worked with JDK8 - JDK11):

[code]

error:

[code]

---

The following example works with JDK12:

file: **Test.java**

[code]

compile & run it:

[code]

output:

[code]

[2019-04-01 06:08] goerge commented on #2401
@danieldietrich Wow. Thanks for the fast fix!

[2019-04-01 06:13] goerge commented on #2401
I'm not sure if the result of this fix was intended.

The following documents the difference between "match" and "equality check":
[code]
I'm aware of the fact that this is not a breaking change due to the raised `ClassCastException`.
Though I doubt that this intuitive.
Is this the same behaviour in Scala?

[2019-04-01 23:56] tinversenorm commented on #1521
I'd like to reopen this for discussion. I think semantically `mapFailure` makes more sense and would be easier to read than `recoverWith` to add more information to a `Try.failure`. RecoverWith seems to be intended to recover a failure case and convert it to a success. The naming certainly indicates this.

[2019-04-03 07:41] Abnaxos opened #2407 "narrow() naming"
`narrow()` actually *widens* the type:

* a conversion from `Some<Integer>` → `Some<Number>` is *widening* the type, the new type is less specific.
* a conversion from `Some<Number>` → `Some<Integer>` is *narrowing* the type, the new type is more specific.

`narrow()` does the former, so its name is inverted. Or am I missing something here?

Proposals: `widen()`, maybe `toCovariant()`, …?

[2019-04-03 07:55] Abnaxos commented on #2407
`asCovariant()`

[2019-04-04 19:46] danieldietrich commented on #1521
@tinversenorm you are right, it makes sense. It is already part of VAVR 1.0. There is a preview release of the control package: https://static.javadoc.io/io.vavr/vavr/1.0.0-alpha-2/io/vavr/control/Try.html#mapFailure(io.vavr.control.CheckedFunction)

[2019-04-05 07:49] Abnaxos commented on #2407
Sorry about this, anything with "covariant" is an extremely bad call, because it does exactly the same mistake. We're talking about **contra**variants. It should `toContravariant()` for that matter. But somehow, this feels to technical. My new favourite proposal:

`asSuper()`

[2019-04-05 08:33] danieldietrich commented on #2407
Yes, you are right. The name is confusing. I thought in the sense of type inference, where the upper bound is lowered (however, this makes only sense in the presence of intersection types, which is not the case here). My brain tricked me, it the type is widened, as you said.

I would not change the API in 0.x.

In 1.0, _narrow()_ will disappear. It solves a type-related problem in a non-native way

[2019-04-05 09:17] Abnaxos commented on #2407
I fully agree with going *with* Java, not *against* it.

But I think it's a very convenient method. I also think it's a severe design flaw in Java not to allow co/contravariant type variables as Scala does. I'm sure they discussed it, and they probably decided it would be too complex, but omitting this seems contra productive to me. Type declarations like `Function<? super<? super T>, ? extends Op

[2019-04-05 09:47] danieldietrich commented on #2407
Yes, in 1.0 Option is a _sealed_ type. E.g. it is abstract, having a (package) private constructor. There are only two implementations. (In a future version of Java we might have real sealed types...).

We can't enforce the variance constraint in other places we have interfaces. For example collections or functional interfaces. Maybe it is better to offer the same API in all places: native Java.

[2019-04-05 10:05] Abnaxos commented on #2407
OK, you're probably right. Iterable, Traversable etc. aren't sealable and it would be inconsistent to provide such a utility for *some* types, but not for *all*. Rather discard it. Bummer.

I personally *will* introduce such methods because I like to isolate SuppressWarnings to exactly one statement where I know what I'm doing. It would be useful to have it in Vavr, but then again, that's exactly

[2019-04-05 10:57] yuriykulikov commented on #2343
BTW, Kotlin persistent collections have O(log(n)) for put.

[2019-04-06 14:10] Abnaxos commented on #2397
Sorry, I have to get back to this. The article raises some important points and some severe misbehaviours and for some time the argumentation almost convinced me.

However, both you and the author of that article assume the (in my view) wrong premise that `myOption.map(o -> null)` is legal code. Such a thing must obviously throw an NPE, I implied that. I was shocked when I read that this returns t

[2019-04-06 16:35] tlinkowski commented on #2230
## What

If you're still interested in providing Java 9 `module-info.class` files with your Java 8 binaries, [Gradle Modules Plugin v1.5.0](https://github.com/java9-modularity/gradle-modules-plugin/releases/tag/v1.5.0) supports it now.

Note that it won't produce a Multi-Release JAR, but it doesn't seem necessary to me (rationale [here](https://blog.tlinkowski.pl/2019/building-java-6-8-libraries-f

[2019-04-06 20:44] danieldietrich commented on #2230
@tlinkowski as long as we support Java 8, we will stay with automatic-module-name _only_. Sorry, but I think it is not worth the effort for the moment.

[2019-04-06 20:53] danieldietrich commented on #2397
@abnaxos We align to Scala (I will add that to the contribution guidelines by time). That is the easiest way to shorten discussions and choose between different opinions. If you can show examples where VAVR does not behave like Scala, we can talk about it.

[2019-04-06 20:55] jbduncan commented on #2230
@danieldietrich I could be wrong about this, but from reading @tlinkowski's comment and from what I've observed of the JUnit 5 folks' work towards modularity, I was under the impression that is a way of including `module-info.java` files without needing to sacrifice Java 8 support... :thinking:

[2019-04-07 07:19] tlinkowski commented on #2230
I see. And if I found the time to provide a PR for this, would you be willing to accept it (provided its quality were OK)?

Or are you generally opposed to the idea of providing a Java 9 `module-info.class` together with Java 8 binaries? Or, perhaps, are you afraid that depending on `org.javamodularity.moduleplugin` could be a maintenance burden for you?

Yes, precisely.

[2019-04-07 10:41] danieldietrich commented on #2230
I do not want to mix up JDK8 binaries/classes with a JDK9 module-info.class in one .jar file. Furthermore, we will not create multi-release .jars in order to separate JDK8 and JDK9 builds. Expect the unexpected - it _will_ lead to problems. (I have been there with class names containing spec-conform unicode characters but tools/cloud platforms errored when processing them).

I don‘t see any proble

[2019-04-07 13:22] tlinkowski commented on #2230
I see. Well, I trust your judgment &mdash; my experience is scarce here.

I understand &mdash; you see negative gain/cost ratio here. For the record, though, the problem I'm trying to solve is: **inappropriately weak encapsulation** prevailing in the Java ecosystem.

It's not that you can't write software without stronger encapsulation (surely, people do, so you can &mdash; we had so many years *w

[2019-04-07 15:10] danieldietrich commented on #2230
I really appreciate your engagement for bringing Java forward.

For VAVR itself and for consumers of VAVR, encapsulation/modularization is not a big deal. We decided to ship VAVR ad one jar, because it is small enough. Slicing it into modules that contain only two or three public classes would be too much.

* VAVR has no dependencies
* VAVR had no cross-package utility classes
* VAVR‘s public clas

[2019-04-08 14:16] agebhar1 commented on #2381
This issue might be closed due to #2386.

[2019-04-08 20:33] danieldietrich commented on #2381
true, thank you!

[2019-04-08 20:33] #2381 closed

[2019-04-10 16:06] thadumi opened #2408 "Future cancelled"
Hello, I was playing around with Future's API and I'd like to open a discussion about the following use-case.

Reading the documentation of the Future#isCancelled I'd expect the following test should work, but it fails.
[code]

Is this make on proposing or is it a bug? Taking a look at the source code a Future is cancelled only when it's the future itself call the interrupt method of the Thread.

[2019-04-12 22:39] danieldietrich commented on #2383
Hi @thiyagu-7, sorry, I somehow missed your message.
If you are still interested in solving this issue, please go ahead :)
I will assist you on any questions!

[2019-04-15 07:37] alexandrustana commented on #2383
Hello, sorry I didn't say anything in advance, but since there was no response from @thiyagu-7  I figured I could give this a try.

[2019-04-15 12:23] danieldietrich commented on #2401
In fact Scala behaves the same... however, I think we should implement collection equality like it is expected by Java developers. I will think about it for VAVR 1.0

<img width="1208" alt="Screenshot 2019-04-15 at 14 21 54" src="https://user-images.githubusercontent.com/743833/56132338-02496200-5f8a-11e9-8aa9-a4cc7a1884be.png">

[2019-04-15 12:54] danieldietrich commented on #2408
Thanks, that is an important finding!
Yes, you are right - currently we only check, if a Future is actively interrupted by calling future.cancel().
We do not deal with the various cases a future might be internally interrupted by the runtime. This will be fixed. I need to re-implement FutureImpl for that purpose. Most probably I will fix this in 1.0.

[2019-04-15 12:55] danieldietrich commented on #2408
Note: In Scala only (write-granted) Promises are cancellable, rather than (readonly) Futures.

[2019-04-15 15:41] thadumi commented on #2408
Why are you saying that you have to re-implement FutureImp? I'd like to give a try to this issue. It should work using [shutdown hooks](https://docs.oracle.com/javase/8/docs/api/java/lang/Runtime.html#addShutdownHook-java.lang.Thread-).
From Java Concurrency in Practice, chapter 7.4.1.:

[2019-04-16 09:07] danieldietrich commented on #2408
I think shutdown hooks are too specific and may not cover all use-cases. In VAVR 1.0 the [FutureImpl will change](https://github.com/vavr-io/vavr/blob/stash-pre-0.10.0/vavr/src/main/java/io/vavr/concurrent/FutureImpl.java) nonetheless.

However, for v0.x you may go ahead!

Should a shutdown hook be created for each Future instance in order to provide access to the cancelled instance variable? That

[2019-04-16 10:46] alexandrustana commented on #2383
@danieldietrich, I believe this can be closed now :)

[2019-04-16 22:29] danieldietrich commented on #2383
@alexandrustana yes, thank you!

[2019-04-16 22:29] danieldietrich commented on #2383
@alexandrustana yes, thank you!

[2019-04-16 22:29] #2383 closed

[2019-04-22 13:11] nbentoneves commented on #2341
Is it possible to pick this issue? I would like to help :)

[2019-04-22 22:15] danieldietrich commented on #2341
@nbentoneves please hold your horses. It is too early, the Vavr 1.0 branch does not contain any modules, yet. Additionally, maybe vavr-test will be discontinued because there are good mainstream alternatives for property testing.

[2019-04-23 19:16] thiyagu-7 commented on #2395
Hi,
 I would like to work on this. I'm not familiar with the codebase though. I would like to take this if it is enough to go through the relevant classes(Try, FutureImpl) to complete this.

[2019-04-24 17:41] danieldietrich commented on #2395
@thiyagu-7 this issue is not well suited for help from the community. The master branch does contain the v0.x FutureImpl. Another impl is on a ‘stashed’ branch. That will be the basis for v1.0. But maybe the impl will be re-designed a bit, so this issue has to wait.

[2019-04-29 04:49] chrylis opened #2410 "Try.ofOption(Option)"
In composing APIs, I often want to look for a (possibly missing) item, and then execute a `Try` sequence based on the result. I find myself using this sort of expression:

[code]

The first lambda gets redundant fast; the second is also a bit silly because of the name of the `success` method. As this sort of transformation from an `Option<T>` to a `Try<T>`-or-else-exception seems common, I suggest

[2019-04-29 04:53] chrylis commented on #2410
And I apparently had a glitchy autocomplete, because `Value#toTry(Supplier)` seems to be what I'm looking for.

[2019-04-29 04:53] #2410 closed

[2019-04-29 08:37] chrylis opened #2411 "Try#mapFailure triggering varargs warnings"
I'm trying to map a potential `IOException` in my call to a business exception:

[code]

This produces a warning in ecj and Oracle javac 9.0.4 about unsafe varargs. In Eclipse: "A generic array of `API.Match.Case<? extends Throwable,? extends Throwable>` is created for a varargs parameter". The documentation here is a bit sparse, but I _think_ this is how `mapFailure` is supposed to be used, so I'

[2019-04-29 10:13] danieldietrich commented on #2411
Interesting. I will take a look later.

[2019-05-01 15:48] baha2046 commented on #103
world be interest if also running same test case on other 3rd party like RxJava and cylops

[2019-05-11 08:37] pivovarit commented on #569
Did some investigation on my own and that's partially true (more likely to be a side-effect of compaction than a conscious optimization). Will implement it and benchmark to see accurate difference between the current Banker's-based implementation, and the Finger-tree-based one.

I will post the data here once I'm done. However, I don't expect any surprising results (there's indeed quite a lot of i

[2019-05-19 04:10] chrylis commented on #2411
Any update on this one? I'm trying to improve error reporting, and `mapFailure` is alarming various tooling; from what I understand, `@SafeVarargs` may be enough to fix the problem. (I notice that the method contains `@SuppressWarnings("varargs")`, which isn't actually a real suppression class, and suggests that something like `@SafeVarargs` was intended.)

[2019-05-19 05:58] chrylis commented on #2401
Thanks for your work, Daniel! This bug (I think) is blocking me in 0.10.0 because it causes `$(not(instanceOf()))` to blow up every time; do you have an estimate for 0.10.1 availability?

[2019-05-25 14:38] FuncGuy opened #2412 "java process runs for some time when i execute the below code though the code completes execution."
[code]

[2019-05-26 20:15] jabrena commented on #1082
Hi @danieldietrich,

Where is possible to find `javaslang-pure`?

Juan Antonio

[2019-05-27 20:07] mincong-h opened #2413 "Value.toSortedSet(Comparator) makes data lost"
`Value#toSortedSet(Comparator)` makes data lost when comparator is **not** correctly implemented. Here're three samples illustrating the problem, written with HashMap in VAVR and Map in Java 11.

In VAVR 0.9.2:

[code]

[code]

In Java 11:

[code]

I think the problem might come from comparison logic: two values of type T are considered as the same when the comparator returns 0.

[2019-06-06 07:36] helpermethod opened #2415 "How am I supposed to test my composed / partially applied functions"
Hi,

new to Vavr, looks really nice so far 👍.

One thing I'm struggeling with:

How am I supposed to test my composed / partially applied functions?

Thank you,
Oliver

[2019-06-08 04:45] mperktold commented on #2407
How about `upcast`?

Because since `Option` is actually covariant (which Java doesn't know, unfortunately), that's really what happens here, and I think that's what the implicit conversion of non-generic types is usually called.

[code]

Sure, Java should be able to do this automatically, and it might in the future:
http://openjdk.java.net/jeps/300

Until then, methods like this are a clever and u

[2019-06-08 14:34] daggerok opened #2416 "How to migrate Try.andFinally?"
Hey,

Can you pointing me where I can look what is going to be changed in 1.x release? I have get stuck with 1.0.0-alpha-2 version...

For instance seems like Try.andFinally was removed and I cannot find in Try sources how I can migrate that 0.x code:

[code]

I don't wanna check if it was success or not, I just need to make sure everything is tear down in the end..

Thanks

---
Regards,
Maksim

[2019-06-09 13:49] danieldietrich commented on #2416
Hi Maksim,

thanks for your question. The alpha you use is incomplete and not intended to be released as 1.0. I will lift the current v0.10.0 as v1.0.0 within the next days. So you can expect a very smooth migration.

See also my Twitter [post](https://twitter.com/danieldietrich/status/1135953036034093061) regarding v1.0.0.

I hope this helps.

[2019-06-09 13:49] #2416 closed

[2019-06-11 12:25] danieldietrich commented on #2407
I don't want to discuss about naming. [powerthesaurus.org](https://www.powerthesaurus.org/upcast/synonyms) has plenty of options.

I think the original intent of narrow was misunderstood. It is all about **narrowing the generic type bound** from `? extends T` to `T`.

More specifically:

[code]

Java's type system does not allow this kind of cast (explicitly) without casting `given` to `Object` be

[2019-06-11 12:26] #2407 closed

[2019-06-12 14:58] danieldietrich commented on #2415
Hi Oliver,

I'm not sure if I understand your question right. There is no notion for function equality. Two functions

_f: X -> Y_ and _g: X -> Y_ are equal, if _f(x) = g(x)_ for all _x &isin; X_

Partially applied functions are roughly the same as curried functions.

_f: X -> Y -> Z_ can be seen as _f: (X x Y) -> Z_

If you want to test _f_, you need to apply it to all arguments, i.e.

_f(x)(y) =

[2019-06-13 07:19] helpermethod commented on #2415
Sorry, I should have made the question more clear. So with Vavr, I'm building my application by composing small functions into bigger functions. But how am I supposed to test this? In a language with top level functions I could test the small / composed functions independently. But with Java? Maybe I should extract them into static methods?

[2019-06-13 09:26] danieldietrich commented on #2415
I'm still not sure, what you mean. Could you give a code example, like

[code]

[2019-06-13 11:58] danieldietrich commented on #2343
I know, there is still plenty of room for improvement. Mid-term, I would love to see Scala 3 collection impls here (e.g. Champ).

[2019-06-13 12:02] danieldietrich commented on #103
Cyclops is a wrapper - it is not _that_ interesting to me. Rx Java has a different purpose (cold/hot streams etc).

[2019-06-13 12:05] danieldietrich commented on #569
Hey @pivovarit, that sounds interesting! Have you played around with it a bit?

[2019-06-13 12:07] pivovarit commented on #569
Not yet, quite busy with different things now, but want to circle back here in July (and explore CHAMP for HashMap)

[2019-06-13 12:15] danieldietrich commented on #569
Nice, thx!

[2019-06-13 12:33] pivovarit opened #2417 "Explore reimplementing HashMap as CHAMP (Compressed Hash-Array Mapped Prefix-tree)"
Related Epic: https://github.com/vavr-io/vavr/issues/2308

Scala 2.13 brought us new and improved collections. One of them is a fully reimplemented `HashMap` as CompressedHAMP.

https://github.com/scala/collection-strawman/issues/192
https://github.com/scala/scala/commit/d5ae93e1b35fac4002cfbffff9ec741356549e08

https://michael.steindorfer.name/publications/oopsla15.pdf

We should follow up and in

[2019-06-16 00:15] sraaphorst commented on #2402
I'm new, but I would like to take a crack at this PR in order to begin participating in vavr.

[2019-06-16 01:18] sraaphorst commented on #2402
I'd also like to see `nonEmpty` instead of just `empty`; I've found this quite handy in Scala at times

[2019-06-16 02:34] FuncGuy opened #2419 "anyOf() throws ClassCastException when used with pattern match."
Hi,

@danieldietrich i'm getting the below exception when i match against using  anyOf predicate i'm not sure whether this is the actual behaviour or it needs a fix. Thanks..

java.lang.ClassCastException: class io.vavr.collection.List$Cons cannot be cast to class java.lang.Number (io.vavr.collection.List$Cons is in unnamed module of loader 'app'; java.lang.Number is in module java.base of loader

[2019-06-18 14:15] fabianboeller commented on #1318
@danieldietrich @io7m
Thanks for your effort with Vavr!
Was there a specific reason why the deterministic variant of shuffle `Seq.shuffle(Random random)` from the original request was not implemented back then?
Currently, it is still necessary to do a workaround for this one.

[2019-06-18 14:53] io7m commented on #1318
This was just straightforward forgetfulness on my part. I'd actually forgotten I'd written this code too... :roll_eyes:

[2019-06-19 07:36] danieldietrich commented on #2401
@chrylis I will release a backward compatible 1.0 within this or the next week.

[2019-06-19 07:39] danieldietrich commented on #2412
It might be related to the underlying (default) ExecutorService of the Furure. Which version of VAVR do you use? Did you try the latest 0.10.0?

[2019-06-19 07:43] danieldietrich commented on #1082
Hi @jabtena, a removed the ...-pure module a long time ago. Java is not the right language for abstracting over monads because of missing type constructors (higher-kinded types).
There exist really ugly workarounds for HKTs in Java (using self-recursive generic interfaces). Don‘t use them - they cause problems!

[2019-06-19 19:40] jabrena commented on #1082
Hi @danieldietrich, don´t worry with this library I have enough for a good period... :)

Cheers

[2019-06-20 10:22] danieldietrich commented on #1082
Thx, great to hear :)

[2019-06-20 17:27] chriskiehl opened #2420 "Why does toTry on LinearSeqs insert the head element into the Try rather than the whole collection?"
Hey there!

version: `vavr 0.9.0`

Quick question about the behavior of `toTry` when called on things like `Array` and `List` in vavr. Why does it put the `head` element into the Try rather than the entire collection?

I assumed the behavior would be the latter to satisfy cases where empty list means something bad. For instance, a filtering condition wasn't met.

[code]

However, it actually grabs

[2019-06-22 09:53] danieldietrich commented on #2413
## TL;DR

Java 11 HashMap has no notion of (key) order. Your sorted() call does effectively nothing. You just produce a HashSet of entries.

In your VAVR create a SortedSet by deduplicating the entries using (a custom comparator).

---

## Detailed

You do two different things. Let me recap:

**Your Java 11 code:**

| Step | Action | Result |
| --- | --- | --- |
| 1 | Map.of("k1", 1, "k2", 1) | {k

[2019-06-22 09:53] #2413 closed

[2019-06-27 22:04] jarrvis opened #2421 "Add putTry to Map?"
Can I add 'putTry' to Map?
[code]
Just for:
(1) convenience: I can do a return in the same line as I do `putTry`
(2) more declarative: sometimes I just want to put to map if possible. Not first calculate value and then put it:
[code]
instead of:
[code]

[2019-06-28 15:18] jabrena opened #2422 "Fold doubt"
Hi,

I am reviewing the fold concept and I have some doubt about the usage.

[code]

In the execution of this tests, I used to understand the idea about fold the following image:

![](https://pbs.twimg.com/media/D-DAIyQW4AUzh2P?format=png&name=small)

Why this execution doesn't return 1.0:

[code]

Why this execution return 8.0:

[code]

Many thanks in advance

Juan Antonio

[2019-07-01 12:06] danieldietrich commented on #2422
Hi Juan Antonio,

it has been extensively tested. VAVR works exactly like Scala (which borrowed concepts from Haskell, OCaml, etc).

<img width="802" alt="Screenshot 2019-07-01 at 13 58 24" src="https://user-images.githubusercontent.com/743833/60435158-1d328680-9c09-11e9-883b-981b7505eba8.png">

<img width="802" alt="Screenshot 2019-07-01 at 14 00 16" src="https://user-images.githubusercontent.com

[2019-07-01 12:06] #2422 closed

[2019-07-01 12:16] danieldietrich commented on #2421
Our strategy is to keep the API surface area small. We try to avoid adding aliases, convenience methods etc.

[2019-07-01 12:16] #2421 closed

[2019-07-01 14:45] rkraneis commented on #2422
0 is not a neutral element for powers (so a _problem_ with arithmetic _per se_ :trollface:): pow(0, _x_) == 0 and pow(_x_, 0) == 1`.

[2019-07-01 15:22] jabrena commented on #2422
Hi @danieldietrich, I didn't put in doubt the method execution, I wanted the know the execution logic, this is the reason of the issue. :)

[code]

@rkraneis Thanks for the comments to understand the execution.

[2019-07-01 19:39] jabrena commented on #2422
[code]

Now, I understood the operators.

@danieldietrich Do you think that it is a good idea to upload a Test File with some unit tests to understand the concept. For newbie users it could be interesting in my humble opinion.

Cheers

Juan Antonio

[2019-07-02 08:18] danieldietrich commented on #2422
@jabrena Unit tests should ensure the correctness. For documentation purposes, I think it would be better to provide good Javadoc. It is more accessible to our users.

Short- to midterm we should create better documentation in general. I will set up a new web page for VAVR.

[2019-07-02 21:24] danieldietrich commented on #2406
**Note:** there is a subtle difference in the examples above:

[code]

So, we can't compare the type inference of Java's switch expression and Vavr's match in this case.

Maybe I can tweak the generic bounds of the Match / Case API a bit resp. removing bounds.

[2019-07-02 21:52] danieldietrich commented on #2420
Hey!

Because the empty collection is interpreted as Try.Failure resp. Option.None resp. Either.Left.

Conversion needs to be _somehow_ symmetric (at least for the empty case).

**Current state:**

[code]

**What you suggest would look like:**

[code]

[2019-07-02 21:52] #2420 closed

[2019-07-04 07:43] Abnaxos opened #2424 "Traversable::peek behaviour"
Javadoc:

These are two radically different behaviours depending on the underlying implementation. I find that confusing.

Also, I need some way to process all elements in a Seq without changing the Seq and then continuing. Concrete use case: I have a Seq of all methods and want to apply multiple validations:

[code]

validateSomething() may print a compiler error, but in order to collect all poss

[2019-07-04 10:45] danieldietrich commented on #2402
@sraaphorst Traversable [already has](https://static.javadoc.io/io.vavr/vavr/0.10.0/io/vavr/collection/Traversable.html#nonEmpty--) nonEmpty().

We align tightly to Scala. Option et al do have their own dedicated API, e.g.

Option --> isEmpty()
Either --> isLeft()
Try --> isFailure()

[2019-07-04 10:58] danieldietrich commented on #2402
Merged PR #2414

[2019-07-04 10:58] #2402 closed

[2019-07-04 10:58] #2406 closed

[2019-07-04 12:38] Chamedo opened #2425 "DistinctIterator eats null values"
I ran across a problem with the .distinct()-implementation on Iterator. In addition to removing duplicate elements, it also removes all null values from the input. Other distinct()-implementations (e.g. on List) do not show this behaviour.

Code:
`System.out.println(io.vavr.collection.Iterator.of((String)null).toList().distinct())`
`System.out.println(io.vavr.collection.Iterator.of((String)null).d

[2019-07-04 15:28] danieldietrich commented on #2425
Thank you for your analysis! The fix is on its way :)

[2019-07-04 17:23] #2425 closed

[2019-07-04 20:23] danieldietrich commented on #2424
Well, it is a well-defined behavior - but I agree, it violates the LSP.

You know me, I don't really want to talk about naming (peek or tap or whatever). It is just a matter of definition or interpretation.

I'm interested in our options here. In my experience, it is hard to satisfy the LSP across a collection hierarchy. Let's consider a peek() method that is defined only on the first element (if

[2019-07-04 20:29] danieldietrich commented on #1318
@fabianboeller thx! No, we should add `Seq.shuffle(Random)`! I will re-open this issue.

[2019-07-04 20:33] danieldietrich commented on #2419
Thx! Interesting - this should not happen. In fact there should be a compile error if you do it this way because the List is matched, not the contained elements. Will check that!

[2019-07-04 20:49] danieldietrich opened #2427 "Pattern matching: Generated patterns for ADTs need to reflect the super type"
**Example:**

`$Some(t)` currently returns `Pattern<Option.Some<T>>` but it needs to return `Pattern<Option<T>>` in order to make type inference work (see image below).

However, `$Some(t)` still needs to check if a given object `t` is of type `Option.Some<T>`.

<img width="922" alt="Screenshot 2019-07-04 at 22 43 13" src="https://user-images.githubusercontent.com/743833/60687207-6c004a80-9ead-11e

[2019-07-04 20:54] danieldietrich commented on #2415
I will close this question because it is not related to the library. It is a general question.

I suggest to prepare a concrete example / a Gist and post that question in our [Gitter channel](https://gitter.im/vavr-io/vavr).

[2019-07-04 20:54] #2415 closed

[2019-07-04 21:03] io7m commented on #1318
I'm on it.

[2019-07-04 21:15] #2398 closed

[2019-07-04 21:26] danieldietrich commented on #1318
Nice, thank you!

[2019-07-04 21:43] danieldietrich commented on #2419
I will close this because it can't be reproduced. Maybe you used an outdated version of VAVR?

I implemented the test case you provided. The CI build passed for jdk8, jdk9, jdk10, jdk11 and jdk12.

PR: https://github.com/vavr-io/vavr/pull/2428

CI: https://travis-ci.org/vavr-io/vavr/builds/554424019

[2019-07-04 22:05] danieldietrich commented on #2411
`@SafeVarargs` is not allowed on non-final instance methods, so that is not possible.

IntelliJ IDEA does not create a warning on a similar test:

<img width="800" alt="Screenshot 2019-07-05 at 00 02 02" src="https://user-images.githubusercontent.com/743833/60688864-36149380-9eb8-11e9-8958-b13e71f68bcc.png">

The java compiler is configured with `-Werror -Xlint:all`, so the build would fail (e.g.

[2019-07-04 22:05] #2411 closed

[2019-07-04 22:11] #1318 closed

[2019-07-04 22:11] danieldietrich commented on #1318
Done with the speed of light by @io7m 💫

[2019-07-04 22:34] danieldietrich commented on #2412
I think you do not use the newest version of VAVR (it is 0.10 and 1.0 will be released soon).

Your example runs in 86 ms on my machine (including unit test framework utilization etc.). The JVM exists immediately.

<img width="1618" alt="Screenshot 2019-07-05 at 00 26 46" src="https://user-images.githubusercontent.com/743833/60689267-cd2f1a80-9ebb-11e9-8dcc-535979d9dbb0.png">

It is like I said be

[2019-07-04 22:34] #2412 closed

[2019-07-04 22:40] danieldietrich commented on #2219
Just for the sake of completeness (and our future readers):

[code]

The correct version would be using Suppliers in order to defer the method calls:

[code]

[2019-07-04 23:13] #2375 closed

[2019-07-04 23:24] danieldietrich commented on #2341
Vavr will be one module io.vavr.

I will deprecate pattern matching (including the annotation and processor modules) in favor of the upcoming native Java pattern matching feature.

Vavr's property testing module will be discontinued in favor of popular alternatives, like junit 5 property testing.

[2019-07-04 23:24] #2341 closed

[2019-07-04 23:41] talios commented on #2341
That's one change I don't like - I've much preferred Vavr's property testing over any of the others on Java I've found, and not everyone uses Junit 5.

One good thing of Vavr-test was that was independent.  I see Jetbrains have their own ( https://github.com/JetBrains/jetCheck ) now as well, interesting.

[2019-07-05 06:25] rkraneis commented on #2341
Getting property testing right is hard, especially automatic shrinking. After switching from Scala to Java we needed a replacement for ScalaTest and finally settled on jqwik for ease of use, activity and especially automatic shrinking. We are still running some junit4 tests with the vintage engine, so depending on how extensively you use it, that might be an option.

[2019-07-05 07:11] danieldietrich commented on #2341
@rkraneis interesting, I hadn't the opportunity to get my hands on jqwik, yet

@talios during the last years, more and more alternatives emerged. They have a stronger focus on testing and evolve faster than we do. So I think it isn't the worst idea to take a look at what exists.

It is a strategic move to abandon property testing and focusing on the core concepts. Still, the property testing frame

[2019-07-05 09:38] danieldietrich commented on #2427
Pat'mat will be deprecated in favor of Java's upcoming pattern matching. It is not worth the effort to change the current pattern matching mechanics **by introducing breaking changes**.

[2019-07-05 09:38] #2427 closed

[2019-07-05 10:53] danieldietrich commented on #1644
I checked the Iterator source:

* `slideBy(Function)` is suspicious / needs to be fixed
* `ConcatIterator` is okay but I want to consolidate / simplify it

[2019-07-05 11:03] #1644 closed

[2019-07-05 11:05] danieldietrich commented on #2358
Out of scope. 1.0 will stay on Maven. We may move to Gradle later (I did it on the 2.0 branch).

[2019-07-05 11:05] #2358 closed

[2019-07-05 11:08] danieldietrich commented on #1967
Out of scope. This is not a bug, it seems to be a Java 'feature'. Maybe the behavior already changed with recent JDKs?

Eventually we will utilize a code generator for the collection hierarchy. Then the issue will be automatically solved. Until then, we will live with it.

[2019-07-05 11:08] #1967 closed

[2019-07-05 11:28] danieldietrich commented on #1908
I will be able to solve this issue without introducing a backw'incompat change.

W.l.o.g., let's take a look at Iterator.grouped(int)`. It returns an Iterator containing Seq's (currently: **Stream**):

[code]

The collections have:

[code]

---

**Proposed solution:**

1. Add `<U extends Iterable> Iterable<U> Iterator.grouped(int, Function<? super Iterable, ? extends U>)`
2. Let `Traversable.group

[2019-07-05 11:32] danieldietrich commented on #1908
Another topic: grouped, sliding (and other methods) might need to be moved from Traversable to Seq because they make only sense if elements have a specific order...

[2019-07-05 13:07] andys8 commented on #1244
@danieldietrich I was looking for a implementation in Java and I expected vavr to contain it. Is there a recommendation to achieve a type safe list/collection/traversable, that has at least one element? Or is it something think is not related or relevant for vavr? Just curious :)

For comparison:

* http://hackage.haskell.org/package/semigroups-0.16.1/docs/Data-List-NonEmpty.html
* https://package

[2019-07-05 19:32] danieldietrich opened #2431 "Prepare Iterator for 1.0"
An Iterator isn't a collection in terms of being part of the Traversable hierarchy. In particular, an Iterator should not be Iterable.

We will change Iterator in 1.0 as follows:

* [x] fix [type hierarchy](https://github.com/vavr-io/vavr/issues/2308#issuecomment-430043877)
* [x] Deprecate AbstractIterator and remove all internal usages. next() should throw NoSuchElementException without message.

[2019-07-05 20:08] nfekete commented on #2431
I'm not familiar with Scala, but can you provide a reason why you consider providing methods consuming the remaining elements from an `Iterator` problematic and worth deprecating?

For me, `Iterator` is a better alternative to JDK's `Stream` and I would be very disappointed to see it lose useful functionality.

[2019-07-05 21:23] danieldietrich commented on #2431
Basically, an Iterator is a lazy sequence of a possibly infinite amount of elements.

If you dropRight(n) for example, you first need to navigate to the end of the Iterator. It isn't possible to do it in a lazy manner because you don't know when that last n elements are reached.

[2019-07-05 22:34] nfekete commented on #2431
I agree with `Iterator` not implementing `Traversable`.

But I'm not sure about the _lazyness_ argument. Pretty much all methods that don't return another `Iterator` are not lazy. Among those are very useful ones, that return the `headOption`, `lastOption`, `find`, `findLast`, `fold`, `reduce`, `collect`, `partition`, `span`, etc. None of them are returning a `Lazy<T>`.

Or are you talking about j

[2019-07-05 22:37] danieldietrich commented on #2431
Okay, let's keep all for now!

My vision was to align more and more to Scala because it is well thought through by a great community. However, I see that it is not a good idea to remove existing things from VAVR. I will leave that decision open for post 1.0.

[2019-07-06 22:14] jvz commented on #2359
I've been working on reimplementing the Scala implementation in Java lately in this project, https://github.com/jvz/future-promise, and during testing, I remembered Vavr having pattern matching features which could make the Scala tests easier to port. Then I found that Vavr, too, has a bit of overlapping APIs here. Would you be interested in collaborating on some sort of integration?

[2019-07-07 05:02] danieldietrich commented on #2359
@jvz I've looked into your implementation. You have a relatively wide API interface because you ported many Scala types to Java, like ExecutionContext. I chose another approach. VAVR is tailored to Java, which already has concepts like ExecutorService. VAVR's Future API is thoroughly harmonized with other VAVR types. I hope you understand, that I can't pull in different concepts from the outside.

[2019-07-07 07:43] danieldietrich commented on #1825
Reopening it because I need to port this from the [2.0.0](https://github.com/vavr-io/vavr/tree/v2.0.0) branch to master.

[2019-07-07 07:49] danieldietrich opened #2437 "Remove Serializable support (long-term)"
Oracle plans to dump risky Java serialization (👉🏼 [Hacker News](https://news.ycombinator.com/item?id=17165800))

Also see our poll: https://twitter.com/vavr_io/status/1147741860854677505

[2019-07-07 08:00] danieldietrich opened #2438 "Move vavr-test, vavr-match* and vavr-benchmark to their own repositories"
* I want vavr core to build with Gradle. The initial step is to simplify the project structure.
* Having small, independent modules make our builds faster.
* Evolution of libraries will be easier to manage. Pattern matching and property testing will be deprecated.

[2019-07-07 08:01] danieldietrich opened #2439 "Move vavr core from Maven to Gradle build"
Depends on project structure change #2438.

I did the Gradle build already on the [v2.0.0 branch](https://github.com/vavr-io/vavr/tree/v2.0.0). We will either use the [scala-plugin](https://github.com/vavr-io/vavr/blob/scala-plugin/build.gradle) or [ammonite](https://github.com/vavr-io/vavr/blob/ammonite/build.gradle#L40-L56) for calling the Scala code generator.

[2019-07-07 10:28] danieldietrich commented on #2439
Need Gradle settings for Nexus snapshot repo, similar to Maven settings:

[code]

[2019-07-07 10:30] danieldietrich commented on #2439
We will do a one-liner in `.travis-ci.yml` for current `run-tests.sh` script:

[code]

[2019-07-07 10:32] danieldietrich commented on #2439
We should not trigger any other vavr builds anymore and save CI resources that way. Other vavr projects should not depend on snapshots of vavr (core).

We will delete `trigger-build.sh`:

[code]

[2019-07-07 18:26] jvz commented on #2359
My library isn’t even published yet. I was thinking that I could refactor
it to use Vavr types and integrate into the existing Future/Promise/Try
classes you already have. I’m mostly doing this as an exercise in learning
more about implementing a Future API, though it evolved into analyzing the
Scala 2.13 improvements behind the scenes.

As for integration the other direction, you’re right in thin

[2019-07-07 21:57] danieldietrich commented on #2359
@jvz

I suggest to keep your library free of 3rd party dependencies. This will eventually lead to problems (regarding overlapping transitive dependencies) when someone uses it in a real world application. Also you will depend on Vavr regarding backward incompatible changes etc. It is just a hint. I do it that way.

I don't think it will make much sense merging your implementation into Vavr's Futur

[2019-07-07 22:00] #2438 closed

[2019-07-07 22:00] #2439 closed

[2019-07-07 22:11] jvz commented on #2359
I think the confusion here is that I'm interested in the implementation details, not specifically the API. This issue is about the API, though, which is related to the original reason why I even started working on this project (e.g., try to write a generic retry function for CompletabeFuture; they don't have any `recoverWith` equivalent). Would you suggest filing a separate issue for an implementa

[2019-07-07 22:22] danieldietrich commented on #2359
@jvz to be honest, the amount of types (interfaces and classes) of your repository looked like a big wall to me. I think it is quite hard for new users to explore such a big API surface area.

Vavr has only two public types, _Future_ and _Promise_. I even tried to remove _Promise_ by experimenting with a JavaScript-like functional resolve/reject API. Additionally I have one non-public impl class f

[2019-07-07 22:34] jvz commented on #2359
Most of the classes are package-private implementation details of Future/Promise (the upstream Scala code uses fancier access control mechanisms to hide things better), and the other classes are there because I started the library with no dependencies. If I ported the general sync/async batching, promise chain management, and operator fusion stuff directly into Vavr, most of the classes outside th

[2019-07-07 22:42] danieldietrich commented on #2359
@jvz good to hear. I think, Future and Promise should be kept separate in order to make Future readonly (from the outside).

I don't hinder you from refactoring your library. I still want to have the freedom to decide whether changes make it into Vavr or not. Generally, I'm open to all ideas.

I do not want to look like a pessimist (in fact I'm an optimist 😊) but I'm sceptical about annotations in

[2019-07-07 22:53] danieldietrich opened #2441 "OpenJDK13 build fails: 'yield' may become a restricted identifier in a future release"
OpenJDK13 (early access) and OpenJDK14 (early access) both print the same warning:

<img width="1092" alt="Screenshot 2019-07-08 at 00 45 48" src="https://user-images.githubusercontent.com/743833/60774798-e7663400-a119-11e9-957a-ed1bfa9d646a.png">

I think we have to introduce a backward incompatible change to our API.For methods. There already exists a proposal: #2346 "Cut down API.For DSL classe

[2019-07-07 22:59] danieldietrich opened #2442 "Code generator does not work with ammonite + scala 2.13"
Currently, I use ammonite with scala 2.12. However, this issue has to be solved in order to be able to upgrade ammonite in a not too distant future.

Fixable problems are type inference bugs regarding if-expressions. For example, Scala 2.13 infers Any instead for String in some specific cases regarding our code generator.

Other fixable problems are that methods arguments of type Any* are now coll

[2019-07-07 23:15] danieldietrich commented on #2437
Brian Goetz cleared out, that serialization support will not be dropped. We need to keep it for now because of compatibility reasons.

[2019-07-07 23:15] #2437 closed

[2019-07-07 23:53] nfekete commented on #2346
I like this idea, especially with the deprecation warning for `yield`.

[2019-07-08 08:44] danieldietrich commented on #2346
I will do this in the upcoming 1.0.0 in order to inform about the new reserved word 'yield'.

[2019-07-09 14:16] strkkk opened #2445 "Replace some lambdas to method references"
Hello,

I created a new check in checkstyle project to detect lambdas, that can be replaced with method references and run the check over vavr source code.
It reported 49 violations (replaceable lambdas) in your repo, you can see them all here https://strkkk.github.io/120/Vavr/index.html#A1

Can you take a look and provide some feedback - what cases should not be replaced and reason/thoughts for i

[2019-07-11 23:16] danieldietrich commented on #2445
Hi & thanks for your interest in VAVR!

Analyzing of unit test & benchmark files isn't necessary. If I filter these out, the following remain:

* vavr-test/src/main/java/io/vavr/test/Gen.java (will be abandoned)
* vavr/src-gen/main/java/io/vavr/CheckedFunction0.java & vavr/src-gen/main/java/io/vavr/Function0.java (roughly the same, produced by the same code generator)
* vavr/src/main/java/io/vavr/

[2019-07-11 23:24] danieldietrich commented on #2445
**Update:** I will close this issue. After trying to replace the one and only finding it turns out that it was correct because the method takes a super-class, the lambda uses a sub-class. The compiler can't figure out a method reference:

<img width="731" alt="Screenshot 2019-07-12 at 01 22 35" src="https://user-images.githubusercontent.com/743833/61091771-b94b6180-a443-11e9-9190-fc85f2754bb2.png"

[2019-07-11 23:24] #2445 closed

[2019-07-11 23:33] danieldietrich commented on #2445
One more note: I'm pretty satisfied with IntelliJ IDEA. It already shows me warnings, suggestions and optimizations. Additionally it offers automatic code refactorings.

`<unpopular-opinion>`
My experience in the past was that checkstyle was mostly a big PITA. It eats up developer time and leads to meta discussions, like the correct line length, how to format code etc.

The next 'logical' step, au

[2019-07-12 07:50] strkkk commented on #2445
@danieldietrich
Main point of the issue is a feedback for question "in what cases from ones in report we should not replace lambda with method ref and why?"
There are no false positives in report, see below.

1.

Because this is method of Tree interface, it compiles
![image](https://user-images.githubusercontent.com/8901354/61111008-3a7d1580-a491-11e9-8954-cdb72a548971.png)

2. https://strkkk.gith

[2019-07-12 08:47] danieldietrich opened #2446 "Tuple should not implement Comparable"
In #605, we made Tuple* comparable in order to be used as element type in conjunction with SortedSet and SortedMap.

However, it might lead to a class cast exception at runtime, if the tuple components aren't comparable.

<img width="1209" alt="Screenshot 2019-12-07 at 17 34 08" src="https://user-images.githubusercontent.com/743833/70377706-d1061380-1917-11ea-9944-8718cde0183f.png">

Because we st

[2019-07-12 10:12] danieldietrich commented on #2445
Yes, in 1. the compiler can be satisfied that way.

Nonetheless, you might change semantics when replacing

[code]

with

[code]

The former preserves laziness. The latter evaluates createObject() immediately because ::get is a method reference on an existing _instance_ in that case.

[2019-07-12 13:05] strkkk commented on #2445
Yes, you are correct.
Thank you.

[2019-07-12 18:30] danieldietrich commented on #2445
Your effort is a good thing. I hope you get all right - you will reach your goal!

[2019-07-12 23:36] danieldietrich opened #2447 "Transform controls from 0.10 to upcoming 1.0"
The transformation involves

* [ ] deprecating `io.vavr.Value`
* [ ] adding `io.vavr.Iterable` at the top of the type hierarchy
* [ ] Either: deprecating outdated API, adding new API

    <details>

[code]

    </details>

* [ ] Option: deprecating outdated API, adding new API

    <details>

[code]

    </details>

* [ ] Try: deprecating outdated API, adding new API

    <details>

[code]

    </

[2019-07-17 01:14] #2431 closed

[2019-07-17 01:23] danieldietrich opened #2450 "Deprecate methods of Value"
* [ ] `@Deprecated` methods
* [ ] Document deprecations using `@deprecated`
* [ ] Place 'undeprecated' copies in appropriate locations, e.g.
  * Iterator, Traversable: exists, forAll, collect, contains, corresponds, isAsync, isLazy, isEmpty, stringPrefix + some to* conversion methods
  * io.vavr.control.*: get, getOr*, stringPrefix + some to* conversion methods
* [ ] Mark methods 'to be removed':

[2019-07-17 01:27] danieldietrich opened #2451 "Lint the test compile build phase"
See https://twitter.com/danieldietrich/status/1151272993026453512

Do this _after_ solving #2450

[2019-07-17 05:59] danieldietrich commented on #2376
Benchmarks moved to another [repo](https://github.com/vavr-io/vavr-benchmark).

[2019-07-17 05:59] #2376 closed

[2019-07-17 13:14] danieldietrich commented on #2419
Now it hit me in #2452.

[2019-07-17 15:46] alwins0n commented on #677
This should be reopened as mentioned on Twitter.

The full migration guide for scala is available now here: https://docs.scala-lang.org/overviews/core/collections-migration-213.html

Some key takeaways for Vavr (not a complete list!):
- Traversable no longer exists (-> Iterable)
- Stream is now LazyList
- new type ArraySeq (sequence backed by array)
- new types MultiSet, SortedMultiSet, MultiDict,

[2019-07-17 17:51] nfekete commented on #677
I like the idea to rename `Stream` to `LazyList`. `Stream` can be a bit confusing to many Java developers because of the overlap with the completely different type in Java.

[2019-07-19 00:48] danieldietrich commented on #677
In Scala, Stream & LazyList exist both, whereas Stream was deprecated. LazyList is lazy in both, its head and its tail.

I'm not sure if the head can be easily made lazy in Java (without significantly increasing the mem footprint) because Java has no notion for lazy evaluated parameters.

I will reopen this issue and postpone it to 2.0 because we already re-designed the type hierarchy. Additions l

[2019-07-19 01:11] danieldietrich commented on #2419
It isn't a VAVR bug. It is a wrong application of pattern matching.

This is the way it works:

[code]

[2019-07-19 01:11] #2419 closed

[2019-07-19 01:46] #1825 closed

[2019-07-19 11:07] nfekete commented on #677
Isn't it just the matter of accepting a supplier instead of a concrete value for the head element?

[2019-07-19 14:44] danieldietrich commented on #677
Maybe, that was also my first thought. On the one side, it is more heavy weight. On the other side I think we experimented with it a few years ago and came to the conclusion that it was problematic to some extend. I can’t remember atm.

[2019-07-20 22:16] roookeee opened #2453 "Look into mutation testing"
I see that VAVR has some pretty high test coverage (>90%) but I stumbled upon [this](https://github.com/vavr-io/vavr/commit/6a3788d8604046ad1a54c86eb6e2952237d9a8c5) commit which has [this test](https://github.com/vavr-io/vavr/blob/6a3788d8604046ad1a54c86eb6e2952237d9a8c5/vavr/src/test/java/io/vavr/collection/AbstractSeqTest.java#L1595):
[code]
Combined with the other tests of said commit there is

[2019-07-20 22:40] danieldietrich commented on #2453
Thanks for your suggestion. This project is a community effort. Help is welcome!

[2019-07-21 12:27] mincong-h commented on #2453
Hi @roookeee and @danieldietrich , if you don't mind, I can give it a try.

[2019-07-21 12:34] roookeee commented on #2453
Go ahead I don't mind at all :)

[2019-07-22 11:42] mincong-h commented on #2453
Done in https://github.com/vavr-io/vavr/commit/7544480410fe235c3314d6eff897a6584c340ebb

[2019-07-22 12:29] #2453 closed

[2019-07-22 12:29] danieldietrich commented on #2453
Thx!

[2019-07-24 05:02] pivovarit commented on #2417
Great, I was aware of the library - wasn't aware of that thread. Definitely helpful!

[2019-07-24 11:39] mandrean opened #2456 "Consider adding .filterMap() or alternative .collect()"
Would be nice with either a `.filterMap()` method or an alternative `.collect()`!

Examples:

[code]
or alternatively:
[code]

(Yes, I've read http://blog.vavr.io/the-agonizing-death-of-an-astronaut/ but I believe this is a slightly different topic as one could use any predicate, not just `Objects::nonNull`.)

I realize there is also:

[code]

but it's not that easy to read and has a lot of boiler

[2019-07-25 06:50] danieldietrich commented on #2456
Thank you for the suggestion, I also think, currently it is hard to create partial functions. Your suggestion is a practical alternative. I will think about it!

[2019-07-25 07:00] danieldietrich opened #2457 "Update CONTRIBUTING.md (Maven to Gradle)"

[2019-07-25 07:11] danieldietrich opened #2458 "Add simple examples to Javadoc"
This is an ongoing issue. I would love to see contributions in form of several small PRs that successively add examples to our Javadoc.

The Javadoc should have the following general structure:

[code]

Example:

[code]

Please note that `src-gen/**/*.java` must not be edited directly. You can either skip these classes or edit `generator/Generator.sc` instead. Run `./gradlew generateSources` to re

[2019-07-25 15:14] FuncGuy commented on #2458
i'm ready to take this issue but i'm confused from where to start?

[2019-07-25 19:24] danieldietrich commented on #2458
Great! It is meant to be on a fine-grained basis. Just pick methods of your choice. I expect several persons will participate over time!

[2019-07-25 19:47] nfekete commented on #2456
There's already `filter` + `map` which is pretty nice because it uses the basic building blocks.
[code]

[2019-07-25 20:09] mandrean commented on #2456
Well yes, obviously. But one can say that about so many things. Factory methods, convenience-shortcuts/overloading etc. Why not use just the most basic blocks everywhere?

![image](https://user-images.githubusercontent.com/4631744/61904980-430d2b80-af28-11e9-8fdd-f8c1280ae2d8.png)

Because you want less boilerplate in your business code!

A factory method for `PartialFunction` could be something a

[2019-07-25 20:17] nfekete commented on #2456
I don't see
[code]
as less boilerplate than
[code]

[2019-07-25 23:23] danieldietrich commented on #2456
@nfekete is absolutely right. Martin Odersky, the creator of Scala, once said: "(...) functions that take two or more function arguments are considered to be 'bad practice'". We stated this in the past over and over again (for example [here](https://github.com/vavr-io/vavr/issues/2134#issuecomment-338772610)).

Instead of working around PartialFunction's factory methods, we might deprecate it and

[2019-07-25 23:23] #2456 closed

[2019-07-26 01:04] danieldietrich commented on #2456
@mandrean just for the sake of completeness - above, you [gave a great example](https://github.com/vavr-io/vavr/issues/2456#issuecomment-515195772) of a way too complicated API in our current version 0.10.1.

The future looks more like this (for example Try):

<img width="924" alt="Screenshot 2019-07-26 at 02 59 09" src="https://user-images.githubusercontent.com/743833/61918503-e7f02e80-af51-11e9-

[2019-07-28 17:49] mtumilowicz opened #2466 "vavr 0.9.3 workshops"
Hi, I've created vavr 0.9.3 workshops: https://github.com/mtumilowicz/java11-vavr093-workshops:
* option-workshop
* try-workshop
* partial-function-lifting-workshop
* either-workshop
* pattern-matching-workshop
* validation-workshop

Popularity is quite high as many people message me about it, so maybe it would be reasonable to pin it here somewhere?

[2019-07-29 11:44] danieldietrich opened #2467 "Fuse Function0..8 and CheckedFunction0..8"
### Motivation

This change tackles the problem of having checked exceptions in Java.

[code]

Current solutions

* using try/catch:
[code]
* using CheckedFunction1:
[code]
* using Try (cost intensive):
[code]

In 2010, Brian Goetz wrote:

<img width="581" alt="Screenshot 2019-07-29 at 13 39 46" src="https://user-images.githubusercontent.com/743833/62045787-91f7e100-b206-11e9-9dd0-2aad182cd6dd.png

[2019-07-29 14:03] nfekete commented on #2467
The only problem with the sneaky throws approach is that, you won't be able to catch a _specific_ checked exception when it gets hidden like this, because the compiler will think a specific checked exception is not thrown since it's not declared. One would have to catch the broader `Exception` type.

![image](https://user-images.githubusercontent.com/16191714/62053348-b5775780-b217-11e9-9d29-c0729

[2019-07-30 09:27] danieldietrich commented on #2467
You follow wrong assumptions. If you refactor your code or exchange third party libs, it might be a different exception that is thrown. This is how unchecked exceptions work!

Sneaky throwing is the right way because Java's idea of exceptions is broken. Today's Java programmers are already brainwashed. I talked to several developers who think that only Error and Exception exist.

But the real prob

[2019-07-30 11:00] nfekete commented on #2467
I think we're talking past each other.

I was talking about those cases where you want to only catch the specific checked exception that is being hidden from the method signatures, and in a local context. Not general error-handling in a broad, app level context. But never mind, it doesn't really matter because we would still had to do instanceof checks to filter for the specific exception type tha

[2019-07-30 23:52] danieldietrich commented on #2466
Thx, that's awesome!
We will find some place...

[2019-07-31 04:49] FuncGuy commented on #2458
thanks for adding me to the contributor list.

[2019-07-31 11:53] danieldietrich commented on #2467
### Summarizing

Given an API `Stream.map(Function)` and the wish to use it with a throwing function, like `Class::forName`, we have the following options:

| | Sneaky Throw | Unchecked Exception | Checked Exception | _Description_ |
| --- | --- | --- | --- | --- |
| **Conciseness** | ✅concise | ✅concise | 🚫wrapping | _Reduces boilerplate_ |
| **Integration** | ✅works | ✅works | 🛑blocker<sup>1)</s

[2019-07-31 13:32] rkraneis commented on #2467
Exception should be wrapped in a vavr specific `WrappedException` (plus `cause`, modulo better naming ;-)) to keep semantics. A dev would then still be able to distinguish between (sub class of) `RuntimeException` originally thrown by the code and re-thrown `WrappedException.getCause`. This would also keep vavr libraries from nesting these ever deeper.

[2019-07-31 14:04] nfekete commented on #2467
@rkraneis exactly. We're hiding checked exceptions behind higher order functions. As these are not present in these function's method signatures, that makes it impossible to catch them because of the above compiler limitation. There are many cases where we would want to handle those exceptions in the narrow context they happened, so there are two options:
 - __sneaky rethrow__: catch `Exception` a

[2019-07-31 14:14] rkraneis commented on #2467
@danieldietrich, do you still remember what your concrete objections to `sneakyThrows` where in #2049? Are they still relevant?

[2019-07-31 22:51] danieldietrich opened #2477 "Deploy snapshot on CI build (of master branch)"
See
* https://github.com/osmlab/atlas/wiki/Gradle,-Travis-CI-and-Maven-Central
* https://github.com/square/javapoet/pull/146/files

[2019-07-31 23:22] danieldietrich commented on #2467
@rkraneis the situation changed. Sneaky throw is the future now. According to the actual JVM Summit, Oracle _seems to plan_ to remove checked exceptions. That would imply that sneaky throw is the way to go. It would be fully align to future unchecked exceptions in the JVM.

<img width="594" alt="exceptions" src="https://user-images.githubusercontent.com/743833/62254774-c633f300-b3fa-11e9-86e0-ae5b

[2019-08-01 01:18] nfekete commented on #2467
That would be really nice. That's the JVMLS summit, right? It would be kind of natural to see an Oracle logo at this event. But is he authoritative on this issue? Care to elaborate, @forax? Is Oracle planning to remove checked exception from Java?

[2019-08-01 10:00] danieldietrich commented on #2424
It will stay as-is. It is a well-defined behavior.

[2019-08-01 10:00] #2424 closed

[2019-08-01 10:00] danieldietrich commented on #2466
Part of the web site, therefore closing it here...

[2019-08-01 10:00] #2466 closed

[2019-08-01 10:00] danieldietrich commented on #2451
Will be done in VAVR 2.0.

[2019-08-01 10:00] #2451 closed

[2019-08-01 19:56] Abnaxos commented on #2467
I'm missing a fourth column above: No use *Try* instead. *CheckedFunctions* should be reserved for use with *Try*. Making this a breeze to use would require to include my proposals for rethrowing or something similar. This is IMHO by far the best option.

I never use *CheckedFunctions* currently because they are declared to throw Throwable. This declaration breaks code, no one should ever `catch(T

[2019-08-01 20:10] forax commented on #2467
@nfekete,
don't trust twitter,
Oracle has no plan to remove checked exception.

[2019-08-01 20:17] nfekete commented on #2467
@forax thanks for the input. I don't trust random images from twitter, and I was highly skeptical about the implication, but I could have been wrong too dismissing it outright as false without further information. That's why I tried to ask you directly and thanks again for the clarification.

[2019-08-01 22:21] mincong-h commented on #2263
Hi all, I'm interested in this ticket and I'd like to give it a try. Would it be ok for you? My idea is to use the same overflow detection logic used by JDK 8 in [`java.lang.Math#addExact(int, int)`](https://github.com/openjdk/jdk/blob/jdk8-b120/jdk/src/share/classes/java/lang/Math.java#L776-L793) and apply it to integer, long, char and other related types.

[code]

[2019-08-02 00:40] danieldietrich commented on #2263
Hi @mincong-h,

I'm really appreciating that you'll give it a try!

The overflow detection you mentioned is throwing an exception. Throwing is not an option for us. We think functional, the result should always be defined.

The following should yield the same results. Scala returns the right result. Vavr returns the wrong result:

[code]

I think, Scala does convert the int values to long and perf

[2019-08-02 00:57] danieldietrich commented on #2467
Hi @Abnaxos and @nfekete,

thank you for your feedback. I've thought a while about it and now I think I was totally off the course. Sneaky throw would undermine safety to the max. It could blow up all applications that have VAVR as transitive dependency.

As long as Java does not officially drops checked exceptions (which will most probably never happen), we can't treat checked exceptions as unche

[2019-08-02 00:57] #2467 closed

[2019-08-02 01:49] #2477 closed

[2019-08-02 08:37] mincong-h commented on #2263
Hi Daniel, thanks for your quick reply.

Yes, agree with you. I didn't explain well, I only want to use the existing overflow-detection from JDK, but not the exception throwing part.

I don't want to do that, because this can be a solution for integer, but what about long and big integer? It doesn't sound right for me. It must be a better solution using mathematics instead of changing type.

I fee

[2019-08-02 10:01] Abnaxos commented on #2424
Sorry, I wasn't suggesting to change the behaviour of *peek()* –well, OK, I was, but that's not the primary issue. :) Bad issue reporting from my side.

My main point is that there's no API for a very common use case: offer each element to a consumer without any mapping or filtering. Like *forEach()* but as an intermediate operation instead of a terminal operation. As I wrote, I currently use this

[2019-08-02 10:06] danieldietrich commented on #2424
What would be a use-case other than performing side-effects that change the outer world. This is not a practice I want to further push than necessary.

A lightweight variant might be to operate on an iterator and finally convert to your collection of choice.

[2019-08-02 10:16] danieldietrich commented on #2424
Unfortunately, the forEach and methods can‘t return `this` because the are inherited from Iterable....

Maybe your solution is the best alternative. A touch would not make sense for lazily evaluated collections.

[2019-08-02 12:07] Abnaxos commented on #2424
A very common use case would be logging what's there.

One concrete use case where I stumbled upon this, is a compiler. The compiler should continue working when it encounters errors in order to find more errors. So, it looks at things, reports errors if it finds them, looks for more errors, transforms things further and so on. Very similar to logging, actually.

In a reactive context, you may wan

[2019-08-02 12:15] danieldietrich commented on #2417
@pivovarit I plan to include it in 2.0.0, which is already in the make but in a very early alpha state. Collections aren't part of it, currently.

I also plan to get my hands on the essential data structures BMT, Red/Black Tree and CHAMP. I'm not sure if it makes sense that you invest time.

[2019-08-02 13:19] danieldietrich commented on #2424
I understand your concerns. It would be a duplication of forEach(). Please use iterator() or toStream().

<img width="839" alt="x" src="https://user-images.githubusercontent.com/743833/62372722-82470800-b538-11e9-80ff-4b62547220a9.png">

<img width="841" alt="y" src="https://user-images.githubusercontent.com/743833/62372886-deaa2780-b538-11e9-8ca0-cdb63fdd7854.png">

forEach() is still a valid alt

[2019-08-02 13:21] danieldietrich commented on #2424
That's not true, see images above. It is exactly the same thing. However, you need to differentiate between _eager_ and _lazy_ evaluated collections. The implementation is canonical in a mathematical sense. There is nothing artificial build around, no balconies. I will not change that.

[2019-08-04 17:32] FuncGuy commented on #2458
I'm gonna pick up next please suggest.

[2019-08-12 19:25] pepijno commented on #2458
Hi, I would like to contribute. Can I add examples for `Option` or is someone already working on this?

[2019-08-14 20:46] TcpAckFrequency opened #2492 "Refactor to kotlin?"
I would be interested in refactoring the codebase into Kotlin, while I know they are used interchangeably but it'd be nice to have kotlin version of it so you don't have to write ugly code.

[2019-08-15 01:42] #2492 closed

[2019-08-20 09:40] rlindooren opened #2495 "Use CompletabeFuture.handleAsync instead of CompletabeFuture.handle in Future.fromCompletableFuture to use provided executor?"
Hi,

First of all: thanks for you awesome work on this library 👍🏻.

This is not a bug-report since I think what I'm trying to accomplish is an exceptional case.
But perhaps it is interesting for you guys.

Version used: `0.10.2`.

I was trying to pass logging [MDC](https://logback.qos.ch/manual/mdc.html) data to executor threads that execute the Future's computation.

In order to accomplish this I

[2019-08-21 09:00] danieldietrich commented on #2495
Hi, thanks for your question!

In fact, the run() call below just registers a handler on the CompletableFuture's CompletionStage.

<img width="823" alt="Screenshot 2019-08-21 at 10 51 30" src="https://user-images.githubusercontent.com/743833/63417902-72696800-c402-11e9-8dd7-100c21932235.png">

Since the given Executor is stored internally in the Future instance, subsequent operations, like onSucce

[2019-08-21 11:04] rlindooren commented on #2495
Alright, thanks for your feedback.

[2019-08-21 11:04] #2495 closed

[2019-08-21 11:43] danieldietrich commented on #2495
One more thing: `get()` generally is not a good idea. I will think about how I can improve the integration of CompletableFuture in general. Maybe we need to provide additional factory methods that reflect the behavior of the CompletionStage.handle(*) and .handleAsync(*) methods.

I will create a separate issue since we do not change the behavior of the existing method.

Thx

[2019-08-23 15:17] gerardbosch commented on #241
Hi @danieldietrich The more I learn Vavr the more I love it, thanks!

I think this was not finally implemented. Will something like this work to flatten lists?

![image](https://user-images.githubusercontent.com/30733556/63603313-b65a9980-c5c9-11e9-9469-ae71a45c97e8.png)

Maybe `List` could be `Seq` ? I can't get to see why this can or cannot work. Thx a lot!

[2019-08-25 12:32] mincong-h opened #2497 "Add more tests for boundary conditions in Array.java"
When changing conditional boundary for some cases, all existing tests still passed. For example, changing relation operator from `>=` to `>` in class `io.vavr.collection.Array`, the mutation survived:

[code]

This is discovered using pitest (http://pitest.org). Actually, it happens because Java throws the same `java.lang.IndexOutOfBoundsException` when accessing array using out-of-bound index. In

[2019-09-03 07:15] calaveraInfo opened #2499 "Wrong result of map-reduce on Set"
Vavr version 0.10.0
Bug described directly in following test:

[code]

[2019-09-03 07:37] calaveraInfo commented on #2499
Just noticed that Set.map() returns Set again which considers two ones as single element so it is propably intended, albeit unintuitive behavior. But how can I achieve the behavior I expect?

[2019-09-03 12:08] nfekete commented on #2499
While your JDK `Set`/`Stream` code uses JDK `Stream`, the most similar control structure in vavr is `io.vavr.collection.Iterator`, which you can obtain with `.iterator()`:
[code]
I would use `reduceOption` instead of `reduce` though, as the former doesn't throw on an empty collection.

[2019-09-04 12:53] alwins0n opened #2500 "Document the parallel execution behaviour of Collectors"
`java.util.Collectors.toList()` and similar collectors document the behaviour when used with a parallel stream execution:

`"... @return a {@code Collector} which collects all the input elements into a {@code List}, in encounter order"`

Since e.g. `io.vavr.collection.Vector.collector()` behaves basically the same (aside from the finisher, transforming it into a Vector) the documentation lacks inf

[2019-09-06 09:11] calaveraInfo commented on #2499
Oh, I haven't noticed that vavrs iterator is not java's standard iterator so it can be mapped etc. You are of course right about reduceOption, it was just quick test..

[2019-09-06 09:11] #2499 closed

[2019-09-08 20:38] danieldietrich opened #2503 "Optimize unzip"
![unzip](https://user-images.githubusercontent.com/743833/64494138-56324b80-d289-11e9-9a23-afc292d22f2a.jpeg)

[2019-09-11 13:39] leaumar commented on #2411
Would just like to add that Intellij actually does trigger the warning on uses of `mapFailure`:
![image](https://user-images.githubusercontent.com/3950300/64701532-3b3e2200-d4a9-11e9-9aea-d26f79085bfd.png)
![image](https://user-images.githubusercontent.com/3950300/64701842-d0d9b180-d4a9-11e9-8dd3-1528ee1d9e5b.png)

[2019-09-13 16:30] JakobBruenker opened #2505 "Add getOption() to Seq"
`Seq` has `get(int index)`, however, this is a partial function which throws an exception if the `index` is out of bonds.

As far as I can tell, there is no total function that allows you to get a specific element out of a sequence, returning an optional result. This is a method that is widespread in other contexts, for example, multiple Haskell packages have a function `(!?)` which does exactly t

[2019-09-13 20:28] nfekete commented on #2505
I thought about this for a little bit, and given that these collections are immutable, it's usually a programming error to try and get an element with an index that is out of range.

In this regard this would be different from `headOption()` and `lastOption()` as those are more like saying _give me the first/last element if the collection is not empty, otherwise return None_, and it's usefulness l

[2019-09-14 09:48] JakobBruenker commented on #2505
That might be true, but using `getOption(n)` rather than a range check for n + `get(n)` makes it a little bit less likely that a programmer will make a programming error, because now `n` is only used once. I think that by itself could be an argument in its favor.

User-provided sequences have similar use-cases to user-provided indices - for example, in a case where user supplies a `.csv` file in w

[2019-09-27 15:36] thiyagu-7 commented on #2458
Can I work on the [Value](https://github.com/vavr-io/vavr/blob/master/src/main/java/io/vavr/Value.java) class?

Happy to work on some other class too (if you have anything specific)

[2019-10-07 11:01] keremyzc opened #2509 "consumer with n elements"
is there an easy way to represent a ```Consumer3``` with n elements?

just an example;
[code]

[2019-10-08 21:33] googl3r commented on #2450
Hello, Why the interface Value is deprecated now ?

[2019-10-09 08:00] danielpmichalski opened #2510 "Update license file with copyright details and update POM/gradle.build with link to LICENSE file in repo"
Could you kindly please fill in the "Copyright [yyyy] [name of copyright owner]" section in the LICENSE file to make it an actual license, instead of a license template?

When and if done, could you also please update POM/gradle.build license's URL to point to the file on GitHub? (the URL should be something like "https://github.com/vavr-io/vavr/blob/master/LICENSE"; although, a URL to LICENSE for

[2019-10-09 08:56] danieldietrich commented on #2510
I think you misread it. It is the Appendix, not the actual license.

[2019-10-09 08:56] #2510 closed

[2019-10-09 08:58] danieldietrich commented on #2450
It is the development branch and not released. I had in mind to re-implement big parts of Vavr. But I do not have the time to do that. I will undeprecate all the things by time. It is important not to break the existing Vavr version.

[2019-10-09 09:12] danielpmichalski commented on #2510
Oops; thanks!

[2019-10-09 15:56] googl3r commented on #2450
Thank you, i cloned the repo to understand the code and then try to contribute.

[2019-10-09 17:47] danieldietrich commented on #2450
Thanks

[2019-10-20 18:02] jabrena opened #2512 "Doubt about Lifting with Either"
Hi,

I am reviewing the lifting options included in the functors `Function0-8` and I have the following doubt:

**Example 1:**

[code]

In this example, I throw and exception if the parameters are not passed in the right way and
the lifting behaviour goes fine.

**Example 2:**

[code]

In the second example, I model the first Functor returning a Either.
How to lift if I have an Either returned in

[2019-10-20 18:50] nfekete commented on #2512
`Either` has both `toOption` and `toOptional`, they both return `empty`/`none` when the `Either` is `Left`, or the wrapped value if the `Either` is `Right`. Isn't that what you're looking for?

[2019-10-20 21:15] jabrena commented on #2512
Hi @nfekete,

No, I would like to `not` but not throwing an Exception.

I would like to use this idea:

[code]

In the examples that I found about `lifting`, only the lifting is generated by an Exception but using `Either<T,R>` should run, because Either.left model a failure like an Exception.

Currently, the example showed previously doesn´t compile, so my question is, how to lift, if I use a Eit

[2019-10-20 21:45] nfekete commented on #2512
`Function.lift` is for lifting a partial function into a total function (assuming it doesn't throw any exceptions). Your second example is already a total function, so there is no need to lift it. If you would `lift` it, you would end up with a `Function2` returning `Optional<Either<String,Integer>>` which is probably not what you want. Since your function is already a total function, but you seem

[2019-10-23 15:41] jabrena commented on #2512
Many thanks for the explanation.
The issue was conceptual in my side.

Cheers

Juan Antonio

[2019-10-23 15:41] #2512 closed

[2019-10-24 11:21] kefasb opened #2513 "Is Value.forAll working properly for empty values?"
[code]
prints:
[code]
I expected:
[code]

Which is correct?

[2019-10-24 14:06] DanielGronau opened #2514 "Add a reverse method to SortedMap, SortedSet, LinkedHashMap and LinkedHashSet"
Reversing the order of entries in `SortedMap` and `SortedSet` implementations, as well as in `LinkedHashMap` and `LinkedHashSet,` is a useful operation, and is kind of awkward to do manually, especially for the maps (please correct me if there is an easy way I overlooked).

Therefore, I suggest to add a reverse() method to these classes.

[2019-10-24 22:41] nfekete commented on #2513
Vavr is correct, as the conjunctive identity is `true`, and `forAll` is essentially a conjunction. See also [Universal quantification for the empty set](https://en.wikipedia.org/wiki/Universal_quantification#The_empty_set)

[2019-11-07 15:41] FuncGuy commented on #2514
@danieldietrich if this feature is approved then i will work on this.

[2019-11-12 01:54] tconnard opened #2516 "Vector.ofAll(someListView) shouldn't preform a linear copy."
Vector.ofAll at the moment performs a linear copy when given a ListView of a Vector.
It should be able to retrive the delegate and return that.

[2019-11-20 10:15] szatmariandras commented on #1244
@danieldietrich

The constructor of `List.Cons` is private, so there is no way to create an instance of it other than through the methods on `List`. However, those return instances of `List`, so you cannot even type hint it like:
[code]

If you have the stomach you can try typecasting, but then every method on the `Cons` returns a `List` instead of `Cons`, so you get out of the non-emptyness right

[2019-11-20 22:42] danieldietrich commented on #1244
Let's wait for Java 14+. There will be Records and object deconstruction/pattern matching via switch expression introduced. I do not want to mimic Haskell or Scalaz/Cats. It should work the same way Java users would expect it from standard Java.

ATM we should not expose Cons and Nil at all because it is not clear if and how upcoming sealed types can be used in Vavr. However, I cannot just remove

[2019-11-21 08:38] szatmariandras commented on #1244
@danieldietrich

Maybe you misunderstood me. I wouldn't expose `Cons`, it only came up because you wrote

before.

I agree to not change anything on the `List` implementation itself. I'm arguing for `NonEmptyList`, which a separate type of its own, for slightly different purposes.
Here's a short one from one of the links from before:

[2019-11-22 03:03] chrylis opened #2517 "Convenient Option flatmap null handling"
I understand the basis for requiring a `flatMap` to transform a potentially null-returning function on an `Option` value, but the current API (0.10.2 and 1.0.0-a3) is exceedingly clumsy to use, when in most realistic cases a `Function<T, @Nullable U>` is available. This leads to boilerplate like this:

[code]

It would be significantly convenient to have a method called something like `flatMapUsin

[2019-11-22 07:23] danieldietrich commented on #1244
There are two reasons not to do it:

1. I don't see a benefit on the use-site? Why would one need the type List.Cons?
2. We once exposed List.Cons as return type and had to change it because we experience problems in APIs like pattern matching. Also the visitor pattern requires our APIs to return a homogenous return type.

We will leave it as is.

[2019-11-22 07:25] danieldietrich commented on #2517
Our strategic design decision is to keep the API surface area small. We prefer composability over syntactic additions / syntactic sugar. Another design goal of Vavr is to align to the Scala standard library. If the method isn't there, we also will not introduce it most probably (module type system tweaks in Java).

[2019-11-22 07:25] #2517 closed

[2019-11-22 07:34] danieldietrich commented on #2516
You mean `ofAll(Iterable)` needs to perform a check, if the given `Iterable` is already of type `Vector` and return that?

[code]

That's already the case. Please give a code example.

<img width="588" alt="Screenshot 2019-11-22 at 08 33 03" src="https://user-images.githubusercontent.com/743833/69406671-df8ee100-0d02-11ea-99ad-0ead70d98a2c.png">

**Hint:** we will not augment our implementation wi

[2019-11-22 07:59] tconnard commented on #2516
I would like to be able to receive a Vector from a JavaConverters.ListView<T, Vector<T>> after a round trip though code that expects a java.util.List without a linear copy.

[2019-11-24 01:02] danieldietrich commented on #2514
@DanielGronau yes, that makes absolutely sense!

@FuncGuy thanks for volunteering! Please go ahead!

[2019-11-24 01:17] danieldietrich commented on #2505
We align to Scala (which does not have getOption) and already provide `lift()` for that purpose:

https://javadoc.io/doc/io.vavr/vavr/0.10.2/index.html

Therefore I will close this issue

[2019-11-24 01:17] #2505 closed

[2019-11-24 07:21] mincong-h commented on #2497
Done, see 7395524be6a01327b7b8a81f6a00e69b3665e999

[2019-11-24 07:21] #2497 closed

[2019-11-24 08:58] danieldietrich commented on #2516
Thanks for clarifying it!

That should be possible

* `io.vavr.collection.JavaConverters.ListView` and
* `ListView#getDelegate()`

are package private.

We can use additional `instanceof` checks, casts to `ListView` and return `getDelegate()` **if** the delegate is of the current collection type.

We should do that for all types that implement `Seq`, namely:

* [ ] `Array`
* [ ] `CharSeq`
* [ ] `L

[2019-11-25 13:31] tapioNiemela80 opened #2518 "Traversable.sliding documentation is wrong"
According to
https://www.javadoc.io/doc/io.vavr/vavr/latest/io/vavr/collection/Traversable.html#sliding(int,int)
[1,2,3,4].sliding(5,3) = [[1,2,3,4],[4]]
should produce Iterable with 2 elements. However it produces only 1 iterable (1,2,3,4)

[2019-11-29 20:22] mincong-h commented on #2516
Hi @danieldietrich , I would like to work on this issue. Is it OK for you?

[2019-12-01 22:46] jabrena opened #2520 "Optics support"
Hi,

I would like to know if exist any plans to add Optics support in the same way than other Java libraries:
https://github.com/functionaljava/functionaljava/tree/series/5.x/core/src/main/java/fj/data/optic
https://github.com/functionaljava/functionaljava/tree/series/5.x/core/src/test/java/fj/data/optic

What do you think about the feature?

Juan Antonio

[2019-12-02 10:27] danieldietrich commented on #2520
Hi Juan,

I discussed that years ago with Jean-Baptiste Giraudeau, who implemented the feature for functional Java.

Vavr will not support optics. It is not the right direction. Our strategy is to align to native Scala (which does not have optics) while supporting as much standard Java as possible.

Mutating objects using such an abstraction as optics goes in direction of purely functional program

[2019-12-02 10:27] #2520 closed

[2019-12-02 10:51] rkraneis commented on #2520
And if you really want to wet your feet at functional programming in Java, fj is the best library out there. But from what I've heard it is more of a gateway drug to Scala ;-)

[2019-12-02 13:15] jabrena commented on #2520
Hi @danieldietrich,

I understand your point of view. I found the topic about `Optics` in the following roadmap:
http://lambdaconf.us/downloads/documents/lambdaconf_slfp.pdf

And that roadmap was generated from opinions from Developers with different levels in `FP` domain from http://lambdaconf.us/
https://www.surveymonkey.com/r/fp_ladder

[2019-12-02 13:17] jabrena commented on #2520
I found that the library `Derive4j` provide support for Optics with compatibility for `VAVR`
https://github.com/derive4j/derive4j/blob/master/README.md
https://github.com/derive4j/derive4j/blob/master/README.md#flavours

I will review in the next weeks how to use the concept. I hope that the compatibility will be nice.

Juan Antonio

[2019-12-02 13:21] danieldietrich commented on #2520
I've seen the FP ladder some years ago, when it was first published. To that time, it was controversially discussed by experts on Twitter.

IMO, it isn't necessarily the goal for an expert to climb the ladder to the top.

[2019-12-02 13:30] jabrena commented on #2520
Yes, totally agree with you Daniel, it is not necessary to reach the level 5 in `FP` in the same way that not every Engineers with OOP background are experts with `The Gang of Four` but... at least they are able to know and use if they consider.

But I respect that if the philosophy of `VAVR` doesn't include Optics/Prism is fine.
I will review if at least it is possible to be used from Deriver4j.

[2019-12-02 14:32] rkraneis commented on #2520
Optics are only supported for the FJ flavour. Went basically the same route and looked into the different functional offerings for Java but settled on Vavr as we need our code to be readable by “normal” Java devs. You can kind of write functional programs in Java, but the type system really lacks expressiveness. Vavr just works *with* Java, not *despite* it ...

[2019-12-03 08:48] jabrena commented on #2520
Related issue in `Derive4j`:
https://github.com/derive4j/derive4j/issues/96

[2019-12-03 17:54] chrylis commented on #2517
Why the discrepancy between `Optional` and `Try` in this case?

[2019-12-05 14:46] pivovarit commented on #2446
Started looking into that, check: https://github.com/vavr-io/vavr/pull/2521

Unluckily, we rely on `Tuple`s implementing `Comparable` in numerous spots. Mostly around scenarios involving variations over `zip` operations.

Are you ok with adding the following to `Traversable`?

```<U, R> Traversable<R> zipWith(Comparator<R> comparator, Iterable<? extends U> that, BiFunction<? super T, ? super U, ?

[2019-12-07 14:47] #2516 closed

[2019-12-07 14:53] #2518 closed

[2019-12-07 16:16] #2513 closed

[2019-12-07 16:21] danieldietrich commented on #2509
We need to wait for [JEP 218: Generics over Primitive Types](https://openjdk.java.net/jeps/218). Then we will be able to express all kind of functions using Vavr's Function1..8.

In this case:

[code]

Until then you have to create your own functional interface. I think the Java language architects think that's the proper way to do it in Java: choosing meaningful names for your functional interfac

[2019-12-07 16:21] #2509 closed

[2019-12-07 16:23] danieldietrich commented on #2458
We got many contributions here the last months. I will consider this issue as finished. Documentation is an ongoing task.

[2019-12-07 16:23] #2458 closed

[2019-12-07 16:59] danieldietrich commented on #2446
@pivovarit yes, this is a hard decision. On the one hand, comparable tuples are unsafe, on the other hand, removing the Comparable interface will have a significant impact on ordered collections like SortedSet and SortedMap.

Internally, I think we use the Comparable property basically only for Tuple2.comparator, which is used in zip*:

<img width="1087" alt="Screenshot 2019-12-07 at 17 43 15" src

[2019-12-07 23:45] danieldietrich commented on #2516
@mincong-h sorry for the late answer, I currently suffer the 'too-many-unread-emails' syndrome. I will consolidate the remaining issues targeted to 1.0.0. The release will happen before end of this year. I will see if there are issues that can be marked with 'help wanted' :)

Many thanks for your helping hand!

[2019-12-08 00:01] danieldietrich commented on #2517
Vavr aligns tightly to Scala because Scala evolved over years and is well thought through. Java's API seems artificial. Take a look at `java.util.Optional.of(T)` for example, which throws if the argument is null.

Regarding your question: yes, indeed, `mapTry` is an extra method that should not be part of our API. We added it because of a problem introduced by inheritance. Try, Option and Either e

[2019-12-08 01:34] #2263 closed

[2019-12-08 04:07] pivovarit commented on #2446
Do you have an example of your specific use-cases for using comparators outside of ordered collections like SortedSet and SortedMap?

Makes sense, I was considering lifting the `Comparator` to method signatures but noticed that indeed we don't need to do that since we can just reimplement the family of `zip` methods to rely on the same comparing logic disguised as `Comparator` instance.

[2019-12-08 04:10] pivovarit commented on #2446
I have the first PoC here: https://github.com/vavr-io/vavr/pull/2524

A few notes:

1. Since `PriorityQueue` doesn't implement `SortedSet` interface, I needed to manually bypass the test infrastructure and call `PriorityQueue#of` directly for the sake of creating assertions.
2. `SortedMap` implementations are not properly tested. I'll work on that in a separate changeset that should be merged befo

[2019-12-08 05:46] pivovarit commented on #2446
Additionally, methods like `TreeSet#zipWith` should not accept `mapper`s that return objects that don't implement `Comparable`, right?

[2019-12-08 10:15] #2500 closed

[2019-12-08 10:24] #2446 closed

[2019-12-08 11:02] danieldietrich commented on #2446
@pivovarit Yes, you are right. The only _safe_ way in Java (in the presence of inheritance is):

[code]

I omitted the generic bounds. In fact, the comparator argument is in a contra-variant (= consumer) position: `Comparator<? super R>`.

[2019-12-08 13:27] pivovarit commented on #2346
I will take care of this :)

[2019-12-08 21:38] danieldietrich commented on #2441
@pivovarit I also assigned you to this one because it is already solved when you're done with #2346 ...

Thx!

[2019-12-08 21:53] danieldietrich commented on #2253
On help let's discuss it first.

[2019-12-08 21:53] danieldietrich commented on #2251
On help let's discuss it first.

[2019-12-08 21:53] danieldietrich commented on #2190
On help let's discuss it first.

[2019-12-08 21:53] danieldietrich commented on #2125
On help let's discuss it first.

[2019-12-08 21:54] danieldietrich commented on #1226
On help let's discuss it first.

[2019-12-09 15:38] thadumi commented on #2190
Should we introduce a BiTransformable<T1,T2>  (or Transformable2<T1,T2>) with the following methods?
[code]
The name Trasformable2 would be more aligned with the names of the other Vavr's interfaces, as Function1, Function2,...

Should this interface be implemented also by Try?

I think that we could introduce a common interface, not just for Either and Validation, but also for Try and Option. Thi

[2019-12-09 15:52] danieldietrich commented on #2190
For now I would not add additional interfaces. If a 3rd party app needs a common interface, it could define a functional interface on its own and just use method references to the Vavr methods.

I would just start adding overloads `peek` and `map` for the types you mentioned: Try, Option, Either and Validation.

[2019-12-10 02:34] pivovarit commented on #2251
So, as I understood there are a few things to take care of:

- [ ] prepare `of()` overloads that don't use _varargs_
- [ ] align API to use `ofAll()` for arrays and other collection types

Is there anything else you have in mind?

[2019-12-10 03:16] pivovarit commented on #2446
The implicit conversion between `TreeSet` and `HashSet` is unfortunate but feels better than allowing runtime errors.

Have you considered reworking the type hierarchy so that one doesn't need to fight the battle with inheritance?

[2019-12-11 00:33] pivovarit commented on #2346
I have bad news, the suggested solution won't work because of how generic parameters are resolved in Java.

A return type of a static method like this one will always resolve `R` to `Object` regardless of what the `f2` is:

[code]

I remember struggling with similar issues when trying to develop a user-friendly API for [parallel-collectors](http://github.com/pivovarit/parallel-collectors).

To be

[2019-12-11 04:37] marcuslange opened #2529 ".copy(...) -- feature request"
I'm wondering if you will add a copy method similar to Scala and Kotlin. One of my biggest frustrations with immutability in java is not being able to clone a value object with a couple of changed params.

[2019-12-12 00:06] thadumi commented on #2346
This is because during the type inference of For there isn't a type R provided.
Therefore for Java, your code is like
`public static <T1, T2> Function<BiFunction<T1, T2, ?>, ?> For(Future<T1> f1, Future<T2> f2)`

Anyway, in your example, the return type is not an Integer but a Future\<Integer\>. Therefore, the actual signature should be
[code]

at this point, you could cast from Future<?> to Futur

[2019-12-12 02:54] nfekete commented on #2346
@thadumi You won't be able to express generic types with passing class literals (only with very ugly double casting).

[2019-12-12 10:35] danieldietrich commented on #2346
@pivovarit @thadumi @nfekete That's right. We would need to fall back to the old 'builder-pattern' solution, by adding an intermediate class-type returned by For. But I don't wan't to do that, it blows up our API with unnecessary types.

Another solution would be to omit the 'apply' syntax. This would be even faster, because we would not produce lambda instances.

<img width="815" alt="Screenshot

[2019-12-12 11:13] danieldietrich commented on #2251
I've thought about this topic. I prefer to align to standard Java API instead of a 3rd party API like Guava.

In Java, it is common practice to have `of(T)` and `of(T...)`, e.g. see [Java's Stream API](https://docs.oracle.com/en/java/javase/13/docs/api/java.base/java/util/stream/Stream.html#of(T)).

If no one complains, I will close this issue.

---

See also

* vavr-io/vavr#350
* vavr-io/vavr#193

[2019-12-12 11:34] danieldietrich commented on #2446
@pivovarit thanks for your feedback! I think we can't get away that easy from a type hierarchy. Java is object-oriented. A SortedSet is seen as a Set. There is the other extreme: using intermediate iterators (aka Streams) instead of collections. But Vavr has to decide for one direction and the strategy is to align to Scala. At least, then it is absolutely clear how to design types and we can be su

[2019-12-12 11:53] danieldietrich commented on #2529
Hi Marcus, thanks for your question!

Yeah, Vavr's types are immutable but luckily we provide many methods to transform the current state (read: the values) of a container type (mostly monads).

What you mean are for example the case classes in Scala. There is no equivalent concept in Java 8..13. However, Java will have so called _record_ types, which are similar to Scala's case classes.

I don't

[2019-12-12 11:53] #2529 closed

[2019-12-12 12:10] keremyzc commented on #2509
Thanks Daniel, make sense, that's exactly what I did for now.

[2019-12-12 16:15] nfekete commented on #2346
I think the `For` construct is much nicer than using nested `flatMap/map`s, especially with more parameters. I would keep the construct in one way or another.

[2019-12-13 15:13] pivovarit commented on #2253
Since the `Iterator# List toList()` is already present, the actual alignment would involve just the addition of `toSeq` methods on `Iterator`?

[2019-12-13 16:43] danieldietrich commented on #2253
@pivovarit Hold your horses. I'm not sure about that. I will come back in 1 hour...

[2019-12-13 18:52] danieldietrich commented on #2253
@pivovarit Let's only cover `toSeq` in this issue.

In Scala, a List implementation is returned by toSeq. (I thought it would be Vector because it is general purpose but List is more efficient for few elements).

<img width="346" alt="Screenshot 2019-12-13 at 19 50 14" src="https://user-images.githubusercontent.com/743833/70824195-fe543500-1de1-11ea-965b-e80112659b0e.png">

If we decide to add oth

[2019-12-13 23:36] #2253 closed

[2019-12-14 02:06] pivovarit commented on #2251
Regardless of the fact if there's something to be done here, it feels like it's a part of https://github.com/vavr-io/vavr/issues/2125

[2019-12-14 11:59] #2251 closed

[2019-12-15 10:22] pivovarit commented on #1873
Done some investigating. Summarizing here:

`Array` has it already:
https://github.com/vavr-io/vavr/blob/dcd456536b26df01fcc1930baf7a2a832c808819/src/main/java/io/vavr/collection/Array.java#L147-L149

`HashSet` has it already:
https://github.com/vavr-io/vavr/blob/a53c966a27eb3ddbf88cab3de31801a35d29ea9e/src/main/java/io/vavr/collection/HashSet.java#L157-L159

`CharSeq` has it already:
https://gith

[2019-12-15 10:36] pivovarit commented on #1873
`BitSet` doesn't but I'm not sure if it is desired: https://github.com/vavr-io/vavr/pull/2539

[2019-12-16 13:03] danieldietrich commented on #1873
This looks already good. Let's close this issue. Thanks for your investigation!

[2019-12-16 13:03] #1873 closed

[2019-12-17 16:44] #2457 closed

[2019-12-23 13:14] #2190 closed

[2019-12-23 13:17] danieldietrich commented on #2125
We will revisit this issue for version 2.0.0 because Iterable and Iterator will have a different meaning there in the type hierarchy. More specifically, Iterator will not extend Iterable anymore!

[2019-12-25 08:24] pivovarit commented on #1226
Just one more note, playing around with reflection means extra inconvenience for users playing around with GraalVM and native images.

Not really a no-go, but would require digging into the internals to identify all reflection-touched classes, and apply a custom configuration to make it work.

----

I've done a quick PoC, and to be honest... it doesn't really look bad.
Have a look: https://github.

[2019-12-25 12:19] SergejIsbrecht commented on #1226
@pivovarit , you could include a file in the jar, which will tell GraalVM to include said files in the native-image generation.

I think netty is already doing it.

https://medium.com/graalvm/simplifying-native-image-generation-with-maven-plugin-and-embeddable-configuration-d5b283b92f57

[2019-12-25 22:46] danieldietrich commented on #1226
@pivovarit you solution is the right one, reflection is a no go. I was on the wrong path when fiddling around with reflection in order to make it work. The simplest form is often the best way.

[2019-12-25 22:50] danieldietrich commented on #1226
@SergejIsbrecht it would be best if we can circumvent reflection completely. Pattern matching for example will be deprecated and replaced by Java's native pattern matching (Java 14+). There are only a few places where we use Class.* methods. Maybe we can get rid of them.

I would not add explicit support for GraalVM until someone is starting to use it. I'm not convinced that GraalVM is relevant at

[2019-12-26 10:44] pivovarit commented on #1226
...and that would give us full support for GraalVM, luckily there's not much hackery going on here :)

I don't think we need to add explicit support, just wanted to raise a point that becomes more and more relevant recently.

[2019-12-26 15:43] nfekete commented on #1226
Lack of reflection is also good for cross compilation to JavaScript through GWT and/or j2cl.

[2019-12-29 09:46] danieldietrich commented on #1226
Fixed with #2546

[2019-12-29 09:46] #1226 closed

[2020-01-03 09:39] Waiyanmaing opened #2547 "Sqlcipher encrypted database with Laravel"
How to decrypt and use **sqlcipher encrypted database.sqlite file** in **larvel** . I'm use db browser to encrypt my database file.

[2020-01-03 09:41] #2547 closed

[2020-01-04 16:44] danieldietrich commented on #2514
Closed, see [this comment](https://github.com/vavr-io/vavr/pull/2548#issuecomment-570800126).

[2020-01-04 16:44] #2514 closed

[2020-01-06 22:58] heroys6 commented on #2015
@ruslansennov Thanks a lot, man

[2020-01-07 13:27] danieldietrich opened #2550 "Custom gradle tasks should execute within doLast blocks."
Custom tasks like `generateSources` should execute in a `doLast { ... }` instead of within the configuration phase.

[2020-01-10 13:59] BenediktKersjes opened #2551 "Future is not cancelled when executed in Spring application"
The following code snippet is executed in both a plain Java application and in a Controller class of a Spring application on Tomcat:

[code]

The output for the plain Java application is as follows:
[code]
Thus, the thread is interrupted and the future is cancelled after the first three executions of the loop.

However, the output of the Spring application is as follows:
[code]
Thus, the future's

[2020-01-10 14:23] BenediktKersjes opened #2552 "Chained futures keep executing although future was cancelled"
Further investigation of #2551 shows that CompletableFutures behave differently in a Spring application.

The following code using CompletableFutures stops before the `thenRun` method is executed:
[code]

Output:
[code]

However, when using the vavr future implementation, the second part is executed as well:
[code]

Output:
[code]

[2020-01-10 14:53] lpraud opened #2553 "Add removeX methods on Tuple"
It would be interesting to have remove methods on tuple to drop a value and convert the tuple to the inferior type, ie :

Tuple2<String, Integer> tuple2 = Tuple.of("1", 2);
Tuple1<Integer> tuple1 = tuple2.drop1();

It would allow chaining of drop and concat.

Thank you for your amazing work.

[2020-01-13 13:39] johanhaleby opened #2554 "Allow pattern matching as replacement for if-else chain"
First of all I'm sorry if this has been discussed before but I haven't found anything similar when searching through the issues.

In Kotlin it's possible to the `when` expression in a way that closely relates to the `Match` API in Vavr:

[code]

But you can also do this:

[code]

I'd like something similar to the second `when` example in Vavr. I.e.:

[code]

Does this makes sense? Does it already

[2020-01-13 14:01] goerge commented on #2554
Not sure, if I got you right, but given
[code]

This works:
[code]

[2020-01-13 14:32] johanhaleby commented on #2554
@goerge Thanks for your response.

I don't think I expressed my self clearly enough, sorry. What I'm after is a "generic" version of Match that only takes predicates. Here's the example again:

[code]

The important part in the example is `Case(Something::isSomething, () -> "Something")`, it doesn't have to be an int. Let's change the example a bit:

[code]

I.e. all cases takes predicates but the

[2020-01-13 14:45] goerge commented on #2554
Ok. Got you now. Afaik this is not possible as `Match` needs a value which is than passed to the pattern of `Case`.

A hack would be something like
[code]

[2020-01-13 15:14] johanhaleby commented on #2554
Yes that would work, but I think it's a bit ugly imho. I can of course wrap the initialization part (`Match(new Object())`) in my own method to hide it, but I would've hoped that it would be supported by the API. I don't suppose this is something that you would consider adding to the API or is the use case too slim?

[2020-01-13 15:28] johanhaleby commented on #2554
I actually have another example of where I do something similar in Haskell:

[code]

If I port this to Java and is using my proposed `Match` API then this would read something like:

[code]

In this simple case I could of course refactor it but the purpose of the example is to show that something similar works in other languages.

[2020-01-14 21:31] pivovarit commented on #2552
I did run your example and ended up with a correct result:
[code]

We might be dealing with a subtle concurrency issue. Will investigate in upcoming days

[2020-01-16 08:38] BenediktKersjes commented on #2552
We are using version 0.10.2.

Did you run the example in a Spring application. Using a plain Java application, I also get the correct result.

[2020-01-17 09:32] danieldietrich commented on #2551
Thank you for reporting the issue and also for your detailed investigation!
I will further investigate the issue.

[2020-01-17 09:32] danieldietrich commented on #2552
Thanks for reporting!
It seems odd that a Spring application behaves differently. Does it change the default Java ExecutorService at runtime? I will check that...

[2020-01-17 09:45] danieldietrich commented on #2553
Thank you for the kind words :)

I like the idea!

Regarding the naming, the collections use `drop(n)` to remove the first `n` head elements. The `Seq` interface (which is similar to `Tuple`) has `remove(Object)` and `removeAt(int)`. However, we used `removeAt` in order to avoid ambiguities with `remove`.

Because the is no risk of having these kind of ambiguities, I would use the shorted `remove1

[2020-01-17 10:45] danieldietrich commented on #2554
Hi & thanks for your suggestion.

In fact we once had that API (beside other syntactic sugar) in the early days but we struggled with ambiguities. Therefore we decided to only accept Pattern* as first parameter.

Regarding the future of Vavr, the Match API will be deprecated at some point in favor of the upcoming pattern matching / object deconstruction feature of Java.

I'm aware that Java's swit

[2020-01-17 10:45] #2554 closed

[2020-01-17 11:29] lpraud commented on #2553
@danieldietrich I can submit a Pull request about this feature, if you allow me

[2020-01-17 11:32] johanhaleby commented on #2554
@danieldietrich Thanks for your reply and thorough explanation.

[2020-01-17 11:37] agrison commented on #2553
I saw your tweet this morning and thought it was a good shot to contribute to this library I'm using daily.
I've got it covered here this morning: https://github.com/agrison/vavr/commit/4e888fcdc27b68abe1a48f0e54c9a6a2e1a03961

[2020-01-17 12:20] danieldietrich commented on #2553
I guess starting a racing duel [on Twitter]() wasn't a good idea, now we have a race condition...

I will review the @lpraud's [PR]() now. It already has tests implemented.......

Thank you so much @agrison for getting your hands on this issue!

Thank you @lpraud for creating the PR.

\- Daniel

[2020-01-17 12:28] agrison commented on #2553
Tests were also implemented in my commit ;)

I thought no one wanted to do it since the issue was open 7 days ago

[2020-01-17 12:30] danieldietrich commented on #2553
Oh nooo, blame on me. Sorry!

I'm currently solving one of the last issues and then I will release Vavr 1.0 !! It will be a release that polishes 0.10.x and prepares post 1.0 efforts. There's much more to come after that!

[2020-01-17 12:31] danieldietrich commented on #2553
Solved with #2555

[2020-01-17 12:31] #2553 closed

[2020-01-17 12:32] agrison commented on #2553
No big deal, no big deal, @lpraud wanted the feature in the first place, it's fair he can provide the solution if he's able to do it and has done it already ;-)

Cheers

[2020-01-17 12:39] danieldietrich opened #2556 "Undeprecate API.For DSL"
Related to #2346

[2020-01-17 12:40] lpraud commented on #2553
Thanks, didn't wanted to  pre-empt your work. I also wanted to try working with the code generator.

[2020-01-31 11:32] kefasb opened #2559 "partition method seems to not work correctly, comparing to scala"
Hello, I spotted a weird behaviour of partition method.
I include code examples from Java and Scala which I used to make the comparison.

Java
[code]

Scala
[code]

The Java output is:
`(HashSet(), HashSet())`

The Scala output is:
`(Set(),Set(apple, banana))`

I think the difference is because vavr traverses the collection and checks the predicate twice while scala does it once.

Is this a bug or

[2020-01-31 11:48] kefasb commented on #2559
I used vavr 0.10.2

[2020-01-31 11:57] danieldietrich commented on #2559
You are right! We need to change that.

Generally, we focus on immutable objects. Your case is very special, because the predicate also mutates the object on every call. Normally, you would expect that a predicate reflects a state without changing the state.

But I understand your concern, our goal is to align to Scala.

The affected code lines in HashSet are:

[code]

Here we filter twice. We sho

[2020-02-11 09:55] whirlwin opened #2560 "Update URL in repository description"
The URL in the repository description uses HTTP, but should use HTTPS.

[2020-02-11 16:23] danieldietrich commented on #2560
Thanks for the hint.

The old one http://vavr.io redirects to https://www.vavr.io.

I changed it to the new one https://www.vavr.io. Please note that https://vavr.io does not work. I think it somehow has to do with my provider. I did not buy a SSL certificate there.

[2020-02-11 16:52] nfekete commented on #2560
You've got a let's encrypt certificate for `www.vavr.io`, which you could probably create for free for `vavr.io` as well, maybe a combined one for `vavr.io` + `www.vavr.io`. I'm not sure about what certificates Let's encrypt provides, but maybe even `vavr.io` + `*.vavr.io` would be possible.

As for why `http://vavr.io` works but `https://vavr.io` doesn't, that's because your DNS provider serves a

[2020-02-12 10:22] danieldietrich commented on #2560
Nándor, thank you for your thoughts!

I'm not aware of that. Currently, the site is hosted on GitHub. Maybe the certificate is owned by GitHub.

Maybe I will move the site to somewhere else midterm, probably to our sponsor http://clever-cloud.com/

Meanwhile I could test your suggestion regarding the A records.

May I ask which HEAD tool you use? Mine says (on a Mac):

[code]

[2020-02-12 10:22] danieldietrich commented on #2560
I reopen this ticket in order to solve the certificate issue.

[2020-02-12 23:17] nfekete commented on #2560
My guess is that GitHub obtains a certificate from Let's Encrypt in an automated way on your behalf.

You can use this command to get certificate info:
[code]

I use Ubuntu 18.04.3 LTS on Windows Subsystem For Linux. The package containing `HEAD` is
[code]
Your `HEAD` seems to be the same as `head`. It appears that the HFS+ filesystem MacOS uses by default is case insensitive.
You could use  `curl

[2020-02-13 21:42] larousso commented on #2346
Hi, I have the feeling that this is a `zip` method that could be in `Either`, `Option`, `Future`...

[code]
and so on ...

[2020-02-14 17:31] danieldietrich commented on #2346
@larousso
Thank you for sharing your thoughts!
The goal of this issue is to reduce the number of overloads of the methods.
You suggestion would introduce N versions of .zip x number of types (Option, Try, ...), where N is the max function arity.
My current strategy is to reduce the number of such API overloads. I will do this not only in API.java but also in Try, there we have several Try.withReso

[2020-02-17 04:06] devinrsmith commented on #1292
Efficient `headMap`, `tailMap`, and `subMap` are *the* essential methods I would expect when working with a sorted map - while looking around vavr, it looks like these are not implemented?

Looking at the `RedBlackTree#find` implementation, it seems like with a bit of additional work, RBT could support these types of range-based operations?

[2020-02-17 08:17] larousso commented on #2346
OK I understand your point but as a end user I find it conveniant to have the list of methods I can use using `ctrl space` and find what I can use using the signature of the methods.

[2020-02-19 09:22] bgulowaty commented on #2411
I'm also experiencing this issue with intellij/JDK11 using 0.10.2.
Shouldn't this issue be considered as something that requires improvement, and therefore reported as a bug?

[2020-02-19 11:27] danieldietrich commented on #2411
It can't be improved by Vavr. IntelliJ IDEA behaves differently than javac (which does not emit a warning). So the right place would be to create a bug on the IntelliJ IDEA bug tracker.

Btw - the pattern matching API will be deprecated in favour of Java's native pattern matching.

[2020-03-03 12:17] #2550 closed

[2020-03-13 00:24] #2442 closed

[2020-03-18 11:26] danieldietrich commented on #1292
Yes, we have this on the radar. We will implement the standard Java interfaces NavigableSet and NavigableMap.

[2020-03-18 11:35] danieldietrich opened #2568 "Backport #2519 to 0.10.3"
See #2519

[2020-03-22 06:20] carnott-snap opened #2569 "implement diff for map"
Set::diff is really helpful for calculating set difference, unfortunately, unlike Guava which has [Maps.difference](https://guava.dev/releases/snapshot/api/docs/com/google/common/collect/Maps.html#difference-java.util.Map-java.util.Map-), there is nothing in Map.

[2020-03-24 14:47] bruto0 opened #2570 "add shortcut methods to Match API"
e.g.
[code]
This would allow to reduce the number of unnecessary names in resulting expressions

also this:
[code]
would be a more familiar alternative to MatchOpt(...).getOrElse(...)

[2020-03-26 20:21] mincong-h commented on #2568
Hello @danieldietrich , I can handle this backport. However, there is no maintenance branch on v0.10, could you create one? Without it, I cannot send a pull-request... The backport is ready here: https://github.com/mincong-h/vavr/tree/v0.10. You can also compare the changes with v0.10.2 here: https://github.com/vavr-io/vavr/compare/vavr-io:v0.10.2...mincong-h:v0.10?expand=1

[2020-03-28 10:44] mincong-h opened #2571 "Support Option.orNull"
Support `Option#orNull()` as defined in Scala `Option`. See https://github.com/scala/scala/blob/v2.13.1/src/library/scala/Option.scala#L221

[2020-03-28 10:47] mincong-h commented on #2571
If adding more methods to align with Scala library is a good idea, I can do more in the future.

[2020-04-03 02:37] moaxcp opened #2573 "Automatic module name missing since change to gradle"
I noticed when upgrading to 0.10.2 that the module name no longer works. It is in the maven build but I don't see it being set in gradle.

[code]

[code]

[2020-04-24 20:53] oliviercailloux opened #2574 "Try#getOrElse marked deprecated by Eclipse"
Using `io.vavr:vavr:1.0.0-alpha-3` in an Eclipse Maven project, `myTry.getOrElse(…);` (where `myTry` is of type `Try<Something>`) is marked as deprecated by Eclipse. The source code does not indicate getOrElse as being deprecated, however. Switching to `io.vavr:vavr:1.0.0-alpha-2` solves the problem.

I suspect either that the compiled code marks `getOrElse` as deprecated and the source and compil

[2020-04-25 08:52] oliviercailloux commented on #2574
Possibly related to #2450?

[2020-04-25 11:03] danieldietrich commented on #2574
There are a lot of deprecations in the current source - too many. That makes no sense. It confuses new users who haver breaking builds on compiler warnings.

Don't think too much about it. The alpha versions should not be used. There is almost all missing in these versions. I will release a fresh version of Vavr with 1.0. It will not contain any deprecations.

[2020-04-25 11:11] danieldietrich commented on #2573
Yes, that's right. It did not work at all the way we implemented it. There were overlapping namespaces. We will fix that in the upcoming version 1.0

[2020-04-25 11:14] #2571 closed

[2020-04-28 09:41] danieldietrich commented on #2568
Hi mincong-h, thanks for your work, it really helps! 😊
I've created the v0.10 maintenance branch: https://github.com/vavr-io/vavr/tree/v0.10

[2020-04-28 16:25] mincong-h commented on #2568
Thanks @danieldietrich ! PR sent

[2020-05-01 06:25] mincong-h commented on #2573
The automatic module name was not removed when switching from Maven to Gradle. It was removed in Maven by this commit: https://github.com/vavr-io/vavr/commit/fa48892f75ce8be4237cc4c2f28572d7026969cd. @danieldietrich , could you elaborate a bit the   overlapping problem? Otherwise, since 1.0.0 development, I see modules moved to different Git repositories (vavr-match, vavr-benchmark, ...). So I gue

[2020-05-02 13:52] charvakcpatel007 commented on #2552
Spring doesn't seem to be an issue here.
You can reproduce the issue by adding Thread.sleep so that main thread doesn't terminate and get the same result. As shown below.
`public static void main(String[] args) throws InterruptedException {
		Future<Void> f = Future.run(() -> {
			int i = 1;
			while(i < 10){
				try {
					Thread.sleep(200);
				} catch (InterruptedException e) {
				}
				System

[2020-05-04 14:54] charvakcpatel007 commented on #2552
I did further research. Please refer to updated code fragment.
[code]
Here we have two future instance, f1 is the original and f2 is latter.
If we call cancel on f2, it is same example as the OPs. The output for this.
[code]

But if we change f2.cancel() to f1.cancel() it works as intended. output in that case is
[code]
Thus, future received after calling andThen ( f2 ) if we call cancel() on that

[2020-05-04 20:31] mincong-h commented on #2569
Hello @carnott-snap , do you know if there is `Maps.difference` or similar methods in Scala? I did a quick search on https://github.com/scala/scala but I didn't find any. I think the goal of VAVR is not to compare with Guava, but to align with Scala as much as possible.

[2020-05-05 10:22] mincong-h commented on #2559
@kefasb, thanks for reporting and @danieldietrich, thanks for you hints. I sent PR #2577 to fix the problem.

[2020-05-06 15:24] charvakcpatel007 commented on #2552
https://github.com/vavr-io/vavr/blob/0b7a72c8c801999538dda1e3413a6063aadab934/src/main/java/io/vavr/concurrent/Future.java#L793-L801

To make reference to my previous comment. f1 is Future of the original async task.
The above code returns f2 which is Future of an async task that adds the action to be performed after f1 is finished.
andThen call should actually return f1.
That will fix the issue.

[2020-05-11 17:17] texasbruce commented on #1194
This is marked as deprecated. What is the reason?

[2020-05-11 23:45] carnott-snap commented on #2569
I do not have experience with the scala stdlib, and was not aware vavr was tracking the scala stdlib. I just the need for this transform, and somebody commented that this exists in guava, so I started there. Do you think the feature has merit on its own, or is sticking to the scala api more important?

[2020-05-12 06:49] sleepytomcat opened #2579 "Option<>.collect() calls PartialFunction even if it is undefined for particular argument"
Expected behavior: Option<>.collect() calls PartialFunction passed as argument only for the value on which this PartialFunction is defined.

Observed behavior: PartialFunction called on values for which it is not defined, resulting in undesired behavior (i.e. unchecked exception thrown).

Example code which fails with arithmetic exception (division by zero):

    @Test
    void collect() {
		Parti

[2020-05-12 07:03] sleepytomcat commented on #2579
I'll provide a pull request if issue is confirmed.

[2020-05-13 19:12] mincong-h commented on #2569
I am probably not the right person to make the decision so I will let core maintainers to expression their ideas. In the meanwhile, I hope the following code snippet could unblock you for map usage. (I never used Guava so I hope I didn't make any mistake):

[code]

[2020-05-13 19:45] sleepytomcat commented on #2579
Pull request here: https://github.com/vavr-io/vavr/pull/2580

[2020-05-13 19:47] carnott-snap commented on #2569
slick, I was just going to use the guava logic and convert everything, but this is probably better. Plus I can just directly upstream the logic if that is the route you end up taking.

Assuming we do, you think the interface should be like guava, where a complex object that can be interrogated is returned, or more building block methods like `left.difference(right)`, `right.difference(left)`, `lef

[2020-05-13 20:48] danieldietrich commented on #2559
Thanks I will take a look!

[2020-05-13 20:53] #2441 closed

[2020-05-13 20:58] #2579 closed

[2020-05-13 21:18] danieldietrich commented on #2570
Hi @bruto0, thank you for your suggestion.

I thought about it but it does not align well to our strategy of keeping the API surface area small. This is really essential to keep the library simple and offer a great UX.

I understand that it is tempting to add syntactic sugar. But in the past, it showed that it will often not cover every use-case. Adding syntactic sugar does open the door for addin

[2020-05-13 21:18] #2570 closed

[2020-05-13 23:04] danieldietrich commented on #2559
By default, Scala's `Iterable` type, the base of all collections, provides a [default implementation](https://github.com/scala/scala/blob/v2.13.2/src/library/scala/collection/Iterable.scala#L418-L429) of `partition` that lazily iterates all elements _twice_. It is based on views:

[code]

Scala has so-called _strict_ and _lazy_ collections. The docs state that strict collections provide their own

[2020-05-14 11:23] Vampire commented on #2573
This is really problematic.
Changing a module name is like changing the package names of classes.
And removing the `Automatic-Module-Name` without replacing it by `module-info.java` with the same module name means the module name is derived from the JAR file name and thus would be `vavr` and `vavr-match`.

The major problem with this is not that if you update vavr in your project that you simply h

[2020-05-14 18:01] danieldietrich commented on #2573
I agree that a module name should not be changed. However, I see the name as bug that needs to be fixed.

We violate the rule that a module name must be prefix-free: A module name must not be prefix of another module name.

No one screamed up to this day. This tells me that either no Vavr user is using modules and/or no Vavr user is using other Vavr projects than the core project.

| Project | Aut

[2020-05-14 19:24] Vampire commented on #2573
I'm curious, where is the no-prefix rule defined? I'm not super familiar with JPMS yet, but I never heard of that rule. I thought module names are self-contained, like package names are too.

[2020-05-14 20:25] danieldietrich commented on #2573
I've double checked it (without trying it out).

Stephen Colebourne writes on his [blog](https://blog.joda.org/2017/04/java-se-9-jpms-module-naming.html):

@nicolaiparlog writes in his book ["The Java Module System"](https://www.manning.com/books/the-java-module-system), Ch. 3.2.2 "Experimenting with unreliable configurations":

Furthermore, Nicolai writes on his [blog](https://blog.codefx.org/jav

[2020-05-14 20:49] Vampire commented on #2573
As far as I understood that blog it is just a convention the author suggests to be used.
And it does not forbid one module name being a prefix of the other.
It just says if you use `de.my.foo`, then you claim that you own `de.my.foo` and all module names starting with `de.my.foo.`.
Just like it is also common practice with package names.
Also there, `de.my.foo` and `de.my.foo.bar` are not really r

[2020-05-14 22:47] danieldietrich commented on #2573
I meant that, in the best case, one module has the ownership of a package. In the case of two modules `de.my.foo` and `de.my.foo.bar` with packages of the same name, this is not the case. Even if we have the control over these two modules.

But nevertheless, it is just a convention.

Fortunately, I already did it and posted the result in the [table above](https://github.com/vavr-io/vavr/issues/257

[2020-05-15 06:02] #2573 closed

[2020-05-15 06:21] mincong-h commented on #2573
I think this is not done yet. We need to the 0.10.3 backport as you mentioned @danieldietrich :

[2020-05-15 07:04] danieldietrich commented on #2573
@mincong-h you are right, I was a little bit too early. In parallel I worked on the backport: #2583

[2020-05-15 07:10] emmanueltouzery opened #2584 "Add Seq.getOption(int) and Seq.getOrElse(int, T)"
Hi, would a PR adding Traversable.getOption be accepted? It would return `Option<T>` when getting a certain index instead of `T`.

 In fact it could be argued that this should be the default and [from what I can tell](https://stackoverflow.com/questions/4981689/get-item-in-the-list-in-scala), that's what scala does.

 Currently we're forced to do things like:

[code]

[2020-05-15 07:19] danieldietrich commented on #2584
Hi Emmanuel,

great idea! It would make sense to add it to Seq:

* Scala: [Seq.apply(Int)](https://www.scala-lang.org/api/current/scala/collection/immutable/IndexedSeq.html#apply(i:Int):A)
* Vavr: [Seq.get(Int)](https://javadoc.io/static/io.vavr/vavr/0.10.2/io/vavr/collection/Seq.html#get-int-)

[2020-05-15 07:28] #2568 closed

[2020-05-15 09:47] Vampire commented on #2573
And just for future readers that care.
The only "faulty" release is 0.10.2.
In 0.10.1 the `Automatic-Module-Name` is still set. :-)

[2020-05-15 09:50] danieldietrich commented on #2573
I fixed all previous comments accordingly :)

[2020-05-15 20:46] xenoterracide opened #2586 "document and perhaps improve Try.withResources API"
https://stackoverflow.com/questions/61737446/opencsv-header-is-missing-required-fields-found

turns out `Try.withResources` was wrong so this is really 2 feature requests

1. Document Try.withResources here https://www.vavr.io/vavr-docs/
2. Improve API, I think what I'd really like to write, if possible
[code]

[2020-05-15 23:01] danieldietrich commented on #1194
@texasbruce it is wrong, I will undeprecate it! 1.0.0 is on its way - soon!

[2020-05-15 23:12] danieldietrich commented on #2552
@charvakcpatel007 That looks great! Are you volunteering for a PR? 😊

[2020-05-15 23:17] nfekete commented on #2586
@xenoterracide could you please elaborate what you would like to see? I find it hard to figure out what you are missing just by looking at your stackoverflow question and answer. Could you describe it in clear english accompanied with a self-contained example?

[2020-05-15 23:47] danieldietrich commented on #2586
I regret that I introduced `Try.withResources` it is syntactic sugar that does not scale very well. Providing an internal DSL adds unnecessary ballast to the CPU and memory footprint.

Therefore Try.withResources will be removed in VAVR 1.0. Here is the migration path:

### VAVR 0.10.x

[code]

### VAVR 1.0

[code]

I don't think we loose anything by removing the `withResources` overloads. The opp

[2020-05-16 00:36] xenoterracide commented on #2586
[code]

[2020-05-16 01:01] danieldietrich commented on #2586
The _native try/catch_ part is a try with resources block that autocloses.

![try](https://user-images.githubusercontent.com/743833/82106461-6b694f00-9721-11ea-90ce-9653ceb103fe.png)

[2020-05-16 01:26] xenoterracide commented on #2586
I missed the parens in my reading, oops..

[2020-05-16 08:31] danieldietrich commented on #2586
Thanks for asking!

A new documentation is part of my post 1.0-release strategy. This  will  be  handled in a different issue.

The `Try.withResources` overloads will be removed. The idiomatic way to express your example about is this:

[code]

This way  you create only one Try instance instead of 1..5 (depending on the internal state).

Personally, I would not throw a new RuntimeException at the

[2020-05-16 08:31] #2586 closed

[2020-05-16 11:18] danieldietrich opened #2589 "Fix Gradle 7.0 deprecations"
The maven plugin has been deprecated. This is scheduled to be removed in Gradle 7.0. Please use the maven-publish plugin instead.

The testCompile configuration has been deprecated for dependency declaration. This will fail with an error in Gradle 7.0. Please use the testImplementation configuration instead.

[2020-05-16 11:49] danieldietrich commented on #2584
Maybe we should also add `getOrElse(int index, T defaultValue)` to `Seq<T>`. Map also has `getOrElse(K key, V defaultValue)`. It would save us one Option instance.

[2020-05-16 12:00] danieldietrich commented on #1194
@texasbruce please take a look at #2590. It is not worth the effort to keep the withDefault* methods.

[2020-05-16 12:59] danieldietrich opened #2591 "Undeprecate API"
* [ ] Remove compiler flag `-Xlint:-deprecation`
* [ ] Delete API instead of deprecating it
* [ ] Move Match API to module `io.vavr.match`, including `Predicates`, `PartialFunction` etc.

[2020-05-16 16:30] texasbruce commented on #1194
@danieldietrich Why don't we just return a wrapper class? Like how Scala does here: https://github.com/scala/scala/blob/706ef1b291134a5e5bce2275df2c222261f73451/src/library/scala/collection/immutable/Map.scala#L176

This is little code change I think.

[2020-05-16 16:52] mincong-h commented on #2559
@danieldietrich , I'm a bit lost and I need your help on this issue. So far, I created some tests to compare the behavior between Scala 2.13.2 and VAVR 1.0.0-SNAPSHOT, but I don't know which direction to continue.

On Scala side, I created a Git repo and added a test [`Issue2559Spec.scala`](https://github.com/mincong-h/vavr-issue-2559/blob/master/src/test/scala/io/vavr/issues/Issue2559Spec.scala)

[2020-05-16 16:55] emmanueltouzery commented on #2584
ok i'll add both

[2020-05-16 17:05] texasbruce opened #2592 "Seq/Map withDefault should return Seq/Map class instead of Function1"
`withDeafult` method should not be deprecated/removed because it provides benefits that getOrDefault cannot provide.

The most important one being, it builds the default value into the map itself, as part of the map's definition, and the default value can reference a local value at definition site (could be a variable in a different scope), as opposed to `getOrDefault` which needs to provide the d

[2020-05-16 17:05] texasbruce commented on #2592
This is related to issue https://github.com/vavr-io/vavr/issues/1194 and PR https://github.com/vavr-io/vavr/pull/2590

[2020-05-16 18:47] ventuno opened #2593 "Add a version of toMap that accepts a mergeFunction"
Java's [`Collectors.toMap`](https://docs.oracle.com/javase/8/docs/api/java/util/stream/Collectors.html#toMap-java.util.function.Function-java.util.function.Function-java.util.function.BinaryOperator-) has a version which takes together with a `keyMapper` and a `valueMapper` a `mergeFunction` which is used to handle collisions between multiple elements mapping to the same key.

Here's an example:
[

[2020-05-16 22:48] danieldietrich commented on #1194
@texasbruce

Don't underestimate the inherent complexity of collections. The worst part is the inheritance.

Creating a new collection type that introduces additional wrapper objects isn't a good trade for implicit default values. Also in the presence of a workaround.

I distinguish between two types of operations: _transformations_ (returning a new collection instance) and _terminal operations_ (

[2020-05-16 22:52] danieldietrich commented on #2592
As I stated [here](https://github.com/vavr-io/vavr/issues/1194#issuecomment-629715646), I see no big value of that feature. The opposite is true. There I described why it is unsafe.

I'm in doubt that it is widely used. What are your concrete use-cases? Are the workarounds I mentioned in the PR above not working for you?

[2020-05-16 23:09] texasbruce commented on #2592
`withDefault` is actually used all over our code base.

`getOrElse` requires the default value to be accessible at call site. It's common to have a manager class creating a Map , set a default value, and pass it to the worker classes. The worker class has no access to the default value due to encapsulation.

[2020-05-16 23:14] texasbruce commented on #2592
@danieldietrich `withDefault` is actually used all over our code base.

`getOrElse` requires the default value to be accessible at call site. It's common to have a manager class creating a Map , set a default value, and pass it to the worker classes. The worker class has no access to the default value due to encapsulation. Plus you will have to repeatedly pass the default value to `getOrElse` ever

[2020-05-16 23:53] danieldietrich commented on #2592
This would be your migration path:

[code]

[2020-05-17 01:24] danieldietrich commented on #2593
Hi!
we could add the following function:

[code]

**Note:** You can omit `.toVector()` in your example above because `seq` is a `Vector`.

[code]

[2020-05-17 01:47] ventuno commented on #2593
Thanks @danieldietrich I have a sample implementation at https://github.com/vavr-io/vavr/pull/2595 for a
[code]
I like it better than Java's `BinaryOperator` because that means that the `mergeFunction` is called multiple times, while we have the option to simply call it once with a list of colliding values. Let me know what you think, more than happy to change as I may not be seeing the full pictu

[2020-05-17 12:18] danieldietrich commented on #2592
I will close this question, withDefault is (currently) out of scope for us.

[2020-05-17 12:18] #2592 closed

[2020-05-17 13:14] charvakcpatel007 commented on #2552
I wanted to ask which approach makes more sense.
1) Returning Original Future or
2) Adding a callback and keeping the return of child future as it is.

[2020-05-17 14:00] danieldietrich commented on #2593
Hi @ventuno,

thank you, that sounds great!

Please change your PR the following way:

1. I see your point in using a `Function<Seq<V>, V>` but I think it isn't necessarily more performant. Creating the `Seq` comes also at a cost, which might be higher than just multiple function calls. I also think that a BiFunction (resp. a BinaryOperator) cover more general use-cases, like merging collections e

[2020-05-17 14:21] danieldietrich commented on #2552
@charvakcpatel007 I think there might be a better implementation. Could you please try the following:

[code]

Thx!

[2020-05-17 15:26] danieldietrich commented on #2559
Thank you for your analysis! That's interesting. We do it as follows:

We could create an infinite `Stream` of 0, 1, 0, 1, 0, 1, ... and partition it. If `partition` isn't lazy, the test would run forever, which is ok. We attribute that test with `@Test(timeout=5000)` or something similar.

No, I see currently no use-case. We already have `Traversable.isLazy()`, which means: `lazy := !strict`. So

[2020-05-17 15:32] #2584 closed

[2020-05-17 17:00] mincong-h commented on #2559
Thanks for your hints 👀 , Daniel! I will continue the work on it and ping you when I have progress. I'm not sure I can finish it today. If not, we may need to wait until next weekend.

[2020-05-17 17:22] danieldietrich commented on #2559
@mincong-h thanks! you don't need to rush

[2020-05-17 17:35] texasbruce commented on #1194
Not sure that's a concern of LSP. Scala has this behavior in their standard library and it is working fine. Also not sure what the cost refers to, it is literally just a typical delegate.

[2020-05-17 18:32] danieldietrich commented on #1194
I really don‘t see a problem here. We don‘t loose something by removing the existing methods. There exists a workaround than is nearly the same:

![image](https://user-images.githubusercontent.com/743833/82156684-fc087200-987c-11ea-8b76-754aba1ed2fe.jpeg)

Regarding the delegating wrappers: I question their usefulness and want to leave them away for now. Scala isn‘t doing all things right.

[2020-05-17 19:13] ventuno commented on #2593
Thanks @danieldietrich! I revised my implementation based on your comment. I'm having trouble getting the compiler to agree with me when I use `? extends K`/`? extends V` so I could probably use your input on that. Other than that, I hope this is a step in the right direction :-).

[2020-05-17 20:40] danieldietrich commented on #2593
@ventuno Thank you! If you have still problems compiling your generic bounds then give me a hint, I will take a look!

[2020-05-17 22:54] ventuno commented on #2593
Thanks @danieldietrich, finally managed to get it to compile by passing the right type witnesses.

Should I also write the version of `toMap` that accepts a `Function<? super T, ? extends Tuple2<? extends K, ? extends V>> f` and the merge function?

[2020-05-18 05:39] sleepytomcat commented on #2589
There's a pull request which covers _part_ of this issue, here https://github.com/vavr-io/vavr/pull/2597

[2020-05-19 08:21] #2593 closed

[2020-05-20 09:00] m-rossini opened #2599 "Question - What is Wrong in Try.withResources"
I am trying to use Try with resources to read file using OpenCSV like that:

[code]

and using above code I always get an empty stream.

However if I use:
[code]
Then stream has the file contents.

It makes think that anything in withResources must be fully and totally used inside the Try. Is that correct?

[2020-05-20 11:30] strkkk opened #2600 "Replacements lambda -> method references"
Hi everyone, last time in issue https://github.com/vavr-io/vavr/issues/2445 you have provided valuable feedback about new checkstyle check that should detect lambdas that can be replaced with method references.
I have made some changes and wanted to ask your feedback for new version of check.
Report of detected violations (20) in project with default check configuration (only simple cases):
https:

[2020-05-20 13:05] danieldietrich commented on #2599
Yes, you need to use

[code]

That's right. Please note that, starting with Vavr 1.0, you will use the following syntax.
It fuses the power of Vavr ⚡️ with the power of Java and does not restrict you anymore on 8 resources.

[code]

[2020-05-20 13:08] #2599 closed

[2020-05-20 13:17] danieldietrich commented on #2600
I checked your non-default report. We don't care about our tests. It makes (almost) no difference if you use lambdas instead of method references there. The code isn't released.

If we filter out the *Test classes, only 3 classes remain:

* `Function0`, `CheckedFunction0` - Could you please say, what you suggest to improve? All IntelliJ checks are fine with the code. I also can't see any possibili

[2020-05-20 14:42] danieldietrich commented on #2600
Personally, I prefer lambdas over method references from the _readability_ perspective.

**Example:**

[code]

Pros:

* method reference slightly better handled by the JVM

Cons:

* The user needs to read the whole expression until it is clear that there hides somewhere a method reference `'::'`.
* the lambda type is not clear because the arguments are _hidden_ in the method declaration of the met

[2020-05-20 14:42] #2600 closed

[2020-05-23 21:04] #2559 closed

[2020-05-26 15:43] charvakcpatel007 commented on #2552
Hi,
Right now, the action provided in andThen argument will get executed albeit if the future is canceled value inside Try will be java.util.concurrent.CancellationException. The behavior seems to be correct. because if the original future is canceled, the actions in the andThen should receive Try with failure exception.
Your suggestion will change that.

Though the bug is different.

If you look

[2020-06-08 17:19] johnpang28 opened #2603 "TreeSet fails to add element when using comparator"
When using `io.vavr.collection.TreeSet` with a `Comparator`, the `add` method can fail to add a new element to the `Set`even though it is not equal to any existing elements based on the elements `equals` implementation.

[code]

[2020-06-09 08:42] #2603 closed

[2020-06-30 22:51] gerardbosch opened #2604 "Automatic generation of patterns (a la case class)"
This is between a question and an idea (may have already been raised by others) regarding structural pattern matching.

Do you think it could be viable an annotation (maybe `@CaseClass`?, maybe other name) that when applied on a class could generate the same code that `@Patterns` + `@Unapply` generates? This is without the necessity of explicitly defining the `@Unapply` method and generate it for

[2020-07-02 12:23] rkraneis commented on #2604
I believe @danieldietrich wrote somewhere that he actually wants to trim vavr down and retire features that “are about to be implemented” in Java natively. For structural pattern matching Brian Goetz has already sketched a possible future in [Pattern Matching for Java](https://cr.openjdk.java.net/~briangoetz/amber/pattern-match.html).

First signs are also there already:
- [JEP 305: Pattern Matchi

[2020-07-03 13:21] gerardbosch commented on #2604
Yes, it seems Java will adopt structural pattern matching, although it seems to have no clear timeline for that.

On the other side, Vavr already provides a pattern matching implementation that works from Java 8 :) and very helpful for those that are far away from updating to Java 14+.

So maybe polishing it a little more can help for those on "legacy" Java versions :) It was just an idea, just to

[2020-07-05 11:34] danieldietrich opened #2605 "[internal] Generate API diff report"
https://github.com/siom79/japicmp

[2020-07-06 13:51] noel-yap opened #2606 "Is there a way to specify the PRNG that `shuffle` uses?"
If `shuffle` isn't using Mersenne Twister, I would like to tell it to do so. Better would be to specify one instance of the PRNG per class. If there's no way to do this, can one be made?

[2020-07-06 21:45] danieldietrich commented on #2606
You need to implement an appropriate version of [java.util.Random](https://docs.oracle.com/javase/8/docs/api/java/util/Random.html).

Under the hood, we call [java.util.Collections#shuffle](https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#shuffle-java.util.List-java.util.Random-)

This is our API all `Seq` types provide:

![Screenshot 2020-07-06 at 23 30 48](https://user-images

[2020-07-06 21:45] #2606 closed

[2020-07-06 21:48] danieldietrich commented on #2603
I guess you closed the issue because you figured out that TreeSet uses the given Comparator to compare elements, not the equals method, right?

If you want to use the equals method, please use a HashSet instead of a TreeSet.

Thx!

[2020-07-06 22:22] danieldietrich commented on #2552
Thanks for your analysis, @charvakcpatel007!

We align to Scala, so I double-checked Scala's Future.andThen implementation:

![Screenshot 2020-07-06 at 23 56 13](https://user-images.githubusercontent.com/743833/86652049-594eb300-bfe4-11ea-9b39-1972d384609d.png)

Our current andThen implementation is close to that of Scala's Future.

`andThen` executes the side-effecting action, 'ignores' a possibl

[2020-07-18 19:29] mincong-h opened #2607 "Method "asJava" for Map and Set"
In `Seq` interface, there is an `asJava()` method which creates an immutable `java.util.List` view on top of the `Seq`. It will be cool to see the same method for all the implementations of `Set` and `Map`, because it's a convenient way to go back from Vavr to Java collection. Compared to existing methods  `toJava{Type}`, this syntax is shorter, and the type information is provided implicitly by t

[2020-07-27 18:09] charvakcpatel007 commented on #2552
@danieldietrich  Added a PR. Seems like this much should suffice.

[2020-07-28 22:27] danieldietrich commented on #2551
Hi again,
I investigated the issue again by studying the Vavr code.
I'm afraid, I don't see any possibility how this could happen. Even if the `ForkJoinPool.commonPool()` size is 1, it can't happen in async mode (which is the case if you call `Future.of`).

Which version of Vavr do you use?

Could you provide a sample repository with a minimal Spring Boot application that shows the error? I would

[2020-07-28 22:37] #2574 closed

[2020-07-28 22:49] danieldietrich commented on #2607
Hi Mincong,
this is a duplicate of #1933, hence I will close this.
A work on this issue is very welcome!

I put much effort in testing the view methods and compared our List view with Java's ArrayList etc. I think.
Our views need to exactly behave like the Java collections, which wasn't trivial. Please take a look at the comments and existing tests...

Thanks! :)

[2020-07-28 22:49] #2607 closed

[2020-07-28 22:58] danieldietrich commented on #2604
Hi @gerardbosch !
Generally, I'm open for additions that support legacy Java versions.
@rkraneis is right, the Match API isn't my main focus anymore, I plan to move it to a dedicated repository. There will be new releases but as a separate Java module / jar. So the Vavr users can decide if the want to opt-in.

[2020-08-05 09:25] dlsrb6342 opened #2610 "Try.withResources() with Consumer"
It would be nice that can use `Try.withResources()` with `Consumer`.
But now, `Try.withResources()` only has `of(CheckedFunction1<? super T1, ? extends R> f)`.
What do you think adding `ofConsumer(CheckedConsumer<? super T1> consumer)`?

[code]

[2020-08-06 20:57] danieldietrich commented on #2249
@chisui you are right. It had historic reasons, we aligned to Scala. However, newer version of Scala also removed the Function type from Set:

<img width="851" alt="Screenshot 2020-08-06 at 22 54 53" src="https://user-images.githubusercontent.com/743833/89581967-20e70280-d838-11ea-921e-f5caf907fd4d.png">

Let's do it and also remove it!
Any volunteers for a PR?

[2020-08-06 21:11] danieldietrich commented on #2610
Hi @dlsrb6342, I'm afraid, we will drop the `Try.withResources` API in Vavr 1.0.

The migration path is to use native try-with-resources blocks within Vavr's Try.

You already can do it! Please write your example like this:

[code]

The `Try.withResources` method overloads introduced

1. unnecessary runtime overhead (additional objects got instantiated because of the fluent API)
2. unnecessary big

[2020-08-06 21:11] #2610 closed

[2020-08-20 17:57] noel-yap opened #2611 "How does Stream.distinctBy work?"
I'm not understanding how the following implementation is doing what's advertised:

[code]

AFAICT, a new local `seen` `Set` is created with each call to `distinctBy` such that `seen::add` would always return `true`. What am I missing?

[2020-08-20 18:13] noel-yap commented on #2611
Never mind. I now see that `seen` is passed into `filter` as part of `seen::add`.

[2020-08-20 18:13] #2611 closed

[2020-08-21 18:28] noel-yap opened #2613 "Stream.extend hangs sometimes"
I'm using `Stream.extend` and have noticed that it hangs sometimes. Following are some of the thread dump snapshots I've taken:

11:20:09
[code]

11:20:31
[code]

11:20:52
[code]

11:21:14
[code]

11:21:36
[code]

11:21:57
[code]

11:22:19
[code]

What's happening that's causing this?

[2020-08-23 22:10] #2249 closed

[2020-08-24 22:26] danieldietrich commented on #2613
Please provide a minimal working example (MWE) in order to reproduce it. Thx!

[2020-08-26 20:18] danieldietrich commented on #2551
Great, thank you! I will take a look

[2020-09-02 06:46] hyysguyang opened #2615 "HashMap.containsKey return false"
It's a simple HashMap contain key checking, but it return false,  after toJavaMap, the containsKey still return false.

[code]

![image](https://user-images.githubusercontent.com/637208/91941014-103c8600-ed2b-11ea-9c7e-371108390444.png)

[2020-09-02 16:03] chisui commented on #2615
You insert `"activity_id "` but look for `"activity_id"`.

[2020-09-03 00:38] hyysguyang commented on #2615
Sorry, sorry for my carelessness.

[2020-09-03 00:39] #2615 closed

[2020-09-14 20:51] nitishborade opened #2617 "How do you use Option.of(value) to achieve this?"
Hi,

Thank you for this library, however, I am unable to get my way around with Option.of(value) to achieve something like this.

[code]

The code with Option I have written as

[code]

This work if the list in Option.of(list) is not null and not empty. But, how can I perform something with the above chain to also include doing something if the list is null or empty, as simple as like just `log.in

[2020-09-15 16:25] domdorn commented on #2398
I'm currently using this in my project, maybe it is of some help for someone..
https://gist.github.com/domdorn/5f4da958ed7b9ee3b12b1e2cd41aebd2

[2020-09-15 16:29] sullis commented on #2398
I am building a Scala library that maps:
- VAVR types to Scala types
- Scala types to VAVR types

See  https://github.com/gfc-collective/gfc-vavr
and https://github.com/gfc-collective/gfc-vavr/pull/1

[2020-09-23 22:50] nfekete commented on #2617
I suggest you try [stackoverflow](https://stackoverflow.com/questions/tagged/vavr) or the [gitter channel](https://gitter.im/vavr-io/vavr) with this question. I recommend stackoverflow because–if your question is generic enough–it might benefit others too. Issue tracker is for issues.

[2020-10-20 20:25] cebaa commented on #2325
@danieldietrich When you say "In Java there will be primitive generics", you meant https://openjdk.java.net/jeps/218?

[2020-10-21 09:40] danieldietrich commented on #2325
Yes

[2020-11-28 22:37] xenoterracide opened #2619 "[Feature] Try forMap"
I've got this code

[code]

which is way nicer than you'd write otherwise, this might be better? I guess it's arguably actually longer,  easier to read, imho.

[code]

and could be implemented something like (obviously replace with `Try`, etc)

[code]

there may be another, even simpler, cleaner, solution, but this is what I came up with off the cuff. I mean, obviously even simpler would be to use

[2020-11-29 00:02] xenoterracide opened #2620 "Try.withResources requires calling of, sillily"
this seems silly

[code]

not sure why I can't just call `getOrElse` directly, but of is the only thing exposed on the return.

[2020-11-29 01:10] danieldietrich commented on #2619
Hi and thank you for your suggestion!

I think we don't need this syntactic sugar. We would widen the API surface area without too much benefit.

Syntactically, it does not make a difference if we call `Try::getOrNull` vs `TryReturns::forMapOrNull`. The only difference that remains is `p -> Try.of(() -> Toml.parse( p ))` vs `TryClass.of(Toml::parse)`.

It would be sufficient to introduce something

[2020-11-29 01:10] #2619 closed

[2020-11-29 01:25] danieldietrich commented on #2620
The reason is that Try.withResources is a **builder**, not a **factory**.

Don't bother too much, `Try.withResources` will disappear in 1.0. The idiomatic way is:

[code]

You can do that now with 0.10.3.

Background info: There are several reasons for removing the `withResources` API, most importantly

* runtime impact of builder pattern / additional instances
* blowing up the API in O(n), where

[2020-11-29 01:25] #2620 closed

[2020-11-29 01:32] danieldietrich commented on #2617
Thx! I will close it

[2020-11-29 01:32] #2617 closed

[2020-11-29 02:10] xenoterracide commented on #2620
should I be using 0.10.3 instead of 1.0.0-Alpha3?

[2020-11-29 03:00] xenoterracide commented on #2620
what you suggested didn't work. I had to put all through the collect into that try, otherwise the resource was closed before I could do it.

[code]

[2020-11-29 10:34] danieldietrich commented on #2620
yes, definitely. Alpha is always subject to change. It will break your code.

I did it from the top of my head without compiler support. I wanted to showcase the idea to use a native try-with-resources.

[2020-12-02 12:31] Monniasza opened #2621 "Suggestion: Consumer0...Consumer8"
I'd like to have a consumer with more than 2 inputs, to handle 3D iteration.

Example:
[code]

[2020-12-02 13:19] danieldietrich commented on #2621
I think the had them in an early stage of the library but removed them. Our strategy is to wait for primitive generics. Then we could use `Function3<T, U, V, void>` instead of `Consumer<T, U, V>`. I hope you understand!

[2020-12-02 13:19] #2621 closed

[2020-12-02 15:59] Monniasza commented on #2621
Since I can't post bugs or feature requests on OpenJDK, it is only solution available now.

[2020-12-02 16:18] danieldietrich commented on #2621
You don't need to post that on OpenJDK, there already exists the [JEP 218: Generics over Primitive Types](https://openjdk.java.net/jeps/218). It hasn't received an update for years and the effort is declared as XL, so I don't expect it to come to Java within the next few years.

I'm not a big fan of functions of high arity. I suggest to use the more idiomatic Java way by creating proper data objec

[2020-12-03 07:31] Monniasza commented on #2621
I use Java 8, because i can't get AdoptOpenJDK 15 with HotSpot or OpenJ9 to work, so I prefer objects with all fields public.

[2020-12-05 16:52] danieldietrich commented on #2613
Closing this issue because it is stale. I can't reproduce it without a MWE.

[2020-12-05 16:52] #2613 closed

[2020-12-07 21:21] xenoterracide opened #2622 "allow getOrElseThrow to take an Exception as an api"
You currently can't do, it would nice to be able to, but the types are wrong. I understand why Throwable is used, and

[code]
because this is more common case imo.

and as I have learned it's not possible for some reason to use throwable in super/extends, add this, it's the less common case.

[code]

[2020-12-08 02:27] xenoterracide commented on #2622
actually that last code doesn't work, I haven't found anything that actually does compile for this... even this.

[code]
[code]

[2020-12-18 10:19] kevinten10 opened #2623 "Add `sample` support for function obj."
Functions are first-class citizens.

Is it possible to provide more operators to the function object.

For example, if I want a function to be executed at sampling intervals.

Using `Lazy` can be done only once.

Whether to consider adding a module so that the function object can be executed at intervals?

E.g:

`sample(() -> { /* lambda */ }, (Predicate) () -> {/* Triggering conditions */ });`

I

[2020-12-20 05:30] kevinten10 opened #2625 "New control model of monadic."
### Now we have `Option` and `Either`

`Option` is a monadic container type which represents an optional value.

`Either` represents a value of two possible types.

### But this is not enough

If you want to express the third type(e.g. unknown), you may not be able to express it directly.
In fact, unknown is a return type that meets expectations, especially in an asynchronous environment.

Whether

[2020-12-20 16:37] danieldietrich commented on #2625
Hi @kevinten10,

this is the Vavr core library. Our goal is to tightly align to Scala. We keep the API surface area relatively small by being relatively selective in which features we support.

What's wrong with achieving the 'unknown' state by composing `Option` and `Either`, like `Option<Either<L, R>>` or `Option<Try<T>>`? We (and Scala?) do it already in the context of `Future`, where the compu

[2020-12-20 16:53] danieldietrich commented on #2623
This sounds a little bit like sth we planned (or already have) as part of our [vavr-test](https://github.com/vavr-io/vavr-test) module.

Personally I think, that we leave Vavr's core domain here. In your other issue #2625 you talked about async computations. This issue sounds a little bit like _rate limiting_ to me. I suggest that you take a look at reactive programming libraries for Java. I'm sur

[2020-12-21 10:40] CauchyPeano opened #2626 "Applicative validation - Sequence actions, discarding left or right"
I am really enjoying using `Validation` class provided by vavr library.

But sometimes it is tedious to build validating logic for common use cases in Java.

Right now main use-case for `Validation` is to use it together with calls to `combine`. This allows us to collect all successful validation and pass them to constructor function.

But usually in my experience you can already get an object fro

[2020-12-21 17:53] danieldietrich commented on #2626
I love this idea ❤️ It is the simplest form of validation I can imagine!

What about the more flexible version with a map operation involved? That way `bob` does not need to be in the scope.

[code]

Your example would be then:

[code]

I would call a `flatMap` with out the `map` involved a `flat`:

[code]

Regarding the naming, the big question is if I misuse the name `flatMap` (resp. `flat`) abo

[2021-01-01 07:11] kevinten10 commented on #2623
You mentioned in #2625 to keep the API surface area relatively small, that's good.

But in actual systems, people hope to use VAVR to achieve higher-level functions(Using the basic API cannot directly provide effective functions).

Is there a place for higher-level APIs to be implemented? because I did not find too many functions in the [vavr-test](https://github.com/vavr-io/vavr-test) module.

Wi

[2021-01-01 07:26] kevinten10 commented on #2625
Of course we can use the combination of `Option<Either<L, R>>`.

But as I mentioned in #2623.

I hope to provide a higher level API.

For example, Provide a high-level expression of `Option<Either>`, because it is very complicated to use it in actual development.

The entry point of #2625 is to provide `return value object` APIs for functions with different return types.

Can the above types of fu

[2021-01-02 08:58] CauchyPeano commented on #2626
Hi Daniel,

I am very glad that you liked this idea!

Yeah, `flatMap` idea was a bit confusing to me :)

I think `andThen` and `andThenFold` will work out really good. Name fits well. Also we don't need both right `*>` and left `<*` operations - only one is enough. If you don't mind I can make PR and maybe some examples as PoC.

Happy new year 🎉

[2021-02-03 12:05] Monniasza opened #2632 "[Suggestion] Type retaining collections"
I'd like to have type retaining versions of collections added.
These would be a good supplement for ordinary type erasure collections.
Some use cases include type checking and accepting unknown type lists

[2021-02-04 17:25] bruto1 opened #2633 "Add FunctionX.curried(X1) on top of curried()"
So it's possible to write funcOf4Args.curried(arg1) instead of funcOf4Args.curried().apply(arg1)

[2021-02-04 23:19] danieldietrich opened #2634 "Add Seq.group()"
group is a function

[code]

that groups subsequent equal elements in a Seq.

Example:

[code]

Example use case:

[code]

Currently, we need to write code like this:

[code]

[2021-02-04 23:25] danieldietrich opened #2635 "Add LinearSeq.fold((head, tail) -> U, () -> U) for pattern matching"
[code]

Example:

Instead of

[code]

we would be able to write

[code]

[2021-02-04 23:37] danieldietrich opened #2636 "Add Seq.foldIf((head, tail) -> boolean -> U, () -> U) for pattern matching"
After the (head, tail) decomposition we provide a predicate (curried form):

[code]

[2021-02-05 10:11] #2633 closed

[2021-02-05 10:12] bruto1 commented on #2633
found other flavors of apply :/

[2021-02-05 11:49] galegofer opened #2637 "Rethrow exceptions from Futures"
Having the next code using a Future in Vavr 0.10.3:

[code]

I would like to have a method on Future to be able to handle exceptions, and then being able to re-throw them, without the need to add a block method throwing the exception as displayed above.

 **.onFailure()** is not useful because it needs a Consumer and adding a block is basically a kind of hack.
**.getOrElseThrow()** neither because

[2021-02-05 16:01] qux42 commented on #2637
maybe something like this:
[code]

[2021-02-05 16:07] qux42 opened #2638 "Proposal: Future.recover() doesn't take a CheckedFunction."
Hello,

I have quite often the use case that I have a Future, that i want to recover in case a certain Exception was thrown.
This is currently only with future.RecoverWith() possible. But this adds bulkiness, because you have to create and return a new Future.

So currently the code looks like that:
[code]

Is it possible that the recover method can be changed to accept a CheckedFunction instead?

[2021-02-07 18:03] wernerdegroot opened #2640 "Proposal: Scala's "wunderbar" for functions"
Scala has the "wunderbar" which will let you apply a couple of arguments to a function while leaving others open.

The following would create a function that takes a single argument (the one we're "leaving open" with `_`):

[code]

We could implement something similar in Vavr by introducing a `Placeholder` class

[code]

We could then come up with a whole bunch of `apply`-overloads, like the follo

[2021-02-07 18:29] danieldietrich commented on #2640
Thanks for your suggestion! Unfortunately that is no option for us. My current strategy is to reduce the number of generated types in Vavr. Once we had a function and tuple arity of 26. That would be 2^26 overloads. Opening the Javadoc would blow up the browser. 😱

What is wrong with creating the function the direct way in places where you need it?

[code]

I will close this issue but the discussi

[2021-02-10 15:18] JakobBruenker commented on #2636
Wouldn't it have to be `resolve.apply(head)` or something similar?

[2021-02-10 17:50] danieldietrich commented on #2636
@JakobBruenker yes, thanks for the pointer. Switching between different languages is hard 😅

[2021-03-02 02:21] novicedev7291 opened #2643 "Consumer to consume value after Case matches pattern"
### We have 4 types of signature in Case matching
* `Case($pattern, o -> run(someSideEffects())`
* `Case($pattern, retVal)`
* `Case($pattern, SomeFunction)`
* `Case($pattern, SomeSupplier)`

Now I am little curious, why don't we have?
[code]
I appreciate if someone can answer it, thanks for the wonderful library.

[2021-03-02 12:33] danieldietrich commented on #2643
As far as I remember, the API once existed but the additional overloads introduced ambiguities on the call site.

[2021-03-02 12:46] novicedev7291 commented on #2643
What you suggest for such case?

[2021-03-02 18:34] danieldietrich commented on #2643
Match is meant to be an expression, not a statement. I would suggest not to perform side effects.

If you need to do so, maybe you could return null.

[2021-03-03 04:30] novicedev7291 commented on #2643
ok, but this may not help in my case, I have a use case where I am matching using `instanceOf` pattern and I am receiving the different objects of same interface but I need to delegate the real objects to their respective function.

Case matching converts the object in real instance object after `instanceOf` matching the class type and this saves if-else and manual casting, anyways thanks for the

[2021-03-03 08:41] danieldietrich commented on #2643
You are welcome!

There is light at the end of the tunnel: With Java 16 we will have real pattern matching for instanceof checks in if statements. I suggest to upgrade if you can.

https://openjdk.java.net/jeps/394

[2021-03-14 13:58] #2643 closed

[2021-03-22 14:46] xenoterracide opened #2645 "Try.getOrElseThrow() like Optional.getOrElseThrow()"
would be nice to have a `getOrElseThrow()` on `Try` like `java.util.Optional#getOrElseThrow()` I think the behavior would be simple to rethrow the caught exception as a `RuntimeException`

[2021-03-22 14:47] xenoterracide opened #2646 "@Deprecate things scheduled to be removed in 1.0"
As I've been told in issues earlier some things are not going to be in 1.0, it would be nice if these things were `@Deprecated` so people would know not to use them.

[2021-03-22 15:01] xenoterracide opened #2647 "mapFailure unchecked generic array creation"
[code]

I'm getting

[code]

would be nice not to get that. I see that the code has the `@SuppressWarnings` so I'm not entirely certain what `Java 11` is up to.

[code]

[code]

[2021-04-11 20:21] danieldietrich commented on #2645
The `get()` method currently rethrows the exception in an unsafe way. We use the _sneaky throw_ hack for that purpose. However, the next version will not have the sneaky throw anymore, `get()` will then throw the original exception wrapped in a `RuntimeException` in the case of a failure. There is no need to add the additional method `getOrElseThrow()`.

Meanwhile, you could either use the unsafe

[2021-04-11 20:31] danieldietrich commented on #2646
It is still in the flow a bit. Probably you would not recognize most of the changes. Some APIs will be renamed, see below.

* Instead of removing the match API, it will move to its own module and won't be part of the Vavr core jar anymore. You might still use it but I suggest to move to Java's native pattern matching when it is available.
* The conversion methods `Value.toXxx` will be moved to the

[2021-04-11 20:40] danieldietrich commented on #2647
I think `Try.mapFailure(...)` needs to be annotated with `@SafeVarargs`. This surpasses warnings at the call site.

[2021-04-11 20:50] danieldietrich opened #2652 "Typo in Try.peek"
We need to consider the strings `failureAction` and `successAction`. Currently we use just `action` for both cases:

[code]

[2021-04-11 21:18] danieldietrich commented on #2637
Vavr intends to make your programs more safe by capturing state, including exceptional state. The `getOrElseThrow` method you mentioned is a terminal operation that converts the captured state back by getting the value or throwing.

What you suggest is more like breaking the fluent API by throwing in the middle of something. That isn't how our APIs are intended to be used.

You call `.toCompletabl

[2021-04-11 21:29] danieldietrich commented on #2638
`Try` has similar methods, e.g. [recover(Class, Function)](https://javadoc.io/static/io.vavr/vavr/0.10.3/io/vavr/control/Try.html#recover-java.lang.Class-java.util.function.Function-).

The recover function would need to run async with the same executor. This would be a solution (applied to the Future interface):

[code]

A PR is appreciated!

[2021-04-11 21:46] nfekete commented on #2645
It's also confusing a little bit, because it misleads you about where the exceptions was thrown from, especially in combination with `Try.filter`. See @xenoterracide's [question on stackoverflow](https://stackoverflow.com/questions/66748240/vavr-try-filter-nosuchelementexception).

[2021-04-12 06:20] #2637 closed

[2021-04-27 12:25] dalegaspi opened #2653 "Question/Issue with Either::toTry"
Hello!

i'm currently using version 0.10.3 and i've come across an interesting issue, but this is probably due to not having a complete understanding of how `Try` or `Either` works so please bear with me:

this is the code snippet:
[code]

so the issue is that i _assume_ that if `authenticationService.resume(authRequest, ap.getCookies()` returns a `Left` it is mapped to a `Failure` when converted

[2021-04-28 15:48] yossi-c commented on #2653
I think you can achieve what you want by replacing the `toTry()` with `fold(Try::failure, Try::success)`

[2021-04-28 19:13] dalegaspi commented on #2653
thanks @yossi-c your suggestion worked...i wasn't familiar with `Either::fold`...

[code]
oddly enough, `Either::fold` returns a `Try<? extends Object>` even though the signature leads me to believe that it should return a `Try<AuthResponsePackage>` so i have to explicitly cast the parameter to the first `flatMap(...)` after the `fold(...)` but I wouldn't agonize about it too much...😝

[2021-04-29 02:55] khtan opened #2654 "Documentation uses then() but does not tell which Java library it comes from"
Hi,
I am a newbie with Vavr and looking at the sample codes to learn.

The vavr documentation has sample codes that makes use of the function "then()" but it is not provided in vavr itself. What Java library is this "then" expected to come from?

As an example, in https://docs.vavr.io/#_composition, there is a line like :
then(add1AndMultiplyBy2.apply(2)).isEqualTo(6);

I cannot compile examples l

[2021-04-29 03:16] khtan commented on #2654
I found the answer once I realized the dependency was with AssertJ
and the import statement is :
import static org.assertj.core.api.BDDAssertions.then;

[2021-04-29 03:16] #2654 closed

[2021-04-30 22:44] khtan opened #2655 "Newbie: How to Match on Either type"
In the documentation ( https://docs.vavr.io/#_patterns ), there is an example of matching the Option type :

Match(option).of(
    Case($Some($()), "defined"),
    Case($None(), "empty")
);

What is the canonical way to match Either<X,Y> type? I tried a similar pattern but it is not supported.

Either<String, Double> e = Right(12.0);

String x = Match(e).of(
    Case($Right($()), v -> v.get()),

[2021-05-03 19:21] tvelka opened #2656 "Perf of Vector.of(T element)"
What is the rationale behind `Vector.of(T element)` method? It performs terribly compared to its varargs cousin `Vector.of(T ... element)`, which builds a trie directly from the elements array.

[2021-05-04 12:31] Opalo commented on #2339
@Sir4ur0n do you have a working example of using pattern matching with annotation processor with gradle? I've added a dependency but still cannot compile it.

[2021-05-04 14:51] Sir4ur0n commented on #2339
I haven't developed in Java in many years, I won't be able to help you :sweat_smile:

[2021-05-04 19:40] Opalo commented on #2339
Ok, thanks. Managed to do that on my own ;)

[2021-05-06 04:35] Opalo commented on #2339
[Here](https://stackoverflow.com/a/67411880/542270) is my answer to the question that I was working on.

[2021-05-10 06:32] Abnaxos opened #2657 "Don't consider InterruptedException fatal"
It's not fatal and it has to be sneakyThrown, because it's a checked exception. `InterruptedException` is meant to be handled gracefully, but `Try` unconditionally sneakyThrowing any `InterruptedException` actually impedes graceful handling of interrupts. It's also inconsistent, because if `InterruptedException` is fatal, then so is `InterruptedIOException`.

I'm avoiding Vavr's `Try` because of t

[2021-05-11 06:51] mstachniuk opened #2658 "Add Validation.combine(...) with Iterator and varargs as argument"
Currently the only way for combine `Validation`  is using `combine(Validation<E, T1> validation1, Validation<E, T2> validation2)` with 1-8 arguments.
However if I have a List/Set of Validation then I can't easy combine it.

[2021-05-16 12:19] #2653 closed

[2021-05-16 12:21] danieldietrich commented on #2655
Did you import the patterns from [io.vavr.Patterns](https://www.javadoc.io/static/io.vavr/vavr/0.10.3/io/vavr/Patterns.html)?

[2021-05-16 12:35] danieldietrich commented on #2656
I see. Currently we have:

[code]

The following solution might perform better (needs to be verified):

[code]

Any volunteers for creating a PR?

[2021-05-16 15:36] sleepytomcat commented on #2656
Pull request here https://github.com/vavr-io/vavr/pull/2659

[2021-05-16 19:09] danieldietrich commented on #2656
Another word about the rationale behind `Vector.of(T)`: you are right, `of(T)` exists on the API level, because it should prevent creating an array, like in the varargs factory method `of(T...)`. In our case `of(T)` is not really needed, because currently we internally wrap the element into an array. However, I would keep the API, the implementation might change/might be improved over time.

[2021-05-16 19:09] #2656 closed

[2021-05-16 21:58] danieldietrich commented on #2657
Considering `InterruptedException` as fatal has been a deliberate design decision in Scala.

<img width="762" alt="scala" src="https://user-images.githubusercontent.com/743833/118413800-6a0a9380-b6a1-11eb-808a-cf1c1d4f1289.png">

Vavr aligns to Scala, so we follow this behavior.

<img width="762" alt="Vavr" src="https://user-images.githubusercontent.com/743833/118413822-90303380-b6a1-11eb-94dd-026

[2021-05-16 22:12] danieldietrich opened #2660 "Future.await() should throw of InterruptedException"
It is a deliberate design decision that `Try` handles `InterruptedException` as Fata, read: rethrowing it. See also [this thread](https://github.com/vavr-io/vavr/issues/2657#issuecomment-841883289). This is essential, `Try` must not swallow `InterruptedException`:

[code]

However, currently `Future.await()` is misbehaving, it does not recognize that the above examples have been interrupted.

[2021-05-18 05:51] sleepytomcat commented on #2652
PR https://github.com/vavr-io/vavr/pull/2661

[2021-05-20 02:03] sleepytomcat commented on #2652
@danieldietrich, I think we may close this issue as PR https://github.com/vavr-io/vavr/pull/2661 has been merged.

[2021-05-20 05:42] sleepytomcat commented on #2503
@danieldietrich as I understand it, the idea is to provide an overloaded unzip method that would accept two functions "unzipping" the entries, bypassing Tuple2 construction - can you please confirm?

Is this improvement still seems to be useful to implement?

Thank you.

[2021-05-21 15:37] sleepytomcat commented on #2503
Here's a PR for this, please kindly review https://github.com/vavr-io/vavr/pull/2662

[2021-05-22 15:47] sleepytomcat commented on #2503
From "!BACK-COMPAT" tag I've just realized this is not about _adding_ an optimized method, but replacing the existing one. My PR only _adds_ a method, keeping the existing one intact, so it's still back-compatible.

[2021-05-23 11:20] danieldietrich commented on #2657
To me, that's perfectly ok. An `InterruptedIOException` is nothing more than an `IOException` (with a proper reason why it failed). It is a sign to the user, that data wasn't completely read or written, so the user has to take care to sweep up the dirt. Especially, this could and should be done in a try with resources.

I think in the presence of threads, an InterruptedIOException will not replace

[2021-05-23 11:26] danieldietrich opened #2663 "Remove sneakyThrow"
See also #2380. I did that on the 1.0 branch, which is state. Actual work takes place on master (maybe we should rename it to main).

[2021-05-23 11:32] danieldietrich commented on #2658
I'm afraid, the `ap(f)` function can handle only arguments `f` of type `Function` up to arity 8.

Lists and Sets are homogenous (read: have one element type, say T). I would suggest to use multiple Validators if your have many things to validate.

That said: it isn't possible at the moment. Therefore I will close this issue.

[2021-05-23 11:32] #2658 closed

[2021-05-23 11:34] danieldietrich commented on #2645
I created #2663 and will close this.

[2021-05-23 11:34] #2645 closed

[2021-05-23 12:03] danieldietrich commented on #2503
@sleepytomcat no prob, if you work on my request for change of your PR, you could just remove the old method. Thx

[2021-05-23 12:11] danieldietrich commented on #2589
See #2644

[2021-05-24 19:39] danieldietrich opened #2666 "Replace all the static range*() methods with a Range type"
* [ ] remove range, rangeBy, rangeClosed, rangeClosedBy static factories from all collections, including Iterator
* [ ] add Range type, see https://github.com/vavr-io/vavr/blob/range/src/main/java/io/vavr/collection/Range.java

[2021-05-24 20:12] #2589 closed

[2021-05-24 23:09] danieldietrich commented on #2560
Done.

[2021-05-24 23:09] #2560 closed

[2021-05-24 23:10] #2652 closed

[2021-05-24 23:11] #2640 closed

[2021-05-24 23:14] danieldietrich commented on #2632
I don't exactly know what you mean (Java erases types) but we can't simply add new collection because we roughly align to Scala collections.

[2021-05-24 23:14] #2632 closed

[2021-05-24 23:16] danieldietrich commented on #2625
I will close this, see [my PR comment](https://github.com/vavr-io/vavr/pull/2624#issuecomment-748629935)

[2021-05-24 23:16] #2625 closed

[2021-05-24 23:17] #2569 closed

[2021-05-24 23:20] arnottcr commented on #2569
did this get implemented, or you are closing because it is stale?

[2021-05-24 23:20] danieldietrich commented on #2569
Yes, @mincong-h [suggestion](https://github.com/vavr-io/vavr/issues/2569#issuecomment-628190106) is the way to go. Java has mutable collections, so Guava's `Maps.difference` makes sense. In Vavr, collections are persistent and we have a lot more operations. Removing elements will create a new version, so it is a safe alternative to Guavas utils.

[2021-05-25 06:01] Monniasza commented on #2632
Collections that check incoming data for type and throw an exception if the check fails, and have a method to get their type.
The type is set using a constructor argument.

[2021-05-26 05:31] sleepytomcat commented on #2638
Let me jump in with PR https://github.com/vavr-io/vavr/pull/2671

[2021-05-30 10:59] #2638 closed

[2021-05-30 19:18] sleepytomcat commented on #2666
According to [this message here](https://github.com/vavr-io/vavr/issues/2450#issue-468940282), `io.vavr.Iterable` is not going to happen. Also, looking at existing implementation, most of the time `.range*()` method are implemented through `Iterator`, [like those](https://github.com/vavr-io/vavr/search?q=Iterator.rangeClosedBy).

Would it make sense for new `Range` class to be declared as
[code]
?

[2021-06-02 08:48] Abnaxos commented on #2657
The example says `InterruptedRuntimeException`. Fine for me.

The text says `InterruptedException`. I don't think this would be a good idea. More often than not (depends on the exact use case, of course), there won't be any `InterruptedException`. If it was explicitly declared, we'd have to constantly deal with a declared exception, that we know won't be thrown.

We could also go a step further an

[2021-06-06 22:08] danieldietrich commented on #2632
Performing runtime checks and throwing is unsafe. Types should be checked at compile time if possible.

[2021-06-07 13:35] rrconstantin opened #2673 "Weird behavior with io.vavr.API#Match"
I have used io.vavr.API#Match to create different types of objects (Strategy pattern), and although

`() -> new Foo() ` can be replaced with method reference Foo::new, the outcome is not as expected: when using java.util.function.Supplier, the code inside the io.vavr.API#Case gets called, although the Case was not matched. For example

    public static void main(String[] args) {
        getString

[2021-06-07 13:46] #2673 closed

[2021-06-08 18:38] Monniasza commented on #2632
The possible use of type retention is serialization, which needs to know the actual type of elements to deserialize and serialize them properly.

[2021-06-09 07:32] danieldietrich commented on #2632
Serialization is an orthogonal concern. You are able to write serializers/deserializers (that are aware of the concrete types) outside of Vavr. Take a look at vavr-jackson and vavr-gson.

[2021-06-10 10:22] ggladko97 opened #2674 "Pattern matching to the exact type"
Hi,
I use vavr API.Match for pattern matching of the exceptions (which represents the following hierarchy):

**class A extends RuntimeException
class B extends A
class C extends B**

[code]

Unfortunately, the result of such a code snippet is always a  `proceedWithA` invocation - because of instanceOf implementation: `type.isAssignableFrom(obj.getClass());`.

In my case I can just switch the order

[2021-06-11 13:03] MrcJkb opened #2675 "For comprehension for side-effecting iterations"
I was wondering if it would make sense to implement a `for` compehension for side-effecting iterations (e.g. when performing IO).
A Haskell `do` block can return a `0-tuple`. In Scala, a `for` comprehension without a `yield` is equivalent to `foreach`.  As far as I can tell, the only equivalent in a vavr `For` comprehension would be something like this:

[code]
which isn't "pretty", since it doesn

[2021-06-15 07:58] Abnaxos opened #2676 "Add tap() and/or tapEach() methods"
Collections, Options etc. should have a `tap(Consumer<? super T>)` method.

This is related to #2424, where I criticised the inconsistent behaviour of `peek()`. I still do, BTW.

Problem at hand: there has to be a way to call a function on each element of a collection/option/etc solely for its side-effect (e.g. logging). `peek()` isn't the right method for this, because depending on the underlying

[2021-06-15 13:29] danieldietrich commented on #2676
let's do it! It is great to sync with Scala. Could you clarify the difference between/define the semantics of peek/tap, forEach/tapEach?

[2021-06-15 16:52] Abnaxos commented on #2676
OK, first of all, I just saw that `toStream().peek()` won't do what I'd expect. It *always* returns only the first element, again and again.

`tap()` is for single values, therefore probably not interesting for Vavr. Now let's look at `tapEach`. I'll first establish the workaround I'm currently using to get the behaviour I want:

[code]

So, `touch()` takes a consumer and returns a function that c

[2021-06-16 02:45] staekblw opened #2677 "Is vavr production ready?"
Vavr looks very promising, but does anyone know if it is production ready or not?
Can we have a list of projects who use vavr on readme page?

[2021-06-16 02:45] staekblw opened #2678 "Is vavr production ready?"
Vavr looks very promising, but does anyone know if it is production ready or not?
Can we have a list of projects who use vavr on readme page?

[2021-06-16 04:16] emmanueltouzery commented on #2678
It very much is. We're using it in closed source production systems since 2.0rc versions and it never caused us grief. There were bugs, but none that affected us so far. We don't use all the vavr features though.

[2021-06-16 06:55] Abnaxos commented on #2657
Well, if an `InterruptedException` is caught, the thread should-reinterrupt itself, to avoid exactly this.

[code]

This way, `await()` will throw again. The propagation of an `InterruptedException`, as designed by the Java designers, happens through setting the interrupted flag on the thread. The `InterruptedException` is somewhat used as an alternative return value for methods that have to exit

[2021-06-16 07:13] staekblw commented on #2677
duplicate issue

[2021-06-16 07:13] #2677 closed

[2021-06-17 08:20] ggladko97 commented on #2674
sorry for inconvinience, basically I've mixed few things in my description.
my problem was caused by proceedWithA/B/C methods which were not lazy evaluated. If adding () -> proceedWithA/B/C, there would not be a need to pass t to them for each 'Case'. closing the issue.

[2021-06-17 08:20] #2674 closed

[2021-06-18 14:42] sendhilkumara opened #2679 "Lazy.peek() is not lazy"
I use Lazy to delay an expensive operation until needed, and I added the peek method to log the value returned on computation of Lazy as follows:

`Lazy<T> value =  Lazy.of(expensiveOperation).peek(v->log.info("expensive operation returned : {}",v));`

I would expect the expensive operation to be computed only when a get()/filter() is invoked on the Lazy object. But currently, the Lazy object eval

[2021-06-18 17:43] sleepytomcat commented on #2678
One example: there're many other libraries depending on vavr: https://mvnrepository.com/artifact/io.vavr/vavr/0.10.3/usages

[2021-06-19 10:45] sendhilkumara commented on #2678
As an anecdote to @sleepytomcat 's reply, vavr is used in [resilience4j](https://github.com/resilience4j/resilience4j) library, as is mentioned in the introduction too. This resilience4j library is used in [companies](https://github.com/resilience4j/resilience4j#companies-that-use-resilience4j) like Deutsche Telekom, AOL, Netpulse, wescale.de, Playstation Network etc. So, Indirectly vavr is being

[2021-06-30 12:15] danieldietrich opened #2680 "Change license to MIT"
I like openness, Vavr is non-commercial. Changing the license to MIT makes it easier for commercial software to adopt Vavr.

[2021-06-30 12:18] danieldietrich commented on #2679
Great idea! I made `filter`, `filterNot` and `peek` lazy like you suggested (as part of the #2557 PR).

[2021-07-01 12:39] svbrunov commented on #2663
Dear Daniel Dietrich (@danieldietrich),

It would be great to have this issue resolved and released.

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-07-05 10:43] #2678 closed

[2021-07-05 13:47] danieldietrich commented on #2676
@sleepytomcat this would be a good issue:

[code]

It needs to be implemented on each collection

[code]

Regarding the tests, I would love to see general AbstractTraversable tests, also for the expected order of side-effects. Maybe we need additional tests for Stream and Iterator (the lazily evaluated structures) because they behave slightly different but I'm not sure...

I would use a javadoc fo

[2021-07-06 16:17] timmattison commented on #1852
Updated link from other issue - http://blog.vavr.io/the-agonizing-death-of-an-astronaut/

[2021-07-26 11:28] StefanLobbenmeier opened #2682 "Design / Question: Why doesnt CheckedSupplier use Generics / Why is there even CheckedSupplier and Supplier"
I was just writing code like this in another project:

[code]

Using Generics for the Exception allows the main method to use CheckedSupplier with lamdas that do not throw an Exception. So in other words my own declaration of CheckedSupplier can be used in any cases CheckedSupplier is used or Supplier is used (right?)

So I was wondering why this is not also done in this library. Is there a good r

[2021-08-01 18:48] danieldietrich commented on #2682
We could ask the Java language architects the same question.

In Vavr, we wanted to have the simpler signature because we use `io.vavr.control.Try` to encapsulate exceptional cases.

[2021-08-05 00:02] GabpmcpML commented on #1938
Hi! I need a way for modeling OR function with Validation monoid... But I can't because combine is a AND function. Any idea?

[2021-08-12 13:01] kgyhkgyh commented on #2676
when can we use the v1.0.0? Need for this feature badly~

[2021-08-16 17:22] fagossa commented on #1938
@GabpmcpML I'm not aware of exactly what you are looking for; I think you might need another Semigroup for `Validation` because you want to change the notion of `combine` and dunno if that's possible with `vavr`. For an adhoc approach I think you could still use `Validation` but you might need to provide an equivalent of `combine`, something along `MyValidation.combineAny(varargs)`, then just iter

[2021-08-18 11:57] StefanLobbenmeier commented on #2682
I see - So I guess using Generics in the Checked Supplier would then also have to extend to Try, e.g. for the get() and getCause methods here: https://github.com/vavr-io/vavr/blob/a09f8cc3ade42677143f5c34329573fc24210bd7/src/main/java/io/vavr/control/Try.java#L619

But I understand that this is not as easy. For me the main motivation was being able to use the retry functionality of resilience4j (w

[2021-08-18 11:57] #2682 closed

[2021-08-18 15:21] GabpmcpML commented on #1938
@fagossa `combine` models a product, not a sum. I need validate an optional argument. Only validate if has a some value but composing with combine.

[2021-08-26 07:36] stfujnkk opened #2683 "There is a problem with the documents on your website."
There is a problem with the documents on your website. Tuple2 in the example should be changed to $tuple2
[Website links](https://docs.vavr.io/\#_ pattern_ matching)
[code]

[2021-08-30 04:21] sleepytomcat commented on #2676
@danieldietrich @Abnaxos I'm addressing this in https://github.com/vavr-io/vavr/issues/2676, need some clarification on how we actually want to  connect Scala and Vavr logic here.

1) From Scala 2.13 documentation:

 immediately, while lazy collections like Views and LazyLists will only apply f on each element if and when that element is evaluated, and each time that element is evaluated.

https:/

[2021-09-04 14:50] mkrzywanski commented on #2660
Should `Future::await` be declated with `InterruptedException` in method signature or not (with usage of sneakythrows)?

[2021-09-25 17:43] sullis opened #2684 "migrate to GitHub Actions"
# Background

https://arstechnica.com/information-technology/2021/09/travis-ci-flaw-exposed-secrets-for-thousands-of-open-source-projects/

[2021-09-28 11:11] GeluOltean opened #2686 "Sealed Class Support"
Hey everyone!

Considering JDK17 is a LTS version and the sealed class feature being production ready with its release, are there any plans regarding using this feature for defining parametric algebraic data types? Being able to use switch expressions to pattern match would be great for developer experience.

Not sure if using JDK17 would be out of scope for now or not, hence the issue.

[2021-09-29 21:24] tvelka opened #2688 "Optimize unfold/unfoldLeft for Lists"
At the moment the `List::unfold` and `List::unfoldLeft` are implemented as `Iteartor.unfoldLeft(...).toList()` which works but perhaps a better implementation would be
[code]
This builds the result without any additional `reverse()` operations and `Streams` in a single `for`-loop.

[2021-09-30 12:45] smthelusive commented on #2551
I have done some investigation on this and figured:
- it was reproducing only in Spring because main thread of spring app kept running. The thread running our task is a daemon thread, so in the plain java app it stops because the main thread finishes. If in plain app you add `Thread.sleep(...);` in the end, it will hold the main thread causing the app to behave the same!
- I was curious and tried

[2021-10-31 12:37] danieldietrich commented on #2686
Hi! Thank you for asking - yes, indeed, I plan to migrate to JDK17.

[2021-10-31 12:38] danieldietrich commented on #2683
Fixed & published. Thx!

[2021-10-31 12:38] #2683 closed

[2021-10-31 12:59] danieldietrich commented on #2688
Hi, improving the implementations is always welcome! Are you volunteering for a PR?

[2021-11-01 10:45] GeluOltean commented on #2686
I'd love to help out with this!

[2021-11-01 10:55] danieldietrich commented on #2686
Thank you! Please outline your idea here first, e.g.

* which Vavr types do we want to cover (Either, Option, Try and Validation but not Future, Promise and collections?)
* which actions are needed to change the codebase (use interfaces instead of abstract classes? make static inner classes public and move them into the package?)
* depend on Java 17
* any other things?

[2021-11-01 12:14] GeluOltean commented on #2686
Will do! Taking a closer look now, was waiting to clarify whether JDK17 is desired/planned.

Indeed, I was thinking about changes for Either, Option, Try and Validation. Will come back soon with a more detailed outline in a bit.

[2021-11-01 16:08] danieldietrich commented on #2686
Great to hear! Thank you!

[2021-11-12 12:27] NicklasWallgren opened #2690 "Release a new alpha build."
The release 1.0.0-alpha-4 is currently blocked by a change made in #2665.

When I run `./gradlew release --info`, I get the following error message:

[code]

[2021-11-18 08:17] szz0104 opened #2692 "toOption() should be consistent with the result of Option.of()"
https://github.com/vavr-io/vavr/blob/e43e44b683467d94df90b38b937db2eaaa6a2603/src/main/java/io/vavr/Value.java#L1187
Suggest to change to：
return (get() == null) ? Option.none() : Option.some(get());

[2021-11-18 08:29] szz0104 commented on #2692
Although the state of Try only depends on a success or a failure of a computation, reflected by the types Success and Failure, null has nothing to do with that state , but should be consistent with the result of Option.of().

[2021-11-18 08:40] danieldietrich commented on #2692
We can't do that because Option wouldn't be monadic (read: composable) anymore. We align to the semantics of Scala's Option, not to that of Optional.

Please read also our [blog post](http://blog.vavr.io/the-agonizing-death-of-an-astronaut/) on that topic.

Further reading:

* [Why java.util.Optional is broken](https://blog.developer.atlassian.com/optional-broken/) by Atlassian (2015)
* [How Optio

[2021-11-18 08:40] #2692 closed

[2021-11-18 10:44] danieldietrich commented on #2690
Ok, we are one step further, the oss sonatype credentials are now found by the build after we merged #2691.

Now there are problems signing the release...

[code]

All ssh signatures are in place, I will take a look why this does not work anymore (after migrating to Gradle 7)...

[2021-11-18 13:27] danieldietrich commented on #2690
Done! Many thanks to all helping hands!

https://search.maven.org/artifact/io.vavr/vavr/1.0.0-alpha-4/jar

[2021-11-18 13:27] #2690 closed

[2021-12-01 15:19] danieldietrich commented on #2551
Thank you so much Nataliia! That is great to hear.

[2021-12-03 17:52] sir4ur0n opened #2693 "Add `Validation.getOrElseThrow(Function<E, X>)`"
Hello, it's been a while :smile:

I'm using a bit Vavr these days and to my surprise, there is no function to transform and throw the `Invalid` of a `Validation`.
Is that on purpose? Or is there already such a function but I can't find it?

I would expect such a function `Validation.getOrElseThrow(Function<E, X>)` to be able to convert the invalid content into an exception.

`Validation` Javadoc d

[2021-12-03 17:59] danieldietrich commented on #2693
Hi Julien, just a few years 😅

Validation has been treated stepmotherly compated to Option, Either and Try. Let's change that and add (at least) this method.

Generally, we should keep Either and Validation in sync - here is [Either's function signature](https://github.com/vavr-io/vavr/blob/master/src/main/java/io/vavr/control/Either.java#L446-L471).

[2021-12-03 18:15] sir4ur0n opened #2694 "Required ossrhUsername and ossrhPassword for Gradle"
Hey,

While trying to import Vavr project in Intellij, Gradle immediately breaks (even if trying to run `gradle build`) because variables `ossrhUsername` and `ossrhPassword` are not set.

I thought it might be a good idea - if possible - to adapt `build.gradle` so that it doesn't crash when users don't try to release.

I could not find any issue mentioning this :sweat_smile: