[2014-01-31 21:00] ghost opened #1 "Create Either<L,R>"
Create io.rocketscience.java.util.Either<L,R> similar to
http://www.scala-lang.org/api/2.10.3/#scala.util.Either
taking into account that Java 8 has no pattern matching etc.

[2014-02-04 10:31] ghost opened #3 "Add ExceptionUnchecker"
see Javamagazin 3.2014 S.22

[2014-02-04 17:11] ghost opened #4 "Add more common classes"
- for xml processing (sort, filter/mutator, xslt, ...)
- type helpers (hasInterface, hasSubclass, hasSuperclass, isOfType, ...)
- Tree representation (Nodes (root, inner, leaf), traversal, ...)
- search (DepthFirstSearch, BreadthFirstSearch)
- etc.

[2014-02-04 17:59] ghost opened #5 "add Strings.isNullOrEmpty(String s) -> boolean"

[2014-02-07 06:35] ghost opened #6 "Add java.collection.tree.DepthFirstSearch and BreadthFirstSearch"
Add classes to package `java.collection.tree` for DFS/DepthFirstSearch and BFS/BreadthFirstSearch or add static methods
- `Tree.depthFirstSearch( T -> T[] )`
- `Tree.depthFirstSearch( T -> T[], Consumer<Integer> heartbeat, int heartbeatInterval )`
- `Tree.breadthFirstSearch( T -> T[] )`
- `Tree.breadthFirstSearch( T -> T[], Consumer<Integer> heartbeat, int heartbeatInterval )`

[code]

[2014-02-07 06:40] #5 closed, assigned to nobody

[2014-03-17 23:17] #1 closed, assigned to nobody

[2014-03-17 23:18] #4 closed, assigned to nobody

[2014-03-17 23:19] #3 closed, assigned to nobody

[2014-03-17 23:20] rocketscience-projects opened #7 "Ideas for enhancements of Try"
[Repenser-la-propagation-des-exceptions-avec-Java-8](http://blog.zenika.com/index.php?post/2014/02/19/Repenser-la-propagation-des-exceptions-avec-Java-8)

[2014-08-20 09:31] #6 closed, assigned to nobody

[2014-08-20 10:01] danieldietrich opened #8 "Enhance javaslang.match.Match by caze(Pattern p, Function<Object, Boolean> o)"
Invent a Pattern interface which adds more mature pattern matching capabilities to Match API.
Focus lies on object decomposition using type and value information. Wildcards would be great.

Brainstorming:

[code]

Additionally, it would be nice to provide a programatic way to create Patterns instead of an interface declaration, e.g. via Annotation, Builder, ...

The constraint is, as always for Ja

[2014-08-20 10:06] danieldietrich opened #9 "Add tree transformation capabilities to Node and Tree"
Wire together tree traversal (with walkers: preorder, inorder, postorder, level-order) and tree transformation.

Suggestion: Take the rewrite-rule approach using the Match API (enhanced by #8).

[2014-08-22 10:11] danieldietrich opened #10 "Replace fest-assertions with javaslang.Assertions using Match API"

[2014-08-22 11:01] danieldietrich opened #11 "Wrong lambda signature calculated"
Given a `function` of type `Function<T, R>` and a derived function

[code]

the result of `Lambdas.getLambdaSignature(lambda)` should be `(Function) -> R` but actually is `(Function, Object) -> Object`.

[2014-08-25 00:43] #11 closed, assigned to nobody

[2014-08-25 08:20] #8 closed, assigned to danieldietrich

[2014-08-25 08:25] danieldietrich opened #12 "Add a simple code generator to generate boilerplate like javaslang.Tuples."
Approach: use the exec plugin to execute a code generator:

[code]

[2014-08-25 08:58] danieldietrich opened #13 "Fix root directory for sources on coveralls.io"

[2014-08-25 08:58] danieldietrich opened #14 "Increase code coverage to ~100% by implementing tests"

[2014-08-25 21:49] #13 closed, assigned to danieldietrich

[2014-08-25 21:50] #12 closed, assigned to danieldietrich

[2014-08-25 21:50] #10 closed, assigned to nobody

[2014-08-26 08:27] danieldietrich opened #15 "Make parsers serializable"
Use case: reduce overhead of parsing a textual grammar to obtain a parser.

[2014-08-26 15:05] danieldietrich opened #16 "Let List.* accept Iterable<T> instead of List<T> where applicable"
Example:

List.prependAll(Iterable) will make javaslang.collection.List easier to use in conjunction with java.util Collections.

The same holds for Tree/Node, e.g. Node.attachAll(Iterable) instead of Node.attachAll(List).

[2014-08-26 15:24] #16 closed, assigned to danieldietrich

[2014-08-28 13:07] danieldietrich opened #17 "Negation of lexer and parser rules"
See http://stackoverflow.com/questions/8284919/negating-inside-lexer-and-parser-rules

[2014-08-28 13:26] danieldietrich opened #18 "Operator precedence and associativity"
precedence (priority of different operators):
* `~[a-z]+` equals `(~([a-z]))+`

associativity (binding of operators with same priority):
* `INT '^' INT '^' INT` equals `( INT '^' ( INT '^' INT ) )`
* `INT '+' INT '+' INT` equals `( ( INT '+' INT ) '+' INT )`

[2014-08-28 15:10] danieldietrich opened #19 "Warn about unreferenced lexer and parser rules in a grammar"
The Grammar parser should warn that the Rules `unused` and `UNUSED` are not used.

[code]

[2014-08-29 11:50] danieldietrich opened #20 "Implement a ReaderWriterState Monad"
These:

* http://en.m.wikipedia.org/wiki/Monad_(functional_programming)
* http://docs.typelevel.org/api/scalaz/nightly/index.html#scalaz.package$$ReaderWriterState$
* http://stackoverflow.com/questions/11619433/reader-writer-state-monad-how-to-run-this-scala-code
* https://hackage.haskell.org/package/transformers-0.3.0.0/docs/Control-Monad-Trans-RWS-Lazy.html
* http://functionaltalks.org/2013/06/2

[2014-08-31 14:46] danieldietrich opened #21 "Test serialization/deserialization of all Serializables"

[2014-09-02 00:04] danieldietrich opened #22 "Distinguish generic types at runtime despite of type erasure"
Could this help? https://gist.github.com/aslakhellesoy/3678beba60c109eacbe5

Status quo:

[code]

Goal:

[code]

[2014-09-02 00:05] #14 closed, assigned to danieldietrich

[2014-09-02 00:15] danieldietrich opened #23 "Fix whitespace handling"
Whitespace configuration:

**Update:** See also issue #27.
- Whitespace can be declared via `WS : ... -> skip ;` or `WHITESPACE : ... -> skip ;`.
- There is an implicit default whitespace declaration, e.g. `WS : [ \t\r\n]+ -> skip ;`.
- Additionally whitespace should be customizable, i.e. by overwriting the default whitespace rule
- (note: currently not clear how to distinguish `fragment` and `->

[2014-09-02 00:19] danieldietrich opened #24 "Add proper unicode handling"
Charset, Range and Literal Parsers have to escape/unescape special characters properly.

[2014-09-07 15:07] danieldietrich opened #25 "Build a proper Concrete Syntax Tree (CST)"
The current parser implementation does not distinguish between a lexing and a parsing phase. Lexing takes place while parsing. I.e. the parser changes its scope depending of the rule.

There are two kind of rules - parser rules and lexer rules. Parser rules start with a lower case character, lexer rules start with an upper case character.

When parsing takes place within a parser rule, the parser

[2014-09-10 22:41] danieldietrich opened #26 "Cleanup parse tree, e.g. empty tokens, EOF, etc."

[2014-09-13 11:21] #25 closed, assigned to danieldietrich

[2014-09-13 11:46] danieldietrich opened #27 "Uniform attributation: skip vs. fragment vs. hidden"
The Antlr parser has two phases: lexing and parsing.
* The lexer may skip characters the parser does not need to see, e.g. whitespace, comments, etc.
* The parser hides so called _fragment_ rules from the parse tree.

We see that Antlr distinguishes the fact of hiding something from the result in a technical way. Parts of the grammar are attributed in different ways because the author of the gramm

[2014-09-13 17:32] danieldietrich opened #28 "Allow user-defined quantifiers"
Given a parser T, a _user-defined quantifier_ consists of a lower bound L and an upper bound U: `T{L,U}`, where 0 <= L <= U. If L equals U we may write `T{L}`.

**Example 1:** `[a-z]{1,3}` parses a lower case letter which may occur at minimum one and at most three times.

**Example 2:** The Charset `[a-z]{3}` is equal to `[a-z]{3,3}`.

[2014-09-13 17:50] danieldietrich opened #29 "Make semicolon ';' optional"
Grammar rules can haz no semicolon. Instead of

[code]

we may write

[code]

[2014-09-13 22:40] danieldietrich opened #30 "Non-greedy quantifiers"
A greedy quantifier `?`, `*` or `+` repeats the associated token as many times as possible.

A non-greedy quantifier `??`, `*?` or `+?` first repeats the associated token as few times as required and then expands step by step while trying to match the next token by backtracking.

**Example: Greedy parsing multiline comments**

[code]

**Example: Non-greedy parsing multiline comments**

[code]

[2014-09-14 10:31] danieldietrich opened #31 "Add more semantic tests"
Code is covered 100%, now add more semantic tests.

**Example:** `javaslang.lambda.FunctionsTest` misses tests of correct behavior of `SerializablePredicate` etc.

[2014-09-14 10:41] danieldietrich opened #32 "Support direct and indirect recursion"
**Direct recursion:**

[code]

**Indirect recursion:**

[code]

[2014-09-14 10:55] danieldietrich opened #33 "Bootstrap the parser"
**1st:** Write a (textual) meta-grammar of grammars `grammar.grammar` (in its own language).

**2nd:** Programatically define an analogous grammar. Because it is a grammar for grammars it should be able to parse the textual meta-grammar defined in the first step.

[code]

**3rd:** Let the Java grammar written in the 2nd step parse the textual meta-grammar. Transform it to a new Grammar instance. T

[2014-09-14 19:46] danieldietrich opened #34 "Generate Tuples, Functions, MetaGrammar & according tests"
See also #12.

Write a generator that is compiled and run in the Maven _generate-sources_ phase.

The classes Tuples and Functions (+ tests) mentioned above are highly repetitive and an ideal target for code generation.

To take advantage of grammar evolution and continuous grammar bootstrapping (as described in #33) execute the grammar bootstrapping as part of the _generate-sources_ phase (does t

[2014-09-14 21:29] #26 closed, assigned to danieldietrich

[2014-09-19 23:59] danieldietrich opened #35 "Create a generator framework"
Create a template language which allows to write templates like this:

[code]

The template above expands to this:

[code]

The compiled template (= generator) looks like this:

[code]

See "Play Framework Starter", p. 27

[2014-09-20 10:45] danieldietrich opened #36 "Support Consumer / void return value"
S.th. similar to this:

[code]

[2014-09-20 23:02] #15 closed, assigned to danieldietrich

[2014-09-20 23:02] #21 closed, assigned to danieldietrich

[2014-09-20 23:02] #23 closed, assigned to danieldietrich

[2014-09-20 23:02] #28 closed, assigned to danieldietrich

[2014-09-21 08:10] danieldietrich opened #37 "Clean up 1st version"
- [ok] Sequence/Subrule.toString() : RulePart instead of Rule
- [xx] Code dups in parse methods
- [ok] Comments
- [#49] del isLexical() and add ParseResult.isLexical in order to check at runtime, if Subrule is lexical
- [ok] rename ParseResult.toToken() -> ParseResult.combine()
- [ok] typo: thread-safe instead of thread safe
- [ok] COMBINER = parser -> parser.flatMap(ParseResult::combine)
- [ok] B

[2014-09-22 15:29] danieldietrich opened #38 "Add more List functions"
- zip
- unzip
- splitAt
- takeWhile
- dropWhile
- ...

[2014-09-23 05:23] danieldietrich opened #39 "Tuples.as/toArray, Tuples.as/toList"

[2014-09-23 05:26] danieldietrich opened #40 "Create Streams wrapper..."
...and move List.zipWithIndex etc. to the Streams wrapper.

* The wrapper implements the delegate/decorator pattern. The original stream is augmented with additional/missing functionality.
* Perhaps move it to `javaslang.collection`.
* All _collection_.stream()/.parallelStream() methods should return this wrapper.

[2014-09-23 05:28] #38 closed, assigned to danieldietrich

[2014-09-23 06:46] danieldietrich opened #41 "Also run on openjdk8 in travis-ci"
Add `openjdk8` to the list of jdks of .travis.yml.
Ensure that code coverage runs only once. Need a test-script for that?

[2014-09-23 07:02] danieldietrich opened #42 "Remove null check in equals methods"
Hint by Lukas Eder:
null instanceof A returns false. Therefor no additional null check is necessary in equals.
See http://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.20.2

[2014-09-23 20:16] #42 closed, assigned to danieldietrich

[2014-09-23 20:31] #31 closed, assigned to danieldietrich

[2014-09-23 20:35] #41 closed, assigned to danieldietrich

[2014-09-24 11:06] danieldietrich opened #43 "Parameterized rules (functions)"
**Definition of a function:**

* `list(element, delimiter) : ( element ( delimiter element )* )?`

**Usage of a function**

* `jsonArray : '[' list(json, ',') ']'` // Java-like
* `jsonArray : '[' (list json ',') ']'` // Lisp-like

Unfortunately the Java-like notation is ambiguous, because `f(x)*` could mean:

1) `f(x)*` = `f (x)*` = `f x*`: first `f` then zero or more times `x`
2) zero or more tim

[2014-09-24 11:27] danieldietrich opened #44 "Token filters"
Allow to apply filters to tokens/rules:

* `rule & filter1 & filter2 & ...`
* `TOKEN & filter1 & filter2 & ...`

**Example Use Case: Function definition**

* function name and parameter names are identifiers but no keywords
* an identifier consists of one or more letters (upper and lower case)
* keywords: 'function', 'return'

[code]

In the context of filter, not `~` is also applicable to rules a

[2014-09-25 11:39] #17 closed, assigned to danieldietrich

[2014-09-25 17:07] danieldietrich opened #45 "Empty alternatives"
**Notation:**
- `subrule : ( alternative1 |  )`
- `rule : alternative3 | ;`

**Example:** `mayBeArray : 'var' IDENTIFIER ( '[' ']' | ) ';'`

[2014-09-25 17:09] danieldietrich opened #46 "Alternative Labels"
Alternative labels are helpful when traversing the parse tree.

[code]

[2014-09-25 17:13] danieldietrich opened #47 "Automatically find the start rule of a grammar"
Formulate and implement a strategy to find the start rule of a grammar.

[2014-09-25 18:19] danieldietrich opened #48 "Make whitespace configurable"
Follow up on #23

[2014-09-25 22:52] danieldietrich opened #49 "Determine lexical context at runtime"
Delete `Parser.isLexical()` and add `ParseResult.isLexical()` in order to check at runtime if a `Subrule` is lexical.

[2014-09-25 22:55] #37 closed, assigned to danieldietrich

[2014-09-25 23:04] danieldietrich opened #50 "re-evaluate syntax"
- simplicity first: only one choice (e.g. not `'` and `"` for string literals)
- negation: be closer to ant '~' or more like java `?`?
- ...

[2014-09-26 07:09] danieldietrich opened #51 "Add Regular Expressions"
Implement a new Parser `class RegEx implements RulePart` which parses text based on a regular expression.

The syntax is the same as in Java. Example: `[^\s][a-zA-Z_0-9]`. See [java.util.regex.Pattern](http://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html).

**Possible notation:** * via _slash_: `/regex/`

[2014-09-26 11:51] #50 closed, assigned to nobody

[2014-09-27 18:12] danieldietrich opened #52 "Grammar Parser Optimization"
* remove self references `rule : ... | rule | ( ... | rule | ... ) | ...`
* simplify nested subrules `rule : ( ( ( subrule ) ) )` = `rule : ( subrule )`
* ...

[2014-09-27 18:24] danieldietrich opened #53 "CST Leafs have to be Tokens (not Rules)"
Given the _Prudent Snake Grammar_ `eat : EOF | '@' eat` and the input `@@@`, the parser currently produces the following parse tree:

[code]

The last dangling `eat` has to be omitted or the terminal token EOF has to be part of the CST.

[2014-09-29 22:04] #53 closed, assigned to nobody

[2014-09-30 22:58] #49 closed, assigned to danieldietrich

[2014-10-01 20:45] danieldietrich opened #54 "Support Left-Recursion"
http://www.cs.nott.ac.uk/~gmh/bib.html#pearl

* http://www.cs.nott.ac.uk/~gmh/parsing.pdf (Section 4.1)

[2014-10-01 20:46] danieldietrich opened #55 "Create a Parser Monad"
http://www.cs.nott.ac.uk/~gmh/bib.html#pearl
- http://www.cs.nott.ac.uk/~gmh/pearl.pdf

[2014-10-03 08:07] danieldietrich opened #56 "Support hex characters"
A hex character is a byte, i.e. has 8 bits. The valid range of a hex character is 00 to FF.

* in literals: `'\x0B'`
* in charsets: `[\x0B]`
* in ranges: `'\x41'-'\x5A'`

[2014-10-03 16:52] danieldietrich opened #57 "Make subrules identifiable"
Instead of

[code]

we may write

[code]

[2014-10-03 17:13] danieldietrich opened #58 "Rethink whitespace handling"
See also #23.
1. rule : does not return ws and does not combine children
2. Rule : returns ws and does not combine children
3. RULE : returns ws and combines children

Rule names consisting of one char:
- `a` matches 1.
- `A` matches 3.
- there is no rule name which has length 1 and matches 2.

[2014-10-03 19:55] danieldietrich opened #59 "Allow multiple start rules"
The current implementation of `javaslang.parser.Grammar` allows only one start rule which is initialized internally at construction time. Instead the `Grammar.parse(text)` method should be changed to `Grammar.parse(text, startRule)`.

[2014-10-04 00:36] #29 closed, assigned to nobody

[2014-10-04 00:39] #55 closed, assigned to nobody

[2014-10-04 00:41] #47 closed, assigned to nobody

[2014-10-04 00:47] danieldietrich opened #60 "Let the grammar smile"
**Motivation:**

Currently the grammars look sooo frustrated:
- _rule_ `: -(` _ruleParts_ `)`

Wouldn't it be nice if grammar rules look positive?
- _rule_ `: -)` _ruleParts_ `)`

_Note: the `-( ... )` is analog to Antlr's `( ... ) -> skip` (see #27)_

[2014-10-04 00:53] #46 closed, assigned to nobody

[2014-10-05 16:20] danieldietrich opened #61 "Add Parser.toTokensString()"
Add a method `static String toTokensString(Tree<Token> parseTree)` to Parser which returns a token list similar to Antlr:

[code]

[2014-10-05 19:44] danieldietrich opened #62 "Negating arbitrary rule parts"
Currently only single character matchers (Any, Charset and Range) and EOF are negatable (see #58).

* Extend the domain of possible arguments of the unary _not_ `!` operator. In general `!x` should be _"everything but x"_ in order to hold `!!x = x`. On the other hand `'"""' !'"""'* '"""'` should match _rich strings_, i.e. `!'"""'` - or more general `!T` - matches a single character.
* We need a fi

[2014-10-05 20:30] danieldietrich opened #63 "Add Interface Iterable to SequentialStream"
There is an interesting discussion at https://github.com/jOOQ/jOOL/issues/58 targeting a similar behavior of a Stream wrapper like SequentialStream.

[2014-10-05 20:44] #60 closed, assigned to nobody

[2014-10-05 23:49] danieldietrich opened #64 "Quantified lexical sequences are not parsed correctly"
See
- `ParserTest.shouldNotMatchOneTokenInAParserRuleOnQuantifiedSequenceOfLexicalsWithWhitespace()`
- `ParserTest.shouldMatchOneTokenInAParserRuleOnQuantifiedSequenceOfLexicalsWithSurroundingWhitespace()`

[2014-10-05 23:52] danieldietrich opened #65 "Wrap rule alternatives in a sequence for whitespace handling"

[2014-10-06 07:33] #64 closed, assigned to danieldietrich

[2014-10-06 22:40] #58 closed, assigned to danieldietrich

[2014-10-06 23:08] #65 closed, assigned to nobody

[2014-10-07 16:43] danieldietrich opened #66 "Grammar to JavaScript Generator"
input:grammar -> parser produces cst -> cst is transformed to ast -> compiler produces JavaScript

[2014-10-07 16:45] danieldietrich opened #67 "Grammar to Java Generator"
input:grammar -> parser produces cst -> cst is transformed to ast -> compiler produces Java

[2014-10-07 21:57] #32 closed, assigned to nobody

[2014-10-07 23:08] #45 closed, assigned to nobody

[2014-11-02 20:13] danieldietrich opened #68 "For Comprehensions"
Haskell: `[x^2 | x <- [1..5]]`
_-- produces `[1,4,9,16,25]`_

Javaslang: `Gen.range(1,5).map(x -> x*x).toList()`

or `Haskell.eval("[x^2 | x <- [1..5]]").asList()`

[2014-11-16 15:52] danieldietrich opened #69 "Overview"
[code]

[2014-11-30 19:57] danieldietrich opened #70 "Automatic snapshot deployment on travis-ci"
Add a `mvn deploy` to the .travis.yml after successful build (and test). In particular:

**1) The encrypted data**
- `travis encrypt -r user/repo SONATYPE_USER=user`
- `travis encrypt -r user/repo SONATYPE_PASSWORD=pass`

**2) The .travis.yml**

[code]

**3) The maven settings .travis.mvn.settings.xml**

[code]

[2014-11-30 20:27] #70 closed, assigned to danieldietrich

[2014-12-01 16:40] danieldietrich opened #71 "Try variant for code producing side-effects only (i.e. returning void)"
Try needs a factory method to accept units of work returning nothing, i.e. void.

`Try.of(CheckedSupplier)` and `Try.of(CheckedRunnable)` would be ambiguous regarding `Try.of(() -> { throw new RuntimeException(); })`.

Therefore the new factory method is named `Try.run(CheckedRunnable)`.

The return value of `Try.run(...)` is `Try<Void>`. In the case of a `Success<Void>`, the `get()` will return `

[2014-12-01 16:41] #71 closed, assigned to danieldietrich

[2014-12-01 23:45] danieldietrich opened #72 "Property checking"
...with *dependent types* for quantor logic.

Props.forAll(...).exisitsUnique(...).suchThat(...)

**Update:** Create a 'Property' DSL for [first-order logic](http://en.wikipedia.org/wiki/First-order_logic)

Some symbols:

* A, ∀, forAll
* E, ∃, exists
* E!, ∃!, existsUnique
* :, suchThat
* =>, →, implies
* <=>, ↔, ifAndOnlyIf
* &, ∧, ^, and
* |, ∨, v, or
* ~, ¬, not
* T, true
* ⊥ ,false

[2015-01-03 08:05] danieldietrich commented on #63
dropped the Stream wrapper feature. Instead implemented a javaslang.collection.Stream which also allows intermediate operations without having parallel functionality. The syntax is much more concise than java.util.stream.

[2015-01-03 08:05] #63 closed

[2015-01-03 08:17] danieldietrich commented on #40
Out of focus. Replaced with javaslang.collection.Stream

[2015-01-03 08:17] #40 closed

[2015-01-03 08:31] danieldietrich opened #73 "Enhanced Decomposition Matching Feature"
Decomposable Javaslang classes implement ```javaslang.ValueObject```. It features an ```unapply()``` method which returns a Tuple of values of the current object. The Matcher should utilize it to match against specifc values.

[2015-01-03 09:48] danieldietrich opened #74 "Momoization of Stream.tail()"
The lazy [javaslang.collection.Stream](https://github.com/rocketscience-projects/javaslang/blob/master/src/main/java/javaslang/collection/Stream.java) has intermediate computation results. The head of a Stream is computed immediately, the computation of the tail is deferred until needed.

**Note:** In contrast to java.util.stream.Stream, a javaslang.collection.Stream does not need an extra termina

[2015-01-03 15:05] danieldietrich opened #75 "Add specialized, numerical collections"
We want

[code]

Maybe `IntStream`, `IntList`, `CharList` et.al. should be internal / package private classes and appropriate factory methods are part of `List` and `Stream`.

Or maybe the `by()`, `sum()`, `product()` et.al. methods are not part of `Traversable` and instead part of the visible, specialized classes `IntStream`et.al.

However, I like the idea of 'single point of contact'...

**TODO:

[2015-01-04 23:08] #74 closed

[2015-01-05 00:11] danieldietrich opened #76 "Harden Stream.of Stream.gen Iterators regarding concurrency"
Ensure no race conditions can happen regarding hasNext() and next().

[2015-01-05 00:18] danieldietrich commented on #76
Mmhh, I think this can't happen anyway because of memoization. Have to test it...

[2015-01-06 08:12] danieldietrich opened #77 "Lambdas vs Exception Handling: Use of Checked vs. Unchecked Functions"
The complete code-base has to be checked...

The happy path should be already unit-tested. Let it crash!

[2015-01-06 09:53] danieldietrich opened #78 "Ensure bash receives end of output stream."
Traversable.out() should use

[code]

instead of just writing to `System.out`.

Finally Traversable.out() should call `writer.flush()` and `writer.close()` to send EOF (to bash).

See also http://stackoverflow.com/questions/3643939/java-process-with-input-output-stream.

[2015-01-06 10:20] danieldietrich opened #79 "More Stream.in() and Traversable.out() methods"
[code]

**Update:** `Traversable.toInputStream()` and `Traversable.toOutputStream()` could be also useful.

[2015-01-06 10:31] danieldietrich opened #80 "Check, if Try in empty branch of Traversable.sum() and .product() is needed"
Because of type erasure the result of the cast (T) should be always (Object) at runtime and therefore never throw a ClassCastException.

[2015-01-06 10:34] lukaseder commented on #79
Ooooh, beautiful ideas! I suspect that passing an `InputStream` will produce a `Stream<Byte>` in your case?

[2015-01-06 11:19] mperry commented on #79
@danieldietrich  and @lukaseder

Should this return the stream within the IO monad to indicate that it is not pure?  Alternately, return a lazy stream, e.g. in FunctionalJava this is a P1<Stream<A>>.  You can then concatenate this stream with another stream without the effects causing problems. The stream you create here won't compose if it is eager on the head with a lazy tail.

[2015-01-06 11:25] mperry commented on #79
Another potential problem is what happens if the stream is not fully evaluated.  Does the resource ever close if it is lazy?

[2015-01-06 12:31] danieldietrich commented on #79
@lukaseder Thank you :-) Yes, Stream<Byte> is the idea...

[2015-01-06 12:34] lukaseder commented on #79
`java.util.stream.Stream` extends `AutoCloseable`, so the `close()` and resource semantics should already be covered...

[2015-01-06 12:35] danieldietrich commented on #79
@mperry:

I think I had such a problem when iterating locking head calculation from the standard input stream. There is a bugfix for such a situation in the Stream.iterator() method but I currently don't fully understand the core problem you mentioned and will investigate it this evening...

An infinite input stream will not close, currently... I will look at Runar's post this evening!

[2015-01-06 21:04] danieldietrich commented on #80
The type of nothing/no elements cannot be determined at runtime. Scala has the same 'problem' which is circumvented by throwing - as we will do.

[2015-01-06 21:06] #80 closed

[2015-01-06 21:37] #78 closed

[2015-01-07 04:12] mperry commented on #79
@lukaseder /cc @danieldietrich
I missed some context with my comment on closing resources in a lazy stream.  My point (which I poorly stated) was that Iteratees can close the resource without fully evaluating the stream.  My memory of AutoClosable was that an AutoClosable is closed automatically within the try-with-resources statement.  With a normal stream, a stream might be passed around your sy

[2015-01-07 04:20] mperry commented on #79
I started porting stream transducers before Xmas from ch 15 in "FP in Scala" that I think Runar got from Haskell.  It was pretty complicated without pattern matching and kinds, but you've inspired me to press on.  So I wrote some pattern matching in Java last night to help.  I will push what I have in the next few days and might have something simple to show in the next few weeks.

[2015-01-07 11:27] danieldietrich commented on #79
Hi Mark, hi Lukas, I have a copy of 'FP in Scala' and am currently reading Ch. 15 :) I see that you have put much effort into that topic - thank you for your thoughts and the links. My goal is to fully understand what is possible regarding resource management (which is currently a blocker for me) and composition - and, in a second step, get the Stream API right.
I want to push Javaslang into a dir

[2015-01-08 00:44] danieldietrich commented on #79
I think I got a better understanding of the problem domain now.

## Laziness

Letting `Stream.of(InputStream)` return a `Stream<IO<T>>` would be problematic. We have to decide at creation time if we return a Nil or a Cons. More specifically _head_ has to be evaluated in order to decide if the Stream is `Nil` (e.g. an Iterator's hasNext() would call InputStream.read()). In the case of `System.in` w

[2015-01-08 10:49] mperry commented on #79
@danieldietrich
Hopefully I'll respond to your comment above in the next few hours.  I wanted to let you know I have made quite some progress translating section 15.2 (Simple stream transducers).  The code is here, https://github.com/mperry/stream-processing.  A fair bit of it is pretty rough and needs improvement, but it might help to make some ideas more concrete for you.

[2015-01-08 12:08] mperry commented on #79
On laziness with `Stream<IO<A>>`:

Yes the head of the stream is eager (strict), but this is not a problem.  Creating an `IO<A>` does not run the effect, merely creates an object that represents the effect.  The IO action still has to be run to do anything.

I have the impression (which is perhaps the wrong impression) that you want to memoize by default.  I think this is a mistake as it means the

[2015-01-08 17:56] danieldietrich commented on #79
@mperry thank you for the link to your project. It looks really nice. I like the new match API, its clear and composable. My matcher has too much voodoo magic wired-in because I wanted to provide a nice lambda syntax. You make the type explicit while here is some kind of extended reflection for lambdas used. Where do you need composability of When (flatMap/map)?
The transducers are beautiful.

[2015-01-08 23:13] mperry commented on #79
I am not convinced about the match API.

The match class is ok, although I can see me moving my code from using `createMatch(...).match(A)` to just `match(A a, F<A, B> fallback, When<A, B> w)` in most cases.

The When api is more problematic. consider this code:

[code]
A few problems I see here:
- it would be nice to unify the methods `whenClass` and `appendClass`.  It feels a bit stilted and har

[2015-01-08 23:24] danieldietrich commented on #79
@mperry

I meant a _lazy_ Stream that delegates to a Stream that may be empty or non-empty. Let me describe this in detail:

These are the classes (pseudo Java):

[code]

If the `IO<A>` is wrapped in a `Stream<IO<A>>` and the stream is created, it has to be one of `Nil` and `Cons` (which are the only implementations). But if we construct the Cons with head of type `IO<A>` we may have the case that

[2015-01-08 23:40] mperry commented on #79
Your deferred is just a lazy stream.  I changed the signature of your code above to return `P1<Stream<T>>`:

[code]

[2015-01-08 23:46] danieldietrich commented on #79
What is the `u` needed for in `P.lazy(u -> { ... })`?

Now `new Cons<>(iterator.next(), () -> Stream.of(iterator))` receives a `Supplier<P1<Stream<T>>>` instead of a `Supplier<Stream>`. Do we really need the extra type `P1`? Unfortunately it is not of type `Stream`...

[2015-01-08 23:53] danieldietrich commented on #79
I read you prev post in depth tomorrow - really need some sleep :)

[2015-01-09 00:12] danieldietrich opened #81 "Make use of java.lang.ref.SoftReference for Memoization"
see functional java / [P1.java](https://github.com/functionaljava/functionaljava/blob/master/core/src/main/java/fj/P1.java)

[2015-01-09 00:28] mperry commented on #79
In FunctionalJava P1 is currently not an interface.  To get around this when trying to instantiate a P1, there is a static function called `lazy` on `P` that has type `P1<A> lazy(F<Unit, A>)`.

You are right, my example above is incorrect.  Cons should just call `Stream.of` for the lazy tail part.  Remember that Supplier and P1 are equivalent, so my example could return `Supplier<Stream<T>>` inste

[2015-01-09 08:43] danieldietrich commented on #79
I understand IO and see its benefits. Currently I'm going one step further and investigating how to embed the Iteratee/Enumerator approach into [Stream](https://github.com/rocketscience-projects/javaslang/blob/master/src/main/java/javaslang/collection/Stream.java).

**[Wikipedia](http://en.wikipedia.org/wiki/Iteratee):**

**Resources:**

* A good resource to start reading is [Oleg's Iteratee](http

[2015-01-09 13:28] danieldietrich commented on #81
This does not make sense here. In fact the Memoized type is misnamed. It should be a Lazy which, in contrast to Supplier, remembers the value (by internally memoizing it).
A `Lazy0<R>` is a `Function0<R>`, i.e. a `() -> value`.

[2015-01-10 10:24] danieldietrich opened #82 "Overall Refactoring: Types/Inheritance vs. Methods/API"
## Task: Ensure that the following holds for all Javaslang classes, interfaces and methods.

When defining interfaces or classes, say

[code]

we might make it reusable in other functional contexts, like method calls. In the example above we have a type with one method which (produces a side effect and) returns a value. Java has a type for supplying a value, Supplier. To make IO reusable in differ

[2015-01-10 10:45] danieldietrich opened #83 "Rename Lambda.λ* to Function.Function*"
**Pro:**

* λ is hard to type
* The lower case letter λ is not conform to Java naming conventions (it should be Λ for a type)
* Function0..Function13 is a convenient addition to the existing java.util.Function type

**Con:**

* Long (generic) type definitions, i.e. curried versions, are hard to read

**Note:**

It is no problem that `javaslang.Function` overlaps with `java.util.Function`. Javaslan

[2015-01-10 10:50] lukaseder commented on #83
Hehe, you actually use `λ` in your code? That's awesome! You should leave it in some places (e.g. static methods) as an alias for the alternative representation :)

[2015-01-10 11:34] #83 closed

[2015-01-10 11:35] danieldietrich commented on #75
Fixed. Currently by() is (intentionally) not implemented.

[2015-01-10 11:35] #75 closed

[2015-01-10 11:39] danieldietrich commented on #20
Have to rethink this in general. Javaslang should provide functional best practices to lift every-day object-oriented java-programming to a new level by targeting use cases like error handling, null handling, conciseness, pattern matching and a great collections api. Functional purity is out of focus for the sake of simplicity.

[2015-01-10 11:54] danieldietrich opened #84 "Get rid of everything not needed"
**Delete javaslang.Require:**

* [OK] Use if-guards instead of `javaslang.Require.*` =\> better code analysis possible
* [OK] Make `javaslang.Memoizer` (/Lazy, see #81) internal to Stream until a general Momoization API is available in a future release
* [OK] Delete `test/javaslang.AssertionsExtensions` and use `@Test(expected = Xxx.class)` instead
* [OK] Make `javaslang.Strings` and `javaslang.Ma

[2015-01-10 13:15] #84 closed

[2015-01-10 13:20] #81 closed

[2015-01-10 13:26] danieldietrich commented on #7
Making Option, Try et.al. more collection-like is out of focus.

[2015-01-10 13:26] #7 closed

[2015-01-10 13:43] mperry commented on #7
I can't read French(?), but Try looks like the Validation class in FJ.  FJ uses Try, Try0, Try1, ... and TryEffect, TryEffect0, TryEffect1, etc. for lambdas that can throw an exception and then returns either void or A respectively.

The Try series have type signatures for function application like `A f() throws Z`, whereas TryEffect0 has a void return `void f() throws Z`.  We then convert this to

[2015-01-10 14:53] danieldietrich commented on #7
Yes, I've seen fj's Validation class. It's a good way for pure functional programming. The Javaslang world takes a simpler appoach by the cost of impurity. Java's well known try/catch

[code]

is replaced by using Javaslang's Try Monad:

[code]

Maybe in conjunction with the Match API, where Try and Match can be seen as expressions:

[code]

That's the way Javaslang works. I do not plan to introdu

[2015-01-10 15:35] danieldietrich commented on #7
Oh, realized that we have done very similar things. Your `Validation` is mine `Try` and your `Try``s are the checked functions.

[2015-01-10 17:55] danieldietrich commented on #83
Hi Lukas, just found you comment - my inbox explodes because of my own activity :-)
Yes, good idea - I thought of sth similar months ago but forgot about it.
Good to know you have an eye!!

[2015-01-10 18:14] danieldietrich commented on #77
Part of the refactoring will be the re-introduction of λ as function alias as @lukaseder suggested in #83.

[2015-01-11 01:22] #77 closed

[2015-01-11 01:27] danieldietrich commented on #39
A use case is missing. Why not instead creating a full fledged Traversable or Seq and move Tuple to javaslang.collection? A Tuple should be a just a Tuple.

[2015-01-11 01:27] #39 closed

[2015-01-11 01:29] danieldietrich commented on #82
LGFM

[2015-01-11 01:29] #82 closed

[2015-01-12 00:34] danieldietrich commented on #69
Release 1.1.0 is staged at oss.sonatype.org. New web site, including docs, is half the way finished.

[2015-01-12 00:34] #69 closed

[2015-01-13 23:22] danieldietrich opened #85 "Let Traversable.reduce(), .sum() and .product() return Option (changes current API)"
- API conform to java.util.stream.Stream
- more functional, better than throwing UnsupportedOperationException

[2015-01-14 00:25] danieldietrich opened #86 "Add missing Javadoc, remove generator from Javadoc"

[2015-01-14 01:34] talios commented on #79
On 9 Jan 2015, at 12:13, Mark Perry wrote:

Hi all, just catching up with this thread, since this match discussion is a side-topic to the main issue, thought I'd offer a comment - instead of `appendClass`, whats wrong with a good old vararg list of Match instances.

    return Match.match(this, h -> halt(),
            When.<Emit<I, O>, Process<I, O>, Process<I, O>>whenClass(Emit.class,

[2015-01-14 03:26] mperry commented on #79
@talios I should go back and clean this up.  I did just enough matching to get started on stream transformers.

I wanted to do this in a generic way.  For simplicity, ignore the needs for a fallback match if no class matches (i.e. we just throw an error).  Then we need something like:

`static <A, B> B match(A a, List<P2<Class<?> c, F<A, B>>> f)`

but this is not correct and the generics makes thi

[2015-01-16 22:07] danieldietrich commented on #79
@mperry, @talios (Mark & Mark :-))

Hi there! Sorry for joining the party a little late. I felt like a zombie the last days after releasing Javaslang 1.1.0 because of the lack of sleep and had to keep away from my laptop a while :-)

## Mark P.,

I think it should be `F<? super A, ? extends B>`. Notably this takes an A and returns a B.

I [use](https://github.com/rocketscience-projects/javaslang/b

[2015-01-16 22:22] danieldietrich commented on #54
\*cough\* [chomsky normal form](http://en.wikipedia.org/wiki/Chomsky_normal_form) \*cough\*

[2015-01-16 22:27] danieldietrich commented on #35
Changing direction: do not write a template language, use Scala instead. I've already done [indentation](https://gist.github.com/danieldietrich/5174348) so far. Perhaps I should create a separate generator framework project for that...

[2015-01-17 00:21] danieldietrich commented on #35
**1) Classpath**

We don't want to pollute our source dirs with generator code. A nice solution for that is to run scala script because it does not need a classpath:

[code]

**2) Scala dependencies**

Javaslang's pom should contain no dependencies, especially no scala dependencies.

The Maven Deploy Plugin seems to be able to deploy an alternate pom. The minimal pom should only include a copyrigh

[2015-01-17 08:12] lukaseder commented on #35
In case you're using Eclipse, I'm extremely happy with Xtend for that job:
http://eclipse.org/xtend

[2015-01-17 09:08] danieldietrich commented on #35
Yes, Xtext is great (I know Sven and his team well, they are located here in Kiel).

I switched to IntelliJ because of problems with ECJ/Javac. I talked with Sebastian Zarnekow, they work on better tool support, i.e. IntelliJ integration.

My acceptance criteria for code generation in Javaslang are:

* it is part of the maven build process
* the generator sources are not added to the default build

[2015-01-17 09:23] lukaseder commented on #35
I see. In my case, the generated sources are checked in and generation is triggered manually, so I can see that the use-cases are different

[2015-01-17 09:46] danieldietrich commented on #35
I like it, too, to see the source in the vcs. In projects with many people there is the risk that sources run out of sync with the generator templates or people start to change generated code. However, for Javaslang the risk is nearly zero :-))

[2015-01-17 18:05] #35 closed

[2015-01-19 23:04] #34 closed

[2015-01-19 23:13] danieldietrich commented on #72
Doc on [QuickCheck](http://www.eecs.northwestern.edu/~robby/courses/395-495-2009-fall/quick.pdf) by John Hughes

[2015-01-21 20:05] danieldietrich commented on #72
An object-functional approach with [ScalaCheck](https://github.com/rickynils/scalacheck) (also inspired by Haskell's QuickCheck)

[2015-01-22 09:09] danieldietrich opened #87 "Match is (probably) a Monad"
Make match an interface with `caze` factory methods - it's like an 'extended builder pattern'.

[code]

[2015-01-22 09:24] danieldietrich opened #88 "Re-organize packages and classes (again)"
* move contents of `javaslang.monad` and `javaslang.match` to `javaslang.control`
* unpack Algebra to javaslang.algebra
* perhaps unpack Functions or rename it to Lambda and make it an interface

[2015-01-22 09:26] danieldietrich opened #89 "Convert functions toChecked() and toUnchecked() vice versa"
* `CheckedFunction1 Lambda.checked(Function1 f)`
* `Function1 Lambda.unchecked(CheckedFunction1 f)`
* or even make `toChecked()`, `toUnchecked()` part of a function

[2015-01-26 11:34] danieldietrich commented on #72
## Property Check vs. First-Order Logic

Let _size_ be a natural number > 0.

### Exists Quantor (∃)

We know the _Sentence of Pythagoras_: (∀a,b ∈ ℝ+ ∃c ∈ ℝ+ : a²+b²=c²)

To prove such a sentence mathematically, we take arbitrary _a_ and _b_ and provide a _c_ such that the given property is satisfied. Then the existence of such a _c_ is proved. Because we take arbitrary _a_ and _b_, the property

[2015-01-27 00:13] danieldietrich commented on #72
Note: Internally (the generated) Property.java could have been implemented more elegant in a functional way, i.e. leveraging function composition instead of statement-wise. But this doesn't really matter - what counts is the end-user API of the property check framework.

[2015-01-27 00:23] danieldietrich commented on #72
**Next steps:**

Let _p_ and _q_ be properties.

* p.implies(q) -- this may exhaust the maximum tries if _p_ cannot be satisfied (_ex falso quodlibet_)
* p.and(q) -- result is p.check(), if p is falsified and q.check(), if q is falsified, otherwise CheckResult.satisfied(tries)
* p.or(q) -- result is q.check() if p could not be satisfied, otherwise p.check()

[2015-01-29 00:39] #72 closed

[2015-01-31 11:27] danieldietrich opened #90 "Add an Import Manager"
The import manager's job is it to generate the import section automatically.

For example client generator code will call ${importManager.getType("javaslang.collection.List")}, which

* returns List and generates an additional import javaslang.collectionList, if no other List is 'registered' yet
* return javaslang.collection.List, if another List is registered already (e.g. java.util.List)

Additi

[2015-01-31 13:13] danieldietrich opened #91 "Allow to map and flatMap Tuples"
The [StackOverflow question](http://stackoverflow.com/questions/27925742/how-to-compute-average-of-multiple-numbers-in-sequence-using-java-8-lambda/28244268#28244268) on how to compute the average of (multiple) nested values lead me to write the following example (which currently does not compile with java 1.8.0_31 due to a compiler bug):

[code]

where the original post contained this solution:

[2015-01-31 13:14] #91 closed

[2015-01-31 13:16] danieldietrich commented on #91
Some additional information on `Traversable.average()`:

[code]

[2015-01-31 13:19] danieldietrich opened #92 "Refactor Generator"
IntelliJ IDEA is no more able to handle the Generator.scala because it is too complex. I started to factor out general generator functionality. This enhancement's goal is to create a more general generator framework which is called via maven. The sources may not be part of the javaslang package/jar.

[2015-01-31 13:27] danieldietrich commented on #20
This is (currently) out of scope of Javaslang. The scope of Javaslang is to help Java developers with everyday object oriented programming. With the help of Java 8's new lambda features Javaslang provides new, concise APIs / Java language extensions. Javaslang contains functional features without forcing a software developer to act purely functional. Immutability is most important for a good progr

[2015-01-31 13:27] #20 closed

[2015-01-31 14:53] danieldietrich commented on #91
Forgot to mention that I removed the Monoid interface from all collections because of cause (combine, zero) is not unique.

[2015-01-31 17:56] danieldietrich commented on #92
The Scala StringContext is interpreted wrong by IntelliJ IDEA under certain circumstances. The effort to refactor the Generator and the Maven build process is too high. Therefore a workaround is provided:

[code]

[2015-01-31 18:02] #92 closed

[2015-01-31 21:01] danieldietrich opened #93 "Generate tests for all generated classes"
Additionally to ordinary JUnit tests it would be nice to have also Property tests for the algebraic types.

[2015-02-01 01:04] danieldietrich commented on #79
If 1) a read operation fails or 2) the end of the input is reached, we need to close the input.
This has to hold also for combined input sources. If an error occurs in an underlying input source, the whole, combined input has to be closed. Also all underlying inputs have to be closed, if the wrapping input is closed from the outside. Additionally, if one of the combined inputs end has reached, all

[2015-02-02 08:07] danieldietrich opened #94 "Spike: Heterogenous random distribution of arbitrary values within the same property"
To generate arbitrary values based on a _size hint_ and a _random number generator_ the `javaslang.test` framework provides us with a function `int -> Random -> T`.

[code]

To me, this seems to be too complicated. How often is a random generator changed in practice? Better would be to just give a size hint to generate values: `int -> () -> T`.

TODO: Check, if it is a viable alternative to change

[2015-02-02 13:35] danieldietrich commented on #94
Idea to test a custom random:

Use generator of {1, 2} with a custom random which always returns 1 and a property which succeeds for 1 and fails for 2.

[2015-02-02 15:53] danieldietrich opened #95 "Add AbstractMonadPropertyCheck"
... which tests the monad laws for arbitrary monads.

Question: Is it possible to have unit tests as mix-ins?

[code]

[2015-02-02 20:50] danieldietrich commented on #94
Implemented the idea described above and reverted it. No good DX, too much additional methods.

[2015-02-02 20:50] #94 closed

[2015-02-02 22:56] danieldietrich commented on #95
More like this...

[code]

**Interesting question:** How would an `Arbitrary<Function>` look like?

E.g. `Arbitrary<Function<? super T, ? extends Monad<U, M>>>`.

[2015-02-03 23:14] danieldietrich opened #96 "Cleanup classes"
Ideas to clean up the repo:

* Delete javaslang.String. It is currently used for nice toString methods of original java library classes only.
* Move Lazy back to javaslang.collection (the only place it is used, yet) and make it package private
* Delete javaslang.algebra.{Monoid, Semigroup}. They are theoretically useful but I see no practical sense, yet.
* What the funk is Functor used for? Curren

[2015-02-04 19:51] danieldietrich opened #97 "Housekeeping"
* 100% code coverage ✓
* 100% javadoc ✓
* 100% package-info.java ✓
* 0.0% garbage (depends on #96) ✓

[2015-02-04 19:52] danieldietrich opened #98 "Version 1.2.1"
* 100% code coverage
* 100% javadoc
* 100% package-info.java
* 0.0% garbage

[2015-02-04 19:52] danieldietrich opened #99 "Release"
* Create release notes page on javaslang.com mentioning contributors using
  * `git shortlog -sn --no-merges javaslang-1.2.2..javaslang-2.0.0`
  * `git diff javaslang-1.2.2..javaslang-2.0.0 --stat`
* 100% code coverage
* 100% javadoc
* 100% package-info.java
* 0.0% garbage

[2015-02-04 19:53] danieldietrich opened #100 "Release"
* 100% code coverage
* 100% javadoc
* 100% package-info.java
* 0.0% garbage

[2015-02-04 19:54] danieldietrich opened #101 "Release"
* 100% code coverage
* 100% javadoc
* 100% package-info.java
* 0.0% garbage

[2015-02-05 11:21] danieldietrich commented on #90
TODO:

* Use reflection to add java.lang.* to knownSimpleClassNames, in order to prevent classes with same simple names to be imported
* Handle static imports, i.e. implement ImportManager.getStatic() to import static methods
* Add a wildCardThreshold feature, which defines, when multiple imports from the same package (type) or class (static) are reduced to one import statement using wildcard '*'

[2015-02-05 11:51] danieldietrich commented on #90
The '_Use reflection to add java.lang.* to knownSimpleClassNames, in order to prevent classes with same simple names as java.lang.* to be imported_' feature is dropped due to a (cost / benefit analysis](http://stackoverflow.com/questions/520328/can-you-find-all-classes-in-a-package-using-reflection).

The preferred way is to control the import behavior by using the (already existing) knownSimpleCl

[2015-02-05 12:28] #90 closed

[2015-02-05 12:32] danieldietrich opened #102 "Add 'count occurrences' feature to Traversable"
In Scala we count occurreces of a sequence like this:

`val entryToCountMap = seq.groupBy(s => s).map { case (s, list) => s -> list.length }`

Need a concise way to do it in Javaslang

[2015-02-07 08:57] danieldietrich opened #103 "Create Benchmark java.util.stream.Stream vs. javaslang.collection.Stream"
How does Javaslang's Stream, List etc. perform compared to Java's?

[2015-02-07 09:58] danieldietrich commented on #67
out of focus for Javaslang

[2015-02-07 09:58] #67 closed

[2015-02-07 09:58] danieldietrich commented on #66
out of focus for Javaslang

[2015-02-07 09:58] #66 closed

[2015-02-08 09:08] danieldietrich opened #104 "Generate checked and unchecked java.util.function functions"
The amount of time spent changing the functions in [javaslang]javax.util.function is immense. The activities are 99% repetitive. The unit tests have all the same scheme.

We need to extract a model of this domain. The generator will interprete model instances to generate the code.

**The functions are all defined in terms of their types**, i.e a `<T, U, double>` is a ToDoubleBiFunction and a Check

[2015-02-15 11:43] danieldietrich opened #105 "Add more slang to Java: for-yield expression"
Ideally there would be a `for { ... } yield { ... }` expression. 'for' is a keyword, so `Expression.for(...).yield(...)` (or short: `for(...).yield(...)`) does not work. Alternatively `For.of(...).yield(...)` could be used.

Similar to `Property.forAll(...).suchThat(...).check()`, the expression arguments are internally boxed to function parameters for further processing:

[code]

Expressions sent

[2015-02-21 22:14] danieldietrich opened #106 "Add Traversable.distinct by key extractor"
See jOOQ/jOOL#82

[2015-02-25 20:22] danieldietrich commented on #79
Also http://blog.higher-order.com/assets/scalaio.pdf

[2015-02-25 20:26] danieldietrich opened #107 "Stackless recursion with trampolines in Java"
Java does not support tail call elimination e.g. like Scala does. Trampolines are an alternative to trade stack for head. http://blog.higher-order.com/assets/trampolines.pdf

[2015-02-25 22:14] danieldietrich commented on #104
Already done:

* every Function has `andThen`, `reversed`, `curried`, `tupled`
* every Function1 has `compose`

Last things TODO:

* Every XxxConsumer has a `andThen(XxxConsumer after)` method which first `this.accept` and then `after.accept` the argument(s)
* Every XxxPredicate has  `and`, `or`, `negate`. `Predicate<T>` also has `isEqual(Object)`
* Function and every XxxFunction has `identity`
*

[2015-03-01 10:17] danieldietrich opened #108 "Add Traversable.combinations(size)"
Add a method to create [combinations](http://en.wikipedia.org/wiki/Combination) of elements in a combinatorial sense.

Translate the C# solution found [here](http://stackoverflow.com/a/1898744/1110815) to Java.

[code]

**Update:** [Read](http://stackoverflow.com/questions/19321868/linq-selectmany-is-bind): How C# SelectMany correpsonds to Scala flatMap

[2015-03-01 11:12] danieldietrich commented on #108
For `javaslang.collection.List<T>` it could be this (to be verified - even don't know if it compiles):

[code]

But I think s.th. does not seem to be right with flatMap and map. Don't see that we get sub-lists of size k here.

[2015-03-01 12:29] #108 closed

[2015-03-01 12:39] danieldietrich opened #109 "Traversable interface needs creational instance methods for internal use."
In order to remove code duplication introduced with #108 we need to provide creational methods regarding Traversable.

To move the (default) implementation of `Traversable<? extends Traversable<T>> combinations(int k)` to Traversable, we need a general form of `cons` and `nil` which return a Traversable containing one element and an empty traversable.

[code]

[2015-03-01 15:50] danieldietrich opened #110 "Add Traversable.groupBy"

[2015-03-01 16:50] danieldietrich opened #111 "Add Traversable.combinations() and Seq.permutations()"
**combinations()** returns the union of combinations(0) to combinations(n).

Example:

[code]

**permutations()** returns all possible permutations of elements. See _Plain Changes algorithm for permutations generation_ [Knuth's "The Art of Computer Programming", Volume 4, Chapter 7, Section 7.2.1.2.]

Example:

[code]

[2015-03-01 16:58] danieldietrich opened #112 "Add Traversable.flatten()"
Tree.flatten() most probably has to be renamed because of #113 and Traversable.flatten()

[2015-03-01 16:59] danieldietrich commented on #111
S.th. like `List.range(0, size()).map(k -> combinations(k)).flatten()`. Need a general `Traversable.flatten()` for that - see #112

[2015-03-01 19:54] danieldietrich commented on #108
Just for the sake of completeness - this is the corresponding Scala code:

[code]

The original Scala [SeqLike.combinations(n)](https://github.com/scala/scala/blob/v2.11.4/src/library/scala/collection/SeqLike.scala#L200) takes ~50 lines of code but does not use recursion.

[2015-03-01 20:08] danieldietrich opened #113 "Make interface Tree extend Traversable"
map function for Tree: http://en.wikibooks.org/wiki/Haskell/The_Functor_class

[2015-03-09 22:54] #104 closed

[2015-03-10 09:30] danieldietrich opened #114 "Add static Property.Condition factory method exFalsoQuodlibet()"
[code]

[2015-03-12 22:04] danieldietrich opened #115 "Add Traversable.grouped(int) and sliding(int)"
[1, 2, 3, 4, 5, 6, 7].grouped(3) = [[1, 2, 3], [4, 5, 6], [7]]
[1, 2, 3, 4, 5, 6, 7].sliding(3) = [[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7]]

[2015-03-12 22:14] danieldietrich opened #116 "Add Traversable.minBy(Comparator), maxBy(Comparator)"

[2015-03-14 22:40] danieldietrich opened #117 "Add Stream.of(String) which returns Stream<Character>"
...and then change `Strings.escape(String, char, char)` as follows:

[code]

[2015-03-14 22:52] danieldietrich commented on #93
Current status: 100% code coverage.

[2015-03-14 22:52] #93 closed

[2015-03-14 22:53] danieldietrich commented on #86
Generator removed. For missing Javadoc see #97.

[2015-03-14 22:53] #86 closed

[2015-03-14 22:56] danieldietrich opened #118 "Release 1.2.0"
1. Update github readme ✓
2. Deploy javaslang-1.2.0 to Maven Central ✓
3. Update http://javaslang.com ✓

[2015-03-14 23:08] #114 closed

[2015-03-15 23:28] danieldietrich opened #119 "Add more CheckResultAssertions"
CheckResultAssertions.assertThat(checkResult)
* .isFalsified()
* .isErroneous()
* .isErroneousWithMessage(String)
* .isErroneousWithError(Class)

**Add CheckResultAssertionsTest**

[2015-03-22 21:41] #119 closed

[2015-03-25 21:54] #95 closed

[2015-03-25 22:24] danieldietrich commented on #96
Strings stays (for now)...

[2015-03-25 22:24] #96 closed

[2015-03-28 00:46] danieldietrich commented on #97
* package-info.java is preferred over package.html (see http://stackoverflow.com/questions/3644726/javadoc-package-html-or-package-info-java)

[2015-03-28 10:46] danieldietrich commented on #97
## Javadoc checklist

### javaslang

* CheckedFunction0-26
* Function0-26
* Tuple
* Tuple0-26
* ValueObject
* λ

### javaslang.algebra

* Functor1-26
* HigherKinded1-26
* Monad1-26
* Monoid ✓
* Semigroup

### javaslang.collection

* BinaryTree
* List
* RoseTree
* Seq
* Stream
* Traversable
* Tree

### javaslang.control

* Either
* Failure
* Left
* Match
* MatchError
* None
* Option
* Right
* Some

[2015-03-28 10:51] danieldietrich commented on #97
Random thoughts:

* Add `@since` tags to javadoc (packages and classes).
* Beware of formatting (IDEA destroys the Javaslang ascii intros)

[2015-03-28 10:52] danieldietrich commented on #118
Random thoughts:

* Beware of releasing the local version of the Javaslang repo to maven central. Uncommitted changes will be also published. Instead check out a fresh copy from github and deploy it to maven central.

[2015-03-28 18:46] danieldietrich commented on #79
Daniel Spiewak is working on this:
https://gist.github.com/djspiewak/6b5cd3fb78b054046755
in the context of this
https://github.com/scalaz/scalaz-stream/blob/master-a/src/main/scala/scalaz/stream/Process.scala#L657

[2015-03-29 20:53] talios commented on #118
Er, not if you're using the maven-release-plugin as it tags during the `prepare` and checks out a local copy during the `perform` stages.

We tend to use the following configuration at work however:

    <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-release-plugin</artifactId>
        <version>2.5</version>
        <configuration>
            <preparationGo

[2015-03-30 08:48] danieldietrich commented on #118
Thanks, that helps! I'm not up-to-date regarding releasing with git - at work we still use svn o_O :-)

[2015-03-31 22:09] danieldietrich opened #120 "Add bimap to Either"
Idea stolen from functionaljava/functionaljava#121

[2015-04-01 09:40] danieldietrich opened #121 "Simplify the type system"
and maintain exclusiveness (and completeness).

I.e. Functors, Monads, etc. relate to each other by providing functions having specific arguments and return types. Here, it is important that all types used in signatures are of Javaslang (-> exclusiveness).

Note, that still function arguments should be the most general types (within the bounds of Javaslang) and  function return types should be the

[2015-04-01 17:28] danieldietrich commented on #121
In the ideal case write unit tests that check, if all functions are overridden correctly within a type hierarchy, by using reflection.

[2015-04-01 22:42] #112 closed

[2015-04-01 23:11] danieldietrich opened #122 "Make List.appendAll and List.prependAll work in constant time"
Is this possible like [here](https://gist.github.com/danieldietrich/3a80c0e788ed1524ae64) while maintaining the List structure of Cons(head, tail)?

[2015-04-02 10:24] danieldietrich commented on #118
After this release move to pull requests instead of direct commits to

* enable code reviews
* maintain 100% code coverage & javadoc
* get a change log between releases
* move to a feature driven development instead of committing unrelated technical changes

[2015-04-02 20:29] danieldietrich opened #123 "Enable Javaslang committers to use Eclipse"
Currently there is a bunch of bugs that prevents Javaslang committers from using Eclipse (Mars M6 + jdk 1.8.0_40):

* Performance issues of ECJ (type inference) that make working with Eclipse impossible
* unrecognized `@SuppressWarnings({"unchecked", "varargs"})` _(however, this is proposed by oracle in the last paragraph of [this document](https://docs.oracle.com/javase/tutorial/java/generics/non

[2015-04-02 20:54] danieldietrich commented on #123
The unrecognized `@SuppressWarnings({"unchecked", "varargs"})` bug should be fixed by not attaching it to the call-site. Attaching `@SuppressWarnings("varargs")` to the method decl may fix the eclipse compiler problem. (jdk / IDEA currently do not complain)

[2015-04-03 13:49] danieldietrich opened #124 "Probably all equals methods do not work for component array types"
This concerns List, Stream, Optional, ...

...because Objects.equals(Object, Object) is called, if the component type is generic. Ensure to call Arrays.equals(Object[], Object[]) or maybe Arrays.deepEquals(...) if component type is an array. Beware of cycles on deepEquals - Java itself mostly ignores the cycle aspect.

[2015-04-03 14:25] danieldietrich commented on #124
Moreover using instanceof in equals methods breaks symmetrie. Consider to use getClass() instead.

[2015-04-03 19:25] danieldietrich commented on #118
Create a simple illustration of the collection API on javaslang.com. Example: https://twitter.com/hyPiRion/status/583680829945163776/photo/1

[2015-04-03 20:43] danieldietrich commented on #121
These are the (current) findings of unoverridden methods:

java.lang.AssertionError: Unoverriden methods found.
javaslang.CheckedFunction0 has to override the following methods with return type CheckedFunction0:
* public abstract javaslang.λ javaslang.λ.tupled()
* public abstract javaslang.λ javaslang.λ.curried()

javaslang.CheckedFunction10 has to override the following methods with return type C

[2015-04-03 21:53] danieldietrich commented on #121
## Design decision

There are two possibilities of overriding super **interface** methods in order to override the return type with a more specific (given the case that this is possible).

1. Call super default impl by specifying a super interface (`SuperInterface.super.method(...)`), cast the return type to the more specific and use `SuppressWarnings("unchecked")` to calm down the compiler.
2. Do

[2015-04-03 22:38] danieldietrich commented on #121
Example of doing the type system right (in my opinion):

* `Option.of(value).map(mapper)` may be `Some` or `None`, depending on `value`
* `None.instance().map(mapper)` should be `None` and not `Option`
* `new Some(value).map(mapper)` should be `Some` and not `Option` (note: like in Scala, `new Some(null)` is `Some(null)` and _not_ `None`).

These points above have a direct implementation on interf

[2015-04-04 00:19] danieldietrich opened #125 "Stream: How much laziness makes sense?"
How lazy should a Stream be?

Using deferred would be 'very' lazy. Even `isEmpty()` could be deferred, so drop would do nothing at all then deferring.

[code]

On the other hand, the Stream could perform an action when asked for:

[code]

I would suggest to make Stream as lazy as possible in the manner that blocking streams are not asked if not necessary.

[2015-04-04 00:44] #121 closed

[2015-04-04 11:39] danieldietrich opened #126 "Implement the first 99 Project Euler problems using javaslang collections"
See [collection.euler.ProjectEulerTest](https://github.com/rocketscience-projects/javaslang/blob/master/src/test/java/javaslang/collection/euler/ProjectEulerTest.java)

[2015-04-05 15:26] danieldietrich opened #127 "Add toJavaOptional to Try, Option and Either"
Use case: Instead of `Try.of(blahblah).toOption().map(Optional::ofNullable).orElse(Optional.empty());` or `Optional.ofNullable(Try.of(blahblah).orElse(null));` we want be able to write `Try.of(blahblah).toJavaOptional()`.

[2015-04-05 15:38] #127 closed

[2015-04-06 13:29] danieldietrich opened #128 "Add javadoc code examples to all non-trivial methods"

[2015-04-06 15:41] #97 closed

[2015-04-06 22:37] #118 closed

[2015-04-07 10:45] danieldietrich opened #129 "Add Try.andThen"
... to support chaining of side effects like

[code]

[2015-04-07 11:55] ggalmazor commented on #129
Maybe we could also benefit from something like Try.peek() (as in Stream.peek()) to support side effects on a map/filter pipeline. This would be helpful with objects like the one from your example whose methods don't return themselves (impeding their use on map() phases in the pipeline).

[2015-04-07 12:14] danieldietrich commented on #129
yes, had that idea also for Traversable - will check how it integrates

[2015-04-08 22:51] danieldietrich opened #130 "Unleash javaslang.Lazy"
Lazy is a memoizing Supplier and it is already used internally in Javaslang. It is useful, so let's make it public.

Lazy evaluation should be a first class citizen of a language, like functions and tuples. Therefore the right place is the first-level package of Javaslang.

Example:

[code]

[2015-04-08 23:07] #130 closed

[2015-04-09 04:47] lukaseder commented on #130
Javaslang is getting more and more awesome. Time for a guest blog post? :-)

[2015-04-09 07:12] danieldietrich commented on #130
Yes, I think it's time :-)
Thank you, Lukas.
This will take a few days (beside my daylight job)

[2015-04-09 17:16] lukaseder commented on #130
Well, we're not in a hurry. It was just me, checking, periodically :)

[2015-04-09 18:21] danieldietrich commented on #130
The Lukas-Eder-Bot ;-)

[2015-04-09 21:47] danieldietrich opened #131 "Add Valences.{Univalent, Bivalent}.peek() and Traversable.peek()"
@ggalmazor suggested: "Maybe we could also benefit from something like Try.peek() (as in Stream.peek()) to support side effects on a map/filter pipeline. This would be helpful with objects like the one from your example whose methods don't return themselves (impeding their use on map() phases in the pipeline)."

[2015-04-09 21:53] danieldietrich commented on #131
My first impression is that, compared to java.util.stream.Stream, we have (in general) no operation pipeline the elements went through. An instance (e.g. Try, List, Option, ...) of component type `T` would have to take care of an encapsulated optional `Peek` instance, which represents a Consumer of an element. Methods, which perform an operation on one or more elements would have to check, if they

[2015-04-09 22:15] #129 closed

[2015-04-09 22:15] ggalmazor commented on #131
I was thinking mainly on legacy apis...

Let me try with an example (it's not the best... I'll find another). This code is what I'm actually using for hashing strings with SHA256:

[code]

With peek(), I could avoid artificially returning the sha256 instance in the first map():

[code]

The problem here is that I'm dealing with a legacy, mutable object, and that I'm forced to 'lie' to the Try's ap

[2015-04-10 07:41] danieldietrich commented on #131
Thank you, great example.

Given an object `o` of type `A<T>` we would define `peek : (T -> void) -> A<T>`, i.e.

[code]

Try is a special case. Here we would expect  a `CheckedConsumer` instead.

The semantics of peek depends on the data type. However, in each case it will return the instance it was called on. Additionally the value passed to the consumer is determined as follows:

* Try: the val

[2015-04-10 07:58] ggalmazor commented on #131
yay!

[2015-04-10 09:01] danieldietrich commented on #131
:-))

[2015-04-10 09:02] lukaseder commented on #130
I wish I had one, seriously! :)

[2015-04-10 09:10] danieldietrich commented on #130
:+1: I will file an issue on the jOOQ page :-)

What is the format of the blog post, e.g. for code snippets?

[2015-04-10 09:32] danieldietrich commented on #130
Great!

[2015-04-10 11:22] danieldietrich commented on #131
Note: `peek` is essentially the same as `forEach`, modulo return type and type of evaluation (lazy vs eager)

[2015-04-11 08:24] ggalmazor opened #133 "Provide IntelliJ Idea settings xml for code styling"
I've noticed that files use a mix of tabs and spaces and that some one-line sentences are kept that way after automatic reformatting in Idea.

It would be helpful to define a main code style, export it (with File > Export Settings) and commit it into the repo for contributors.

Also, I'd suggest to use only spaces for indenting and to convert automatically tabs to spaces when formatting.

[2015-04-11 08:26] danieldietrich commented on #133
I'm on it!

[2015-04-11 08:45] danieldietrich commented on #133
The file `generator/Generator.scala` and the whole dir `src-gen` have to be excluded, currently manually or by reverting formatting changes.

I have to update some javadoc comments because the IntelliJ formatter is producing javadoc incompatible to doclint of java 8 which breaks the (travis-ci) build (when releasing).

@ggalmazor Any suggestions on which settings to export. I don't want to export

[2015-04-11 08:52] ggalmazor commented on #133
You could throw in Code Style, File templates and maybe toString templates (as you've defined it in the contribution guide).

Take into account that those settings are imported in a separate profile so it doesn't collide with previous settings that we could have :)

[2015-04-11 08:52] ggalmazor commented on #133
Inspection Profiles! I forgot.

[2015-04-11 09:08] danieldietrich commented on #133
Thx! - ohh, I overlooked the first option `Code Style`.

This is the current list of settings:

* Code Style
* File templates
* Inspection profiles

Will push the changes in a sec...

[2015-04-11 09:09] ggalmazor commented on #133
Great!

[2015-04-11 09:13] danieldietrich commented on #133
Waiting for travis-ci [build #666](https://travis-ci.org/javaslang/javaslang/builds/58055332) of the pull request. o_O

[2015-04-11 09:19] #133 closed

[2015-04-11 23:07] danieldietrich opened #135 "Let travis-ci push javadoc to the website"
**Steps:**

* create a new security token GH_PAGES and add it to .travis.yml
* create javadoc and push it to javaslang.github.io/javadoc/latest on 'after_success'
* add the script shown below

**Script:**

[code]

[2015-04-11 23:41] #135 closed

[2015-04-12 15:02] danieldietrich opened #137 "Try needs to implement CheckedMonad1"
In the case of the `Try`monad, `flatMap` and `map` may occasionally fail. In the case of an exception a `Failure` should be returned.

In order to accomplish this, the type system has to be extended. Try has to implement CheckedMonad, which extends a CheckedFunctor. These are the new signatures:

[code]

Note: Because currently only Try uses a checked monad it is sufficient to only generate unary

[2015-04-12 15:13] #137 closed

[2015-04-12 15:43] danieldietrich commented on #131
Instead of creating interfaces `Peekable` and `CheckedPeekable`, `peek()` will walk into `Monad*` and `CheckedMonad*`. This concept of [high cohesion](http://en.wikipedia.org/wiki/Cohesion_(computer_science)) can be found throughout the design Javaslang.

I.e. the checked function `CheckedPredicate`, `CheckedRunnable` and `CheckedSupplier` are part of `Try` (since 1.2.0) because they logically bel

[2015-04-12 17:05] danieldietrich opened #139 "Need for n-ary Consumers"
A `Consumer_n<T1, ..., Tn>` is a `Function_n<T1, ..., Tn, Void>`.

Consumers will integrate tightly by adding the following default method to an n-ary Function:

[code]

**Update:** This will not help when defining the lambda!

[2015-04-12 17:05] danieldietrich commented on #131
Depends on #139

[2015-04-12 17:23] danieldietrich commented on #139
Maybe a curried factory method is be sufficient?

[code]

which can be used as follows:

[code]

Answer: No. Too much noise. Need to generate Consumers which extends Functions with return type Void.

[2015-04-12 20:00] #139 closed

[2015-04-12 20:35] danieldietrich commented on #131
Extending the Monad interfaces makes clear, that Tuple does not need to implement Monad.
Furthermore Tuples are the only types which implement Monad2...Monad26.

Therefore Tuple will remove the Monad interface and Monad2-26, Functor2-26 and HigherKinded2-26 will be deleted. (Removing things without touching the business logic is always a good idea)

[2015-04-13 00:10] #131 closed

[2015-04-14 18:40] danieldietrich commented on #9
I want Tree transformation look like this (stolen from [databricks](https://databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html)):

[code]

[2015-04-14 19:51] #120 closed

[2015-04-14 20:00] danieldietrich commented on #124
Clearly all Scala case classes are (implicitely) final because of the symmetry of the (auto-generated) equals method...

[2015-04-14 20:15] danieldietrich opened #143 "Only generate files with variable content"
HigherKinded and Tuple0 are static

[2015-04-14 20:21] danieldietrich opened #144 "Remove workarounds for jdk 1.8.0_25/31 bugs"

[2015-04-14 20:30] #143 closed

[2015-04-14 20:30] #144 closed

[2015-04-14 20:33] #124 closed

[2015-04-14 20:52] #85 closed

[2015-04-14 20:54] danieldietrich commented on #117
Currently I see no use case for that

[2015-04-14 20:54] #117 closed

[2015-04-14 20:57] danieldietrich commented on #102
Depends on #110

[2015-04-15 06:54] danieldietrich commented on #116
Type bounds of Comparator not correct.

[2015-04-15 06:55] #116 closed

[2015-04-15 22:37] #115 closed

[2015-04-15 22:46] danieldietrich opened #151 "Move Traversable flatten() and flatten(Function) into Monad"
and get `flatten(Function)` right.

Also fix the signature of:

[code]

[2015-04-16 12:35] danieldietrich commented on #109
Obsolete. Because of the type system consistency, Traversable impls have to implement combinations() by themaelves (in order to get the correct return type without delegating to super)

[2015-04-16 12:35] #109 closed

[2015-04-16 12:38] danieldietrich commented on #125
Should toString evaluate lazy values (applies for `Stream` and `Lazy`). Scala does not...

[2015-04-16 17:34] danieldietrich opened #153 "Make it possible to partially apply functions without currying"
I got the idea from jOOQ/jOOL#87 (original idea by @LordBlackhole) to add `apply` methods to Functions to partially apply them without the need to call `curried()`.

Example: Instead of

[code]

we would call

[code]

[2015-04-16 17:53] #153 closed

[2015-04-17 08:25] danieldietrich opened #155 "Provide more factory methods (and: lift vs. of)"
Part of this issue is to check, where additional factory methods make sense.

For example, functions should be created from method references using the new `::` operator:

[code]

More variants are:

* Gen.of(Supplier), Gen.of(Function)
* Arbitrary.of(Supplier), Arbitrary.of(Function)
* etc.

In an object oriented sense, the functional `lift` methods are like factory methods `of(...)`.

**Example:

[2015-04-17 08:54] danieldietrich commented on #155
**Factory** sounds like baking something hand-crafted together.

**Lifting** sounds like an elegant solution by taking advantage of some inherent structural properties.

[2015-04-17 17:56] #151 closed

[2015-04-17 19:26] danieldietrich opened #157 "Make monadic types iterable"
Type:

* `Either`
* `Option`
* `Try`
* `Gen`
* `Arbitrary`

Maybe also `Lazy`.

[2015-04-17 19:27] danieldietrich opened #158 "Add forall and exists to Monad"

[2015-04-17 19:34] danieldietrich opened #159 "Create lazy views on Traversables"
Provide method `Traversable.view()` like so:

* https://www.safaribooksonline.com/library/view/scala-cookbook/9781449340292/ch10s25.html
* http://stackoverflow.com/questions/6799648/in-scala-what-does-view-do

[2015-04-17 19:42] danieldietrich opened #160 "Fix travis-ci build by using jdk 1.8.0_40 (or newer)"

[2015-04-17 19:51] #160 closed

[2015-04-17 20:15] danieldietrich opened #162 "Update to assertj-core 3.0.0 with Java 8 support"

[2015-04-17 23:47] #162 closed

[2015-04-18 20:42] danieldietrich opened #165 "Refactor Either types and add missing methods"
By fixing javaslang/javaslang#151, the `filter` method went into `Monad`. This causes problems because the `Either.LeftProjection` and `Either.RightProjection` can't return `Option` any more.

To fix this, the type system has to be refactored/changed. I.e. `filter` must went out of `Monad` again.

Additionally `Either` needs a `get` method and a `swap` method:

* get returns the value of the curre

[2015-04-18 21:58] #165 closed

[2015-04-18 23:08] #158 closed

[2015-04-18 23:10] danieldietrich commented on #157
Either, Option, Try: yes - the rest: no

[2015-04-18 23:30] #157 closed

[2015-04-18 23:52] danieldietrich commented on #106
Unlike the implementation suggested [here](https://stuartmarks.wordpress.com/2015/01/09/writing-stateful-stream-operations/), it is not necessary to make the implementation concurrent because `List` and `Stream` aren't. That leads to

[code]

[2015-04-19 00:27] #106 closed

[2015-04-19 00:36] danieldietrich opened #170 "Add an immutable HashMap to the javaslang.collection package"
Interesting read: http://javarevisited.blogspot.de/2011/02/how-hashmap-works-in-java.html

[2015-04-19 00:38] danieldietrich commented on #110
Depends on #170

[2015-04-19 01:35] danieldietrich commented on #111
This is a good reference for permutations and variations: http://vkostyukov.ru/posts/combinatorial-algorithms-in-scala/

[2015-04-19 02:13] #111 closed

[2015-04-19 09:11] danieldietrich commented on #79
(3 Months later...)

Now it is time to get this done. @mperry: Introducing a `Deferred` Stream is dirty, it would pollute the Stream code with outside IO aspects (like blocking) - I will take the approach you suggested by returning a lazy Stream when contstructing a Stream from a possibly blocking InputStream.

Additionally I will experiment with `Chunked` data, which is Autoclosable and composabl

[2015-04-19 09:25] danieldietrich commented on #125
Scala's Stream behaves as follows:

* `Stream.from(1).toString` prints `Stream(1, ?)`
* `Stream.from(1) == Stream.from(1)` runs infinitely long

Printing only evaluated parts of infinitely long data maybe will be needed for the REPL of Java 9...

We will proceed as follows: All lazy data structures will print only evaluated parts and otherwise will evaluate all element, e.g. for equals, hashCode e

[2015-04-19 09:57] danieldietrich commented on #79
How is memory managed regarding of memoized values in conjunction with infinitely long stream which recursively hold on head/tail? Scala seems to internally memoize values (via SoftReference?). On the other hand, an Iterator does not store elements.

Taken from the Scala 2.11.5 API reference of `scala.collection.immutable.Stream`:

[2015-04-19 21:44] danieldietrich commented on #79
I think I wired the resource handling up using `Chunked` mentioned above.

The whole blocking stream thing seems not to be solvable with streams which _pull_ data, i.e. when they ask for availability. I like the explanation here: jlongster/transducers.js#22

I think with transducers a pipeline of operations can be _recorded_ in some way. Then the blocking input is connected to the transducer. When

[2015-04-20 20:53] danieldietrich commented on #155
This issue is not finished, yet.

For a better understanding of 'lifting' see the discussion [What is a "lifted representation"](http://programmers.stackexchange.com/questions/255696/what-is-a-lifted-representation).

For example I want to

* **construct** a Stream _of_ elements, e.g. `Stream.of(1, 2, 3, ...)`.
* **lift** an `Iterable` to the next higher level by providing `Stream.lift(iterable)`.

[2015-04-20 22:58] danieldietrich commented on #155
Side-by-side use of `lift` and `of` factory methods in Stream and List introduce ambiguities.

[2015-04-20 22:58] #155 closed

[2015-04-20 23:00] #125 closed

[2015-04-21 20:56] danieldietrich opened #174 "Simplify Stream factory methods"
Currently there are

* nil()
* cons(T)
* of(T...)
* of(Iterable)
* of(Iterator)
* gen(Supplier)
* from(int)
* range(int, int)
* rangeClosed(int, int)

It would be nice to get rid of

* cons(T)
* of(Iterator)

See also jOOQ/jOOL#89

[2015-04-21 21:32] danieldietrich opened #175 "Use iteration instead of recursion in collections"
**Example:** `Stream.drop(n)`

The recursive method overflows the stack for large numbers:

[code]

The iterative methods works as a charm:

[code]

Need for tail call optimization :'(

[2015-04-21 21:35] danieldietrich commented on #175
**Simple Test:**

[code]

takes 4s on my early 2011 notebook and prints:

[code]

as expected.

[2015-04-21 22:05] danieldietrich commented on #76
**LGTM**

The `Lazy` type is internally holding a lock `synchronized(this)` while evaluating the value.

_Note: I know the controverse discussion on whether it makes sense to lock on `this`. I do it intentionally!_

Given 1) the lazy evaluation and 2) the mutal exclusion within Lazy, the factory methods of Stream

* work with constant Stack (i.e. recursive calls within the tail supplier of a Strea

[2015-04-21 23:02] #76 closed

[2015-04-21 23:06] danieldietrich commented on #174
Cannot remove factory methods, we need them all.

The implementation of particular factory methods was fixed by [pull request #176](https://github.com/javaslang/javaslang/commit/d9060471d71062e2ef336d90d60e7eb93c455add)

[2015-04-21 23:06] #174 closed

[2015-04-21 23:54] danieldietrich commented on #175
* `Traversable` has no recursive methods
* `Seq` has no recursive methods

**Fixed:**

* `Stream.drop(n)`
* `Stream.dropWhile(Predicate)`
* `Stream.filter(Predicate)`

**TODO:**

* `Stream.flatMap` is recursive
* `Stream.flatten` is recursive

**Currently no impact:**

* `List.combinations(int)` and `List.permutations()` are recursive
* `Stream.combinations(int)` and `Stream.permutations()` are re

[2015-04-22 07:57] danieldietrich commented on #103
Here is a benchmark created on my early 2011 macbook pro using Scala 2.11.6 and Java 1.8.0_40.

## Test setup

The test covers the creation of an infinite lazy stream of ints starting with 1, filtering even numbers and dropping 100 million elements. The first element of the remaining stream is taken.

1. Start time mesure
2. Execute command
3. Print time

## The results

| language | time | comman

[2015-04-22 11:09] #175 closed

[2015-04-22 17:00] danieldietrich commented on #103
This was just a little spike. Comes time and progress, there will be a complete benchmark of all methods of all relevant frameworks.

Also a more mature comparison makes sense. Structural data types vs. in-place operations. Reusability of instances, thread-safety and immutability. Primitive types vs. objects. Sequential vs. parallel processing. Conciseness, usability, etc. There is much to say...

[2015-04-22 17:00] #103 closed

[2015-04-22 17:09] danieldietrich opened #178 "What do to when an 'infinite' Stream overflows?"
Currently it ends with `Nil`. Alternatives would be to throw an `OverflowException` or start at the MIN if MAX is exceeded.

[2015-04-22 17:16] danieldietrich opened #179 "Some minor improvements regarding Traversables"
**Javadoc:**

* List: eager sequence of elements
* Stream: lazy sequence of elements

**Ensure to return `this`** instead of `Nil.instance()` when `this` is `Nil`.

**Check for `isEmpty`** will save some cycles and memory:

Example:

[code]

instead of

[code]

[2015-04-22 17:19] danieldietrich opened #180 "Create a changelog (starting with the first version)"
which

* contains the highlights / major improvements and bug fixes
* provides links to the corresponding github milestones
* provides links to the corresponding maven jars and online apidocs

[2015-04-22 19:30] #179 closed

[2015-04-22 20:06] danieldietrich commented on #178
I like it to look at Scala. It is one of my favorite languages. Because I'm lazy, I want Java and Scala to behave similar. Thank makes switching between languages a little bit more painless.

[code]

The above gave us the answer to this issue.

[2015-04-22 21:01] #178 closed

[2015-04-22 21:37] #180 closed

[2015-04-23 20:16] danieldietrich commented on #123
Depends on [eclipse bug 430404](https://bugs.eclipse.org/bugs/show_bug.cgi?id=430404), which is a follow-up of [eclipse bug 442245](https://bugs.eclipse.org/bugs/show_bug.cgi?id=442245).

[2015-04-23 21:13] danieldietrich opened #185 "Deeply map a nested, monadic structure."
@ggalmazor proposed:

[code]

...for any number of depth levels.
... and any Monad type (Try, Option, Stream...)

[2015-04-23 21:23] danieldietrich opened #186 "Thoughts on Async Streaming"
Generally it would be cool to be compliant to https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.0/tck/README.md

How could this play together with Java's [CompletableFuture](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html)? http://blog.jooq.org/2014/09/23/asynchronous-sql-execution-with-jooq-and-java-8s-completablefuture

[2015-04-23 21:35] ggalmazor commented on #185
Specific example...

[code]

If you collected the stream, you'd get one None() and one Some<Long>().

But i'm thinking that it might be impossible to check or infer the types right...

[2015-04-24 12:51] danieldietrich commented on #185
Thank you for the example! I've `traverse(mapper)` in mind (like tree traversal). Nodes of the tree are monads, each monad has `traverse`. Will go into it later today...

[2015-04-24 22:25] danieldietrich commented on #185
I have a local running version. Basically it is a recursive `map` with `Match` cases.

`Monad` gets a new method `treeMap` which traverses a tree of Monads and transforms values.

[code]

**Unsafety 1**
If the type of the domain of the mapper function does not match the 'real' type, then a ClassCastException will occur at runtime.

**Unsafety 2**
treeMap does cast the result via generic method par

[2015-04-25 07:12] ggalmazor commented on #185
Wow, this is awesome :)

[2015-04-25 08:38] danieldietrich commented on #22
Follow the comment in the Gist mentioned above: https://github.com/ktoso/akka/commit/5e14c2db4b6a57f3bdbbd68301a969b1b1d5ab4b

[2015-04-25 09:18] danieldietrich opened #187 "Simplify Match API"
We want have just cases instead of traces of the builder pattern in the match expression:

[code]

If type of r1 and r2 differ, Java is not able to calculate the upper bound of `r1` and `r2`. Instead of justifying the Match type with the first case, like so:

[code]

...we want to add API to give a type hint (which is more readable and familiar in my opinion):

[code]

Because internally the build

[2015-04-25 09:30] danieldietrich opened #188 "Mark unsafe methods in order to find usages at compile time"
The are very a few unsafe method in Javaslang because of the lack of expressiveness of the Java type system. Nevertheless, we may _want_ that functionality as Java programmer.

Unsafe Javaslang methods will be marked with a new annotation `@unsafe`. This will clarify, that the developer has to take care of types and may help her/him to decide, whether it is a viable alternative to use the API.

Th

[2015-04-25 11:01] danieldietrich commented on #185
Thx :)

[2015-04-25 11:57] #188 closed

[2015-04-25 13:55] danieldietrich commented on #187
Additional requirement: checked vs unchecked case without adding a `CheckedMatch`.

[2015-04-25 21:21] #187 closed

[2015-04-26 20:46] danieldietrich opened #191 "Let {Gen,Arbitrary}.{exists,forAll} loop"
instead of throwing. Additionally they need to implement `Iterable`.

Currently they throw because `Gen` and `Arbitrary` are infinitely long, so these methods probably never return.

This is a philosophical question - on the other hand we expect `exists()` and `forAll()` to behave in the way defined in the `Monad` interface.

Personally I prefer _consitency over opinion_.

[2015-04-26 22:18] danieldietrich opened #192 "Let javaslang.collection.Seq<T> extends java.util.Function<Integer, T>"
such that:

[code]

Implementation:

[code]

[2015-04-26 22:42] danieldietrich opened #193 "Harmonize of(T), of(T...), of(Iterable), of(Iterator) methods"
Currently `{List,Stream}.of(element)` does not call `of(T)` if `element` is of type `Iterable` (or `Iterator` in the case of `Stream`).

To get a more natural API, remove the `cons(T)` method, keep the `of(T)` and `of(T...)` methods and rename the `of(Iterable)` and `of(Iterator)` methods to ... something different.

I think `List.lift(Iterable)` is a candidate.

But I'm not sure about it. The _li

[2015-04-28 22:07] #185 closed

[2015-04-28 22:27] danieldietrich commented on #193
The API will be

* `List.nil()`
* `List.of(T)`
* `List.of(T...)`
* `List.ofAll(Iterable)`

The `ofAll()` is a new name, the `cons()` disappeared. `ofAll` aligns well to `addAll`, `removeAll` etc., known from Collections. Also it is great to have the unique name `ofAll()` along all collections (currently only List and Stream).

[2015-04-28 22:44] #193 closed

[2015-04-29 15:46] danieldietrich opened #196 "Add Traversable.xxxOption() methods..."
...for methods xxx which may throw, i.e.

* head()
* tail()
* sum()
* etc

[2015-04-29 17:34] danieldietrich commented on #105
like so http://docs.scala-lang.org/tutorials/FAQ/yield.html

[2015-04-29 17:40] lukaseder commented on #105
That was quick ;-)

[2015-04-29 17:55] danieldietrich commented on #105
Yes :) Thanks for sharing

[2015-04-29 20:34] #191 closed

[2015-04-29 20:55] #192 closed

[2015-04-29 22:11] danieldietrich commented on #85
See #196

[2015-04-29 22:13] danieldietrich commented on #79
Famous last words: 'A stream is a lazy linked list.'

[2015-04-29 22:58] #88 closed

[2015-04-29 23:06] #98 closed

[2015-04-30 10:03] danieldietrich commented on #110
@ggalmazor provided https://gist.github.com/ggalmazor/d5e74c44e7df741e6571

[2015-04-30 10:06] ggalmazor opened #201 "New version of Traversable.sliding() that doesn't result partially full windows"
So that:
[code]

This would do the same as:
[code]

(IMHO, this should be the default behavior...)

[2015-04-30 10:10] ggalmazor commented on #201
Therefore:
[code]

[2015-04-30 10:19] danieldietrich commented on #201
Thx! How does Scala behave compared to this? I will check it.

[2015-04-30 10:23] ggalmazor commented on #201
For what it's worth, I've been using [this implementation](http://java.dzone.com/articles/grouping-sampling-and-batching) for Java8 Streams for some time now.

[2015-04-30 12:20] danieldietrich commented on #201
You are right! I have the feeling, that I missed a unit test for window size > 1 and step size 1. I will investigate it later today!

[2015-04-30 12:23] ggalmazor commented on #201
:+1:

[2015-04-30 14:16] ggalmazor opened #202 "[Design Question] Should Traversable.head() return None<T>?"
Why does ```Nil.head()``` throw at the moment? Should it return ```None<T>``` instead?

Currently there isn't a "safe" direct way to get the head element, tail or last element from Traversables... We need to ```Try.of(()->list.head()).orElse()``` when using this.

[Java8's approach for Streams](https://docs.oracle.com/javase/8/docs/api/java/util/stream/Stream.html#findFirst--) does the trick. Mayb

[2015-04-30 15:16] danieldietrich commented on #202
Yes, I added this yesterday: #196

I will release it with the groupBy() and sliding() features.

[2015-04-30 15:19] danieldietrich commented on #202
Btw. - there's more in the pipeline. I will introduce all missing collection methods like scanLeft, scanRight, etc.

I'm looking at more sophisticated collection libraries than Java 8 Stream. E.g. Scala is way more sophisticated...

[2015-04-30 21:33] danieldietrich commented on #201
Hi again,

I've tested the examples of your 2nd comment with the implementation you mentioned in the 3rd comment. I get another result (see full example below).

I've created a fix of Javaslang's sliding(), which behaves like the code you mentioned.

[code]

\- Daniel

[2015-04-30 21:46] danieldietrich commented on #201
Note: I split the collection in order to get the expected result. Perhaps there is a better implementation but it's concise:

**List:**

[code]

**Stream:**

[code]

[2015-04-30 21:55] danieldietrich commented on #201
My pull request closed this issue - I reopened it to wait for you OK...

[2015-04-30 22:33] danieldietrich commented on #196
For now I added:

* `headOption()`
* `tailOption()`
* `initOption()`
* `lastOption()`

[2015-04-30 22:34] #196 closed

[2015-04-30 22:36] danieldietrich commented on #202
Fixed by https://github.com/javaslang/javaslang/commit/e8321f5db2193e55b9e3545d64674520f6d1c81a

[2015-04-30 22:36] #202 closed

[2015-05-01 09:48] danieldietrich commented on #79
@lukaseder I read your tweet

and just want to say, that this issue moved to https://github.com/javaslang/javaslang/issues/186 in order not to be a Troll :-)

[2015-05-01 10:01] lukaseder commented on #79
Huh, what? I'm not sure if I see the link now... Because I "walked away" from this issue here?

[2015-05-01 10:02] danieldietrich opened #205 "Add Traversable.partition"

[2015-05-01 10:04] #205 closed

[2015-05-01 10:37] danieldietrich commented on #79
There is no direct link - in order to provide a good support here I'm figuring out how to close a ticket. If multiple people are discussing a specific subject, I don't want to just close the ticket without a common agreement. In this case, it should be ok. The whole async/reactive _thingy_ is not just a feature, it's an epic...

[2015-05-01 10:42] lukaseder commented on #79
Aha :-) Hehe, ok. I see that this has been bothering you for a while, then :-)

I usually conclude with a couple of actions, creating a new issue for each action, linking the actions from the *thingy* / epic, and then closing the *thingy* / epic...

[2015-05-01 10:47] danieldietrich commented on #79
Nice! I will copy that :-)

[2015-05-02 10:46] danieldietrich opened #207 "Fix numerical operations of Traversables and make functions total"
Currently we have the following numerical operations:

## Computational

* average()
* product()
* sum()

**Current approach:** The result has the same component type as the elements

This is generally ok but has several disadvantages. By looking at the first element, we are able to get runtime information about the component type. The empty traversable has no elements. Because of type erasure the

[2015-05-02 14:24] danieldietrich commented on #207
**Technical realisation:** Perform computation with JavaScript

Java 8 has Nashorn, why not use it? JavaScript is an untyped language, operations are always defined/do not throw and the JavaScript engine is _fast_. JavaScript has also 64 bit doubles, so there should be no loss of precision.

Example: `Traversable.sum()`

[code]

[code]

The JavaScript engine `JS` is set up as follows:

[code]

**N

[2015-05-02 15:41] danieldietrich commented on #207
A more optimized JavaScript would look like this:

[code]

[2015-05-02 20:16] #207 closed

[2015-05-02 20:31] danieldietrich commented on #201
... I will prepare the release 1.2.2 now because I'm busy tomorrow. If there is s.th. missing don't hesitate and give me a hint!

[2015-05-02 20:31] #201 closed

[2015-05-02 21:58] danieldietrich commented on #207
I'm convinced that this goes in the right direction. However, Java is a statically typed backend language without room for 'elastic' behavior. Most probably there will be 'fear' of undefined values, e.g. when summing Strings or arbitrary objects without a numeric representation.

Maybe the correct 'Java-way' would be to throw a `NumberFormatException` instead of returning `NaN` or `Some(NaN)`. On

[2015-05-03 13:56] danieldietrich commented on #207
I've slept one night over this topic and I think it would be great to return an instance of `Number` instead of a `double`.

The caller of `sum` could decide, if a `double` or `long` is wanted. The underlying implementation could compute both - a long value and a double value. E.g. there would be no loss of accuracy when summing up int values.

Also I think, that we should throw a `NumberFormatExc

[2015-05-03 16:26] danieldietrich opened #212 "Fix the fix of numeric Traversable operations"
`sum()` and `product()` operate on arbitrary Traversables containing numeric elements, i.e. integral numbers and fractions. Therefore we are not able to determine the specific return type. Java's generalization of numbers is `Number`, so we should return this.

The accuracy of integral numbers has to be maintained. Values have to be computed correctly, overflow has to be avoided.

On the implement

[2015-05-03 16:27] danieldietrich commented on #212
This is a follow up of #207

[2015-05-03 16:31] #212 closed

[2015-05-03 16:34] danieldietrich opened #214 "Add an immutable SortedSet to the javaslang.collection package"

[2015-05-03 18:36] danieldietrich commented on #22
this. isn't. possible. (yet)

[2015-05-03 18:36] #22 closed

[2015-05-04 07:38] ggalmazor commented on #207
:+1:

[2015-05-04 08:22] ggalmazor commented on #201
Sounds good! Thanks a lot :) Will adapt my current code to 1.2.2 and let you know how it goes :)

[2015-05-04 08:41] danieldietrich commented on #201
great!

[2015-05-04 09:00] danieldietrich opened #215 "Optimize Traversable.toJavaStream() from O(n) to O(1)"
Currently all elements are processed to create a Stream by converting it to a java.utl.List and streaming it.

A better solution is:

[code]

[2015-05-04 09:04] danieldietrich commented on #215
... or even better, since Traversable is an Iterable:

[code]

[2015-05-04 09:12] danieldietrich opened #216 "Add java.util.stream Collectors for all javaslang collections"
Implement them as static interface method `collector()` of  javaslang List, Stream, BinaryTree, RoseTree, Set, Map

[2015-05-04 09:16] danieldietrich opened #217 "Create javaslang.control.Option.of(java.util.Optional)"
There will be more of this because of better Java stdlib integration

[2015-05-04 09:47] danieldietrich opened #218 "Integration: Provide an interface to the Javaslang functionality"
like so:

[code]

[2015-05-04 11:42] danieldietrich commented on #218
Just name it `To`&trade;

* `To.list(java.util.List)`
* `To.option(java.util.Optional)`
* `To.f(java.util.function.Function)`
* etc

[2015-05-04 11:46] danieldietrich opened #219 "Create a new module javaslang-guava"
with an interface `Deguava` which converts Guava objects to Javaslang, in the same way like #218

[2015-05-04 16:49] danieldietrich commented on #217
This will move to #218 instead of adding a new method to Option.

[2015-05-04 16:52] danieldietrich opened #220 "[Epic] Extend the collection library"
This includes:

* #9 Tree transformation X
* #113 Tree extends Traversable ✓

Already finished:

* #102 Traversable.countOccurrences X
* #110 Traversable.groupBy ✓
* #170 Immutable HashMap ✓
* #214 Immutable TreeSet ✓
* #256 Re-organize collection.Tree ✓
* #271 More common TraversableOnce methods ✓
* #278 Immutable Stack ✓
* #279 Immutable Queue ✓
* #295 Immutable Array ✓
* #428 Add an immutable T

[2015-05-05 22:02] danieldietrich commented on #113
## Traversing a Tree

A `Tree` has an order, pre-order by default. The order may be changed, however, then a new Tree instance is created - for that node only. Different nodes of a tree may have a different order associated with. If a node is traversed, the order of the current node is taken into account when traversing all nodes. There are different methods to traverse a tree:

* `traverse()` - u

[2015-05-06 07:15] danieldietrich commented on #113
Please consider to let `traverse()` return `Seq<Tree<T>>` instead of `Seq<T>`

[2015-05-06 07:34] ggalmazor opened #221 "List<Monoid<T>> standard reduction"
If a List contains Monoids of type T, it would be natural to reduce it just by calling reduce() with no args on the list, as the combination function and zero element is already defined for Monoids.

This would be helpful when working with ValueObjects that wrap around primitive types that are naturally combinable like Money, for example.

What do you think?

[2015-05-06 13:21] danieldietrich commented on #221
Yes, we can do this. It would make an assumption regarding the runtime type of the List / Traversable. Like treeMap() and flatten().

Such methods are annotated with `@unsafe` to make clear that ClassCastExceptions can occure.

The empty List cannot be reduced, but this is clear. Therefore the zero element will never be used explicitely.

Let's do it!

[2015-05-06 18:39] danieldietrich commented on #221
I think I was a little bit too fast with my answer - of course a type can be a Monoid regarding multiple operations. E.g. a currency can be multiplied (zero: 1) and added (zero: 0). It is not clear which monoid to take here.

I have an uneasy feeling with the whole `@unsafe` stuff (`flatten()` and `treeMap()`). We want to ship the best solution possible for creating robust programs. Being unsafe i

[2015-05-06 19:48] danieldietrich commented on #113
A scala worksheet is probably not the ideal way to test it, but it works:

[code]

**Output:**

[code]

[2015-05-06 20:01] danieldietrich commented on #113
The above example leads to (_not tested if this compiles or makes sense_):

[code]

[2015-05-06 20:07] danieldietrich commented on #113
For BinaryTrees with values at inner nodes and leafs I think of

1. map a node.value a to a Tree
2. add node.children as children to each leaf of the mapped tree of 1.

This implies, that the empty tree is not allowed! We should omit it and use an Option to express the existence of a Tree.

[2015-05-06 21:26] danieldietrich commented on #113
Looking at the methods of Traversable, there are many methods, where it makes sense to return `Tree` instead of `Seq`, opposing as stated above.

Especially looking at the transformational operations, they can be divided into

1. transforming values, e.g. `replace(Object, Object)`
2. transforming structure, e.g. `sliding(int, int)`

[2015-05-06 21:39] ggalmazor commented on #221
Of course! It's completely reasonable what you're arguing :) Don't worry about it. I don't like @unsafes too ;)

[2015-05-06 21:41] danieldietrich commented on #221
Great! :+1:

[2015-05-06 22:13] danieldietrich commented on #113
Thoughts on return types...

**Conversion** (_return type as in Seq / not Tree_)

* `toJavaArray(Class)`
* `toJavaList()`
* `toJavaMap(Function)`
* `toJavaSet()`
* `toJavaStream()`

**Basic operations** (_return type as in Seq / not Tree_)

* `clear()` (_return type empty Tree_)
* `head()`
* `headOption()`
* `init()`
* `initOption()`
* `isEmpty()`
* `last()`
* `lastOption()`
* `length()`
* `tail()

[2015-05-12 20:58] #221 closed

[2015-05-12 21:08] #215 closed

[2015-05-14 07:27] danieldietrich opened #225 "Rename Match.caze to Match.when"
...according to user feedback.

[2015-05-14 09:49] #225 closed

[2015-05-14 13:21] danieldietrich opened #227 "Howto process further with Match.orElse()"
On the one hand it is common to use `otherwise`. On the other hand, `orElse()` is unified throughout Java and Javaslang.

We are not able to let `Match` fully implement `Valences.Univalent`. However, `Match` should implement:

[code]

[2015-05-14 13:46] danieldietrich commented on #227
After thinking again, I also tend to use `otherwise()`. There is nothing to `get()` from a `Match` before applying it to an `Object`.

[2015-05-14 14:05] jbgi commented on #227
You could also design match to use
[code]
also only Function<? extends Number, R> should be allowed as when argument, IMO.
and the first when argument determine the type of R. (that would require a smarter Match builder)

[2015-05-14 18:27] danieldietrich commented on #227
Wow, this would be exactly the solution in order to make the `when`-part of `Match` implement [Univalent](https://github.com/javaslang/javaslang/blob/master/src/main/java/javaslang/control/Valences.java) (difference: we call `toOption()` instead of `get()` then). Awesome!

The existing `Match` syntax allows us to match arbitrary objects (like Scala). Additionally it makes `Match` reusable (see exa

[2015-05-14 19:38] danieldietrich commented on #227
Also I think of changing the method name `ofType()` to `as()` in order to override type inference for the return type of the `Match` if the return type of the first `when()` is not sufficient.

**Example:**

This does/will not compile:

[code]

This does/will compile:

[code]

[2015-05-14 22:13] danieldietrich commented on #227
@jbgi I've prototyped your suggestion and the API feels really great! Here is the code (currently only within my fork): [Match2](https://github.com/danieldietrich/javaslang/blob/issue227/src/main/java/javaslang/control/Match2.java) \- And, oh my, this is most probably also a Monad :-)

Compared to the current [Match](https://github.com/javaslang/javaslang/blob/master/src-gen/main/java/javaslang/co

[2015-05-14 22:16] danieldietrich commented on #227
@jbgi We could do it as everyone else and just give a type hint to circumvent the reflection \*magic\*: `Match.of(i).when(Integer.class, i -> 1)`

[2015-05-14 23:13] danieldietrich commented on #87
With #227 Match will implement Monad

[2015-05-14 23:15] danieldietrich commented on #36
This makes no sense. With #227 Match returns a value rather than nothing.

[2015-05-14 23:15] #36 closed

[2015-05-14 23:38] danieldietrich commented on #73
We could #227 enhance like so:

[code]

[2015-05-15 00:02] danieldietrich commented on #73
Because of type erasure we need to give a type hint - and again we need reflection \*magic\* (which is slow) to get the parameter types of the function.

[code]

**Type erasure bites us regarding the `tail` parameter. It does not seem to be possible to pattern match Java objects _in a concise way_. So I will drop this feature for now.**

Note: Here is our goal, the equivalent Scala code:

[code]

[2015-05-15 00:08] #73 closed

[2015-05-15 00:33] danieldietrich commented on #227
I played around with the new API. We see type erasure when using generic types:

[code]

The previous approach was unsafe by design:

[code]

[2015-05-15 01:22] danieldietrich commented on #227
Interesting: Intellij Idea compiles this, but Java 1.8.0_45 does not:

[code]

Errors:

[code]

[2015-05-15 03:41] sirinath opened #231 "Leverage Streams for Parallel Programming - E.g. Dataflow Programming / Functional Reactive Programming (FRP) / Communicating Sequential Processes (CSP) / Algorithmic skeleton (Parallelism Patterns)"
Libraries like http://www.paralleluniverse.co/quasar/, https://github.com/GPars/GPars, http://akka.io/ have this. It will be good to have similar features in this library also so you can have one cohesive library for similar needs.

[2015-05-15 08:24] danieldietrich commented on #231
Thank you! Do you mean the feature of non-blocking streaming of data-chunks, which may be pulled from a source or may be also pushed from a source?

There has been some initial discussion in #79. At #186 I am tracking activities now.

[2015-05-15 08:40] danieldietrich opened #232 "How to resolve name clashes of collections?"
In particular, `List` and `Stream` have name conflicts with their `java.util` and `java.util.stream` counterparts. An attempt to prefix a 'J' resulted in a name conflict with `javax.swing.{JList}`.

How to name things is relatively opinionated. From the technical perspective name clashes are distracting.

How about prefixing an underscore '_', i.e. `_List` and `_Stream`? I like that. They are no `

[2015-05-15 08:48] danieldietrich opened #234 "Maximum arity of Function, Tuple et. al."
I'm very interested in opinions about the maximum arity of Function, Tuple, etc. What does make sense?

[2015-05-15 09:00] martin-g commented on #232
I personally don't mind the clashes. I like Scala's import renaming but I don't mind using FQN in Java when needed.
Here is another solution: add `_Name` as an alias of `Name`, e.g.:
[code]
[code]
This way people can import the _Name if they prefer it.

[2015-05-15 09:31] danieldietrich commented on #232
**Great idea!** Have to think about providing aliases. Most collections are interfaces with static factory methods to get concrete instances. Static interface methods are not inherited.

I agree, FQN are arguable. Javaslang collections play well together with the Iterable interface, this can also be used instead of the specific class names.

Here is a (currently broken) example of bundling aliases

[2015-05-15 09:59] szarnekow commented on #234
In Xtend we support lambdas up to 6 params but I've yet to see a reasonable case with more than 4.

[2015-05-15 10:00] danieldietrich commented on #234
Thx Sebastian, that helps!

[2015-05-15 10:08] danieldietrich commented on #227
I've though about loosing generic types. The API `Match.of(value).when(Class, Function)` is not helpful. I will provide `Match.of(value).when(Function)` instead.

As mentioned already it is slower but keeping the current API `Match.when(Function)` can be used in performance critical cases. The `when(Function)` notation is then also concise for both types of Match builders (_value_ and _function_).

[2015-05-15 10:28] danieldietrich opened #235 "ValueObject has no value any more"
Triggered by #227 we see that the proposed feature #73 cannot be accomplished.

ValueObject has been designed towards #73 in order to unapply/decompose objects. This will not happen in near time, so ValueObject can be safely deleted without cutting features of Javaslang.

Note: When refactoring, ensure that the Serializable property does not get lost. Some interfaces may not need to extend Seriali

[2015-05-15 11:01] martin-g commented on #234
For lambdas lower number is OK.
But for Tuple I am not so sure.
I guess you already know that Scala supports arity of 22. There were many complains at http://slick.typesafe.com/ that sometimes the DB result/record could not fit in 22. So they replaced the usage of Tuple with HList.
In my personal experience I rarely needed something bigger than Triple.

[2015-05-15 11:11] #235 closed

[2015-05-15 11:14] danieldietrich commented on #234
Thx @martin-g, Perspectively we should also add `HList`!

[2015-05-15 11:15] danieldietrich opened #237 "Add a Heterogeneous List (HList)"
When combining Validation results, the Validation Builders use Tuples. Because we currently only have 8 Tuples, Validation is limited to 8 combined results.

Goal of this issue is to increase the limit. There are multiple ways to do so:

* increase the number of Tuples, Functions, CheckedFunctions etc. This is considered not to be practicable for many reasons (pollution of the API, bad type infere

[2015-05-15 11:37] danieldietrich commented on #232
...thinking of an alias generator which follows the scheme mentioned above. Alias modules containg `_Original` interfaces can be theoretically generated automatically using reflection with overridden methods `_Original method(args)` where necessary (modulo generics?). `Proxy` will do the rest?

[2015-05-15 12:53] sirinath commented on #231
Something like this:

[code]

(Sourced from: http://docs.paralleluniverse.co/quasar/)

[2015-05-15 13:48] sirinath opened #238 "Fan Out / Fan In Patterns in Streams"
Nice feature in Akka Streams (http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0-RC2/scala.html?_ga=1.28851132.1234628154.1418042628) is the fan in and fan out patters. Perhaps you can have something similar in the stream related implementations.

E.g.

[code]

[2015-05-15 14:16] sirinath opened #239 "Simulate ADT"

[2015-05-15 14:23] jbgi commented on #239
You may be interested in https://github.com/sviperll/adt4j and a recent design discussion of the project: https://github.com/sviperll/adt4j/issues/20

[2015-05-15 14:54] danieldietrich commented on #239
This is great!

We should take this into account when designing the collections. `List` and `Stream` are there, `Map` (#170) and `Set` (#214) are in the pipeline. I'm currently investigating which form of binary search tree to take in order to create efficient Map and Set implementations. Not only time complexity is important but also space complexity, particularly for HashMaps. There are importan

[2015-05-15 14:57] danieldietrich commented on #238
A few weeks ago Roland Kuhn was here in Kiel and demonstrated the new Akka features at a Nordic Coding event - very impressive. I will take this into account for the 1.3.0 release, where this topic will be covered!

[2015-05-15 15:10] danieldietrich commented on #231
Without knowing how the classes are implemented this looks like some sophisticated implementation of the observer pattern with the addition of thread synchronization.

What I want is some few, strongly typed, composable building blocks. I haven't yet investigated what types of async abstractions are necessary to cover this whole topic with the minimum amount of types.

As said, without having deep

[2015-05-15 16:13] nedtwigg commented on #232
I am the reddit commentor who objected to the name clashes.  Big fan of the library, looking forward to trying it!  I have lots of List and Stream in my code, and I didn't like that there would be ambiguity about which List and Stream.

As I was looking at this, I just realized that the gui toolkit that I use (SWT) has a "List" class, but it's used so differently from a java.lang.List that I don't

[2015-05-15 17:05] danieldietrich commented on #232
Hey! Of course you're right - we search the simplest solution possible, there will be no aliases using reflection voodoo magic proxy mechanisms lingering around in Javaslang :-)

The control package is fixed, so are the collections. The only experimental feature is the match API. With #227 it will be also fixed in the next release, too. I should have been started with a 0.x version but now we are

[2015-05-15 18:20] nedtwigg commented on #232
There are 3 groups you can optimize your library for:

A) People who are already using Javaslang
B) People who are starting a brand new project, and want to jettison java.lang.List, and any library that uses java.lang.List

For these people, it is better if you don't change the names.

C) People who are developing and improving an existing project, or starting a brand new project that will need li

[2015-05-15 19:40] jbgi opened #240 "Add Apply between Monad and Functor"
Applicative functors are extremely useful, it would help a lot to have Apply for implementing lenses.
Also not sure why Traversable extends Monad ???
Also Monad and Functor are generated to avoid some duplication with the 'Checked' alternative ; but I think it it is probably not worth it ; hacking them (to add default methods for example) is extremely tedious. WDYT?

[2015-05-15 20:03] danieldietrich commented on #240
In Javaslang Tranversable is a representation of recursive 'foldable' data types, and it has `map()`, `flatMap()`etc. Of cause that does not make Traversable a Functor or a Monad. Actually all implementing classes (List and Stream) are Monads, so it was a matter of object oriented refactoring to generalize the similarities and group them in a super class/interface. This is all about it - no specia

[2015-05-15 20:11] danieldietrich commented on #240
Ahh, sorry, I forgot to answer your question about code generation. Please try to generate duplicate code (minimum granularity: classes), otherwise it would be only a matter of time that code / javadoc diverges. I would like to assist you, if you need help!

[2015-05-15 21:44] danieldietrich commented on #232
Yes, I know what you are talking about :-) At $work we have a legacy Java system with gigabytes of transitive dependencies. Our vendor started development in the 90s. A big amount of classes is still not typed with generics - it's a nightmare.

Here is a List of possibilities to name things:

[code]

`_` is currently the only prefix that does not make me jump out of the window but it is ugly thoug

[2015-05-15 22:01] danieldietrich commented on #240
I prototype code always outside of a generator (just as usual), copy it (or parts of it) into `generator/Generator.scala` and create generator templates.

You may commit code as-is. I will do the generator-stuff if necessary. If you need to change Functor/CheckedFunctor and Monad/CheckMonad you may copy them from `src-gen` to `src` and comment out these lines in Generator.scala:

[code]

[2015-05-16 01:50] sirinath commented on #231
I guess GPars is the most complete implementation. Perhaps you can look under the hood for what is happening.

[2015-05-16 02:20] sirinath commented on #231
In the JS world this is a very interesting implementation: http://noflojs.org/

[2015-05-16 15:50] danieldietrich opened #241 "Reincarnate flatten() as static method"
The following allows to `flatten()` Monads using a fluent API while being type safe!

[code]

then the following is possible:

[code]

w00t!

[2015-05-16 16:09] danieldietrich opened #242 "Circumnavigate Java's type system limitations"
Java's type system has several limitations, e.g. type constructors are invariant.

We already have `javaslang.algebra.HigherKinded`, e.g. in order to be able to define the method `flatMap()` accross types within a inheritance path. But the first definition of `flatMap()` fixates the result type of the mapper function of `flatMap()`.

Simply spoken, `flatMap()` has currently the following shape acc

[2015-05-16 16:21] danieldietrich commented on #241
Btw - the examples above are using #242 already.

[2015-05-16 16:53] danieldietrich commented on #242
**Note:** I struggled with the idea to remove `HigherKinded` from Javaslang. But then it would not be possible to have `flatMap()` accross inherited types like so:

[code]

**1)** The first solution would be to remove `flatMap()` in order to have `mapper` return the current type:

[code]

This is unsatisfying.

**2)** The second solution would be to fixate the return type of `mapper`:

[code]

**T

[2015-05-16 17:02] danieldietrich commented on #242
Maybe I should rename `HigherKinded` to `Type` and swap the generic parameters, i.e. `Type<List<?>, U>` that reads: _type List with elements of type U_.

The class `Type` would then move to the first-level package `javaslang` and it would be official API for these kind of problems in functional programming with Java.

[2015-05-16 17:10] jbgi commented on #242
+1 for switching type parameters. also Functor should be probably extends Type/HigherKind. But what about using a visualy light class name like hk<> or __<> (alla highj).

[2015-05-16 17:11] danieldietrich commented on #122
This should be done only in the lazy case (read: Stream), where it is already implemented.

[2015-05-16 17:11] #122 closed

[2015-05-16 17:18] danieldietrich commented on #242
What is the use case you have in mind? It does not have a method of the shape of `flatMap`, i.e. it does not need the additional type information. The less the better...

Yes, I've thought of that. `flatMap()` has this name in its type signature. I bet Java programmer _Joe Average_ will be totally lost, if he read:

[code]

The name `Type` gives a hint about the semantics.

[2015-05-16 17:20] danieldietrich commented on #242
@jbgi oh wait `__<List<?>, U>` isn't that bad :-) because we see only the relevant part: `List` of type `U`.

**Indeed, this is very cool!**

[2015-05-16 17:21] danieldietrich commented on #242
@jbgi Why do you write two underscores `__` instead of one `_`? Does it reflect the number of generic type arguments?

[2015-05-16 17:32] jbgi commented on #242
just that only one underscore give a javac warning.

[2015-05-16 17:39] danieldietrich commented on #242
ah, ok. I've read about "completing underscore removal from legal identifier names" in Java 9. Does this affect also class names? I don't know...

[2015-05-16 18:15] danieldietrich commented on #242
As of Java 9 / [JEP 213 Milling Project Coin](http://openjdk.java.net/jeps/213): "In addition, using underscore ("_") as an identifier, which generates a warning as of Java SE 8, should be turned into an error in Java SE 9."

Having in mind that two underscores produce no javac warning, I interpret this as two underscores are permitted as identifier with Java 9 onwards.

[2015-05-16 18:21] danieldietrich commented on #242
@jbgi We could be really evil and using unicode character non-breaking space &nbsp; `"\u00A0"` as interface name. I like that. This would automatically internalize the higher-kinded type because no one can type it :-)

(This is no joke!)

[2015-05-16 18:31] danieldietrich commented on #242
lame - javac does not allow `"\u00A0"` as interface name. perhaps there are other unicode chars, I'm searching...

[2015-05-16 18:34] danieldietrich commented on #242
in particular \u200B is interesting ('zero width space')

[2015-05-16 18:36] danieldietrich commented on #242
also does not work - ok, I will read the Java language spec...

[2015-05-16 19:11] danieldietrich commented on #242
Here is a list of all valid Java 8 identifier start characters between unicode 0 and 9999 (dec): http://danieldietrich.net/playground/ValidJava8IdentifierStart.html

[2015-05-16 20:32] danieldietrich opened #244 "Create Functor.spawn1() to Functor.spawn8() methods to multiply an element to a Tuple of similar elements"
* there will be as much spawn methods as Tuples
* `spawn1()` will create one additional element, `spawn2()` two, and so on.
* `spawn1()` is a shortcut for `map(e -> Tuple.of(e, e))`.

Example:

[code]

[2015-05-16 21:04] danieldietrich commented on #242
After fiddling around with unicode a while I give up. I will take the two underscores approach for `HigherKinded` and swap Type args as suggested above.

[2015-05-16 21:09] martin-g commented on #242
I am not sure but it looks to me that some Oracle developer uses bad/incomplete regex (e.g. `^_\w+`) to detect when `_` is used. I guess it is a matter of time to improve the check to check for `^_+\w+`

[2015-05-16 21:11] danieldietrich commented on #242
Mmhhh... any suggestions?

[2015-05-16 21:16] martin-g commented on #242
I may be wrong!

[2015-05-16 21:18] danieldietrich commented on #242
I think we have to work with the information we have - we do it with two underscores. (It will take years for Oracle to change that standard.)

[2015-05-16 21:18] martin-g commented on #242
But using ascii art for names reminds me of all the complains about Scala operator overloading and its overuse.
I'd vote for `HK<>`.

[2015-05-16 22:15] danieldietrich commented on #242
We want to formulate that `List<T>` is of type `<List<?>, T>`.

For now I will stick with `List<T>` is of type `__<List<?>, T>` because it is nearest to that without introducing additional information like non-punctuation characters.

I think, higher-kinded `__` has to move to the first-level package `javaslang`. It has nothing to do with `javaslang.algebra`, instead it is used for API design.

[2015-05-16 22:28] danieldietrich opened #246 "Stick to Tuple 1-8"
.Net/C# does this, too

[2015-05-16 22:42] danieldietrich commented on #242
`__` is not the right way to do it. I tweetet with Brian Goetz himself and he clarified not to use such identifiers. I'm thankful for the push in the right direction.

`HK` is no viable alternative, it also says nothing to someone who does not know the context. We need something short and explanatory. `HigherKinded` is too long. We describe a Type but `Type` is taken by `reflection`.

From wikiped

[2015-05-17 00:57] #242 closed

[2015-05-17 01:21] #246 closed

[2015-05-17 01:36] danieldietrich commented on #244
Tested a bit in that direction and saw that `map()` is sufficient.

[2015-05-17 01:36] #244 closed

[2015-05-17 12:05] jbgi commented on #242
I guess what I want is to be able to abstract over Monad/Functor/Apllicative (create methods that will work for every Functor) but then since the map method lose the kind (Functor is not 'Kinded'), I cannot, for instance, chain a map and a flatmap.
Also what I would need after that is a narrow method in each concrete Kinded classes:
[code]

[2015-05-17 12:25] danieldietrich commented on #241
The above code sketches the general solution of moving runtime type information to the static `flatten()` method, which are passed to the instance method `transform()`.

For a correct implementation of `flatten()` we need to differentiate it by enclosing type. It is not sufficient to call `monad.flatMap(Function.identity())`.

**1)** For univalent/one-valued type (see `Valences.Univalent`), like `

[2015-05-17 14:35] jbgi opened #251 "Add static methods to narrow Kind<F, T> to F<T>"
to follow a side discussion of #242:

I guess what I want is to be able to abstract over Monad/Functor/Apllicative (create methods that will work for every Functor) but then since the map method lose the kind (Functor is not 'Kinded'), For instance, if I pass a monad to a method that accept a functor an return the same functor after a call to map ; the result is now a Functor<> and I cannot recove

[2015-05-17 14:48] jbgi opened #252 "Do not use interfaces for concrete implementations"
I am uncomfortable with the use of interfaces for concrete implementations. If write a method that expect a BinaryTree<T> I worry that I may receive any implementation, not only the one from the static factory methods of BinaryTree. I think BinaryTree and other 'concrete' interfaces should be converted to final classes or abstract classes with private constructor.
This can potentially be a securit

[2015-05-17 16:03] danieldietrich commented on #252
Makes sense!

[2015-05-17 17:06] danieldietrich commented on #252
I thought a little bit about it and also read [Abstract Classes Compared to Interfaces](http://docs.oracle.com/javase/tutorial/java/IandI/abstract.html), in particular the bullet-list there.

Instead of interfaces or abstracted classes I would prefer to use classes for `List` and `Stream`. We could remove `List.AbstractList`, `Stream.AbstractStream` etc. when we make `List` and `Stream` classes. T

[2015-05-17 18:49] ouertani commented on #107
French article http://www.infoq.com/fr/articles/trampoline-java8

[2015-05-17 19:44] danieldietrich commented on #251
This goes in the right direction. `narrow()` is tightly coupled with `Kind`:

[code]

Then we have:

[code]

Clean version, no cast needed any more! In `Kind` the best we can say about the return type of `narrow` is, that it is an `Object`, but the interface is a contract, which defines the semantics. Should be ok!

[2015-05-17 20:03] jbgi commented on #251
we need narrow to be static otherwise it is of no use (you call a method on Monad<M,T> to narrow it to Monad<M,T>: this is the identity function)
and the cast is unfortunately necessary (otherwise it would mean that we have safely solved higher kinded type in Java).

[2015-05-17 20:17] danieldietrich commented on #241
No need for simulated intersection types. The above example works as follows:

[code]

[2015-05-17 20:28] danieldietrich commented on #251
I see, it should have been something like

[code]

which isn't possible.

Would you mind to add the missing methods as Pull Request? I'm currently overloaded with the amount of incoming open tasks...

[2015-05-17 22:08] danieldietrich commented on #251
@jbgi Btw - your method signatures look good!

[code]

I'm on a similar task with static `flatten()` methods...

[2015-05-17 22:32] danieldietrich commented on #251
@jbgi I still don't understand why a direct type cast isn't sufficient instead of statically call a `narrow()` method, which does the same. Have you a code snippet for clarification?

If possible, I don't want to make the `narrow()` API puplic. It is internally used, only, isn't it?

[2015-05-18 06:22] jbgi commented on #251
@danieldietrich the narrow method is here to isolate factorize the dirty work. Also it can be then used as a method reference. I agree that the method would need to be labelled "For advanced/internal usage only".
My use case is to factorize traversal code of the various optics.
What I would also need is a way to abstract over data constructors (for unit).
I will try to submit a PR for all of that.

[2015-05-18 06:52] danieldietrich commented on #251
@jbgi This sounds exciting! Take your time to get it right, there is no hurry. I will be also on a short trip next weekend. Please try to cover the code with tests. This has saved me headaches in the past when it came to refactoring.

Have a great week!

[2015-05-18 11:18] jbgi commented on #251
Thanks, you too!
Also, CONTRIBUTING mention eclipse_formatter.xml and idea-settings.jar files but I cannot find them... ?

[2015-05-18 11:19] martin-g commented on #251
idea-settings.jar is in `.ide/` subfolder.

[2015-05-18 11:25] jbgi commented on #251
@martin-g thanks!

[2015-05-18 21:34] danieldietrich commented on #241
Given a `Monad<Monad<T>>` we are able to `flatten()` it by calling `flatMap(m -> m)` or `flatMap(Function.identity())`.

It is common behavior of a collection to flatten Iterable elements, i.e.

[code]

Given the type `List<T>`, we have (simplified here)

[code]

But in order to use `flatMap()` to `flatten()` a List of `Option`s (or `Try`s, `Either`s, ...) we need

[code]

(Scala [does this](http:

[2015-05-18 22:01] danieldietrich opened #254 "Add a more practicable, semi-monadic `flatMap` to Traversables"
Given a `Monad<Monad<T>>` we are able to `flatten()` it by calling `flatMap(m -> m)` or `flatMap(Function.identity())`.

It is common behavior of a collection to flatten Iterable elements, i.e.

[code]

Given the type `List<T>`, we have (simplified here)

[code]

But in order to use `flatMap()` to `flatten()` a List of `Option` (or `Try`, `Either`, ...) we need

[code]

(Scala [does this](http://s

[2015-05-18 22:02] danieldietrich commented on #241
Depends on #254

[2015-05-19 13:20] danieldietrich commented on #252
There is a relation between Scala's (_trait, companion object_) and Java's (_interface, static interface methods_). Static interface methods are most common factory methods.

Java interfaces are used as real mixins with default methods.

I'm clear now that this design principle, as used all over in Javaslang, makes absolutely sense, and will be the base for the emerging collection API (and also or

[2015-05-19 14:44] jbgi commented on #252
What I don't like about java interface is that you cannot annotate a (default) method with final (unlike scala trait). therefore you cannot be sure that the implementation you see in a default method will be the one you get at runtime. (there also can be a performance advantage to final methods, but not sure...)

[2015-05-19 16:01] danieldietrich commented on #252
I'm sure there are also disadvantages when using classes. There are many disign possibilities with Java 8 interfaces.

**Example:**

`List` is an interface with implementations `Cons` and `Nil`. It is eager and has single linked list characteristics but could also be double linked. In a future release there (maybe) will be a sub-interface `ArrayList` of `List` with random-access cababilities. It w

[2015-05-19 19:38] lukaseder commented on #246
I guess you couldn't wait, eh?
http://www.reddit.com/r/java/comments/35yp90/functional_component_library_for_java_8/crb6jc5

[2015-05-19 19:41] danieldietrich commented on #246
It was a no-brainer, felt a little bit like making a break :-) So I've done it.

[2015-05-19 20:27] danieldietrich commented on #232
So...
classes in `javaslang.collection` are not intended to be used as `java.util.stream.Stream++`.
It is highly recommended to design programs or new parts of programs from the ground up to use immutable data structures. It is recommended to fully qualify java util collections, if used with javaslang collections side-by-side.

_When things should change we need to change s.th. otherwise nothing w

[2015-05-19 20:27] #232 closed

[2015-05-19 20:54] danieldietrich commented on #239
@sirinath Could you please provide some details, what to implement?

I think if it is a Java equivalent of Scala case classes, like adt4j project does, @jbgi mentioned above, it is out of scope for Javaslang. There already exists a great project that exactly does that!

[2015-05-19 20:58] danieldietrich commented on #234
Xtend uses 6, .Net/C# has 8, we stick with 8 for now (see #246)

[2015-05-19 20:58] #234 closed

[2015-05-19 21:00] danieldietrich commented on #89
There is currently no use-case for that.

[2015-05-19 21:00] #89 closed

[2015-05-19 21:05] danieldietrich commented on #217
No, definitely not.

Use `Option.of(optional.orElse(null))` instead, if really needed.

[2015-05-19 21:05] #217 closed

[2015-05-19 22:15] danieldietrich opened #256 "Re-organize collection.Tree"
The current `Tree` type hierarchy is a little bit bulky.

As discussed [recently](https://github.com/javaslang/javaslang/issues/252), interfaces and implementations go hand-in-hand. Let me describe here, how we take the collection interfaces to the next level:

[code]

All trees in Javaslang are designed to have a value at each node. Also the empty tree exists for all tree interfaces.

[code]

`Tr

[2015-05-19 22:18] nedtwigg commented on #232
Sounds good!  JavaSlang has lots of great ideas, I'm sure it will be successful no matter how you call them :)

In case you ever revisit this, [here](https://github.com/diffplug/durian-rx/tree/master/src/com/diffplug/common/rx) is an example of using prefixing to allow easy interoperability, and [here](http://blog.nedtwigg.diffplug.com/a-library-by-any-other-version) are more detailed thoughts on

[2015-05-19 22:22] danieldietrich commented on #232
Thx!

[2015-05-19 22:33] danieldietrich commented on #256
One more word on the interface design mentioned above (here slightly simplified):

[code]

Please note, that currently no back-reference to root nodes is modeled.

[2015-05-19 23:19] danieldietrich commented on #240
@jbgi /cc @mperry @lukaseder

The algebraic types in Javaslang are mainly used as an API design aspect to encapsulate common methods and mark/declare specific properties of classes. We have {Functor + Monad}, extended by many types in Javaslang, and Monoid, used only in a fold-Method of Traversables.

I've got recent feedback from users that they are 'in fear' of the algebra package.

Please tell

[2015-05-19 23:24] danieldietrich commented on #240
More specific I see Javaslang as a simple Scala. The algebraic extension is more like Scalaz.

[2015-05-19 23:36] danieldietrich commented on #254
## Answer

Of course there is another option:

Make Monad extends Iterable. This is the solution. Not every Iterable is a Monad but (in Javaslang) every Monad is Iterable. Here we go!

[2015-05-20 02:21] talios commented on #239
What would be nice is having some way that the two projects could intersect in user-land, which is in part the discussion @jbgi linked to - awhile ago I was thinking "it would be nice if these ADT4j classes were monads..."

[2015-05-20 05:02] danieldietrich commented on #239
I'm against baking this annotation trickery into Javaslang. With [JEP 169](http://openjdk.java.net/jeps/169) there is already an official project to add Value Objects to Java. Beside that I don't like [annotations](http://www.annotatiomania.com) very well.

[2015-05-20 05:49] danieldietrich commented on #240
I good name for the module would be `javaslang-pure`! :-)

[2015-05-20 06:03] danieldietrich commented on #239
@talios I think the Monad operations on one ADT can be expressed in multiple ways. It is likewise with Monoids (String concatenation, String multiplication, etc). It is better to express this explicitly.

[2015-05-20 06:22] lukaseder commented on #240
I'm going to be curious how you'll pull that off:

- Without declaration-site variance
- Without causing headaches at the call site via use-site variance

I've seen your trick involving recursive generics in `Kind`. If this is unleashed upon your users, they'll run :-)

[2015-05-20 06:46] danieldietrich commented on #240
@lukaseder You misunderstood, of cause Java classes with generic type parameters are invariant. However, Arrays are covariant, overriding methods are covariant in the return type, and - what I meant, upper and lower bounds on generic type parameters can also be used in this context. Many Java 'experts' are not aware of these or use them not correctly.

Let's not go to deep in a technical discussio

[2015-05-20 08:13] danieldietrich commented on #256
More on implementing Traversable here: #113

[2015-05-20 08:25] danieldietrich commented on #240
@lukaseder

I hope they will stay with me.

Maybe I invent a new paradigm 'Kind Oriented Programming' KOP&trade;

Of course there will be also a 'Kindly Manifesto'.

#ICanHazKind :-)

[2015-05-20 08:40] jbgi commented on #240
@danieldietrich ok. now what I would suggest is to refrain from using algebra/category theory terms in javaslang(-core) unless the actual abstraction strictly adhere to the associated definition/laws. And we will let the pure module provides the correct implementations of those abstractions, (alla highj).
So if, for instance, you want to make Monad extend Iterable then let's not use Monad as a nam

[2015-05-20 08:48] danieldietrich commented on #240
Yes, it has to evolve a little bit. Monad will not extend Iterable, that was no good idea. The javaslang.algebra classes should move to javaslang-pure (instead of renaming the package _internal_). My idea is, to make javaslang-pure the core of javaslang. The javaslang module should be kept ad stable as possible. The foundation may evolve over time.

I want to take part in the design of the core, e

[2015-05-20 08:49] lukaseder commented on #240
Well, as long as you can hide the generics from client code, you'll be fine. Type inference and type hierarchies are your friends :)

[2015-05-20 08:51] danieldietrich commented on #240
@lukaseder I'm relatively satisfied with the current API. The generics of Traversable and Seq are distracting so far.

[2015-05-20 09:04] jbgi commented on #240
IMO collection views and conversion methods is a better alternative to a complex type hierarchies that often cause blurring of concepts. It also allows to get ride of (confusing) variance annotations.

[2015-05-20 09:12] danieldietrich commented on #240
Sounds interesting, to investigate it, we need a technical spike/prototype in a branch.

The javaslang-pure package will probably contain only interfaces of algebraic types + unit tests.

[2015-05-20 09:13] danieldietrich commented on #240
The javaslang-pure package will probably contain only interfaces of algebraic types (not _data_ types) + unit tests.

[2015-05-20 09:17] lukaseder commented on #240
I can second that. There is almost nothing in jOOQ's (public) type hierarchy that I don't somehow regret 6 years later. Conversion methods are much easier and intuitive to handle and use at the call site.

And if I've ever regretted something *most*, then it's using recursive generics (without declaration-site variance) :)

[2015-05-20 09:22] danieldietrich commented on #240
I have to see examples based on Javaslang/how to do it better and see how the API 'feels' from the call site.

Because I'm really deeply convinced that the current API makes so much sense.

I'm thankful about every gist showcase here...

[2015-05-20 10:14] danieldietrich commented on #240
@jbgi @lukaseder what are the main pain points of the new tree api #256 in your opinion.

It is simplified there. The Kind arguments `Tree<M, T>` will be also there. How would you remove the `<M>`?

What happens to the flatMap methods (which need the Kind)?

How could views and conversion methods help here?

Are there other issues using interfaces here in your opinion (beside security aspects)?

Y

[2015-05-20 10:22] lukaseder commented on #240
Without actually having tried the API, I suspect that the biggest pain point will be that it is very hard to assign a reference to a variable of the super type `Tree` short of resorting to

- Raw types
- Wildcards

E.g.

[code]

In fact, things get worse if someone wants to put `Tree` in a container, as then, there is no way to capture the correct type even with wildcards:

[code]

And you might e

[2015-05-20 17:45] danieldietrich commented on #240
@lukaseder Thank you, Lukas! Also for the links you provided - very insightful, this takes me to the ground. Wherefrom do you take the time to manage all this? :-)

The recursive type parameter will not leak into the next release. These flatMap() and flatten() functions really tip me over the edge. Need a beer.

[2015-05-20 17:56] lukaseder commented on #240
I have an evil twin.

That's the cause *and* solution of all problems.

[2015-05-20 17:59] danieldietrich commented on #240
Everyone should have a Lukas :-)

Late night coffee is also hard to handle...

[2015-05-20 18:59] danieldietrich commented on #240
@jbgi [The semigroupoids package](http://hackage.haskell.org/package/semigroupoids) of Edward Kmett would be a great reference for javaslang-pure - I think highj uses it also...

[2015-05-20 19:10] jbgi commented on #240
@danieldietrich true!

[2015-05-20 20:12] danieldietrich commented on #240
@lukaseder @jbgi

I've thought about all possibilities to...

- remove recursive generic parameters
- have a consistent (monadic) type hierarchy
- get flatMap() right, e.g. List(Some(1), None).flatMap(e -> e) = List(1)

The result is, that I had to remove the whole `algebra` package, which was not in the right place within this project.

The only loss is, that we now have no common interface for m

[2015-05-20 20:30] jbgi commented on #240
@danieldietrich for a module similar to semigroupoids to exists there is only one requirement: that all public data and function classes, that are leaf in the type hierarchy, implement Kind (it does not need to appear elsewhere like in methods signature). But without Kind no semigroupoids/pure module...

[2015-05-20 20:49] danieldietrich commented on #240
@jbgi

We could do that only in a flat way:

[code]

No inheritance possible then with a new kind of `Kind`, e.g. this will then not work:

[code]

[2015-05-20 21:01] danieldietrich commented on #240
Also all trees are then of one `Kind`. Maybe this is a solution until a future Java version...

[2015-05-20 21:32] danieldietrich opened #258 "Add missing Javadoc after removing algebra package"
After removing Valences.*, Option, Try and Either need javadoc for

- get()
- orElse*()
- to*()

Maybe Traversable needs additional javadoc, too.

Also take a look at Gen and Arbitrary.

[2015-05-20 21:48] danieldietrich commented on #240
@jbgi Possibly a proxy-mechanism is possible which also augments children (linked list tails and tree children):

[code]

But looking at this, it seems to blow up all too much and it is adding too much _trickery_

[2015-05-21 10:34] lukaseder commented on #240
Oh, you've removed the recursive generics already from the API? It is still a very interesting application of generics. I'd love for you to endeavour to do more exploration and learn from you. Just wanted to emit a reminder from someone maintaining a 6-year-old API with 1-2 regrets :)

[2015-05-21 10:53] danieldietrich commented on #240
There where several caveats with that. Monadic operations have to be relaxed to be practicable. Scala does this also in Traversable. From the end-user API perspective there is nothing missing. From the API design perspective the algebraic interfaces passed away. They where used technically only somehow. I think in a production-ready real world application no one really

[2015-05-21 11:03] danieldietrich commented on #240
@lukaseder I'm thankful, this was the right solution.

There where several caveats with that. Monadic operations have to be relaxed to be practicable. Scala does this also in Traversable. From the end-user API perspective there is nothing missing. From the API design perspective the algebraic interfaces passed away. They where used technically only somehow.

In my local fork `Kind` exists and I cu

[2015-05-21 11:05] lukaseder commented on #240
:'-( ... ;)

Great. Looking forward to "pure", then!

[2015-05-21 15:07] danieldietrich commented on #240
Wow, I closed this issue?! It was an accident :)

@lukaseder I liked the common Monad class.

I will defilibrate it today and see what is possible with `Kind`. It will stay with us until there is a better solution coming from the _pure_ module.

:)

[2015-05-21 21:11] danieldietrich commented on #240
The patient did not survive. I have tried everything but Monad and Kind cannot be integrated. Locally I fiddled around hours with intersection types, changed the collection hierarchy, ... It simply does not work with Java or I don't see it.

I've to go further at this point.

The monadic types Option, Try, ..., List, ... have now a common type `TraversableOnce` which extends `Iterable`.

[2015-05-21 23:48] #254 closed

[2015-05-22 00:21] danieldietrich commented on #241
`Monad` removed in favor of `TraversableOnce`

[2015-05-22 00:24] danieldietrich opened #263 "Ensure that Iterable is not casted to List or Stream"
... after removing Monad and introducing TraversableOnce.

Best would be, to flatMap and flatten with orthogonal type in unit tests.

[2015-05-22 09:59] danieldietrich opened #264 "Add missing unit tests for (Checked)Function*.memoized()"
**Test cases:**

* should not apply f on memoized() call
* should apply f on first apply()
* should return memoized value of second apply()
* should memoize value given a null argument
* should calculate new values when called subsequently with different parameters

**Example code:**

[code]

[2015-05-22 10:15] danieldietrich opened #266 "Design decision: Disallow null args and values for memoized() functions"
In the case of arity 1 this reduced memory consumption and increases speed.

This has an impact on #264

[2015-05-22 11:21] danieldietrich opened #267 "Function* interoperability: Let Function0 extends Supplier"
Some months ago we had this topic. But this should work without producing ambiguities.

(See also Function1, Function2)

[2015-05-22 11:26] danieldietrich commented on #240
@jbgi I had the idea to keep the javaslang-pure module very thin but 'deep'.

Cool would be a layer or some functionality, which _lifts_ arbitrary? types or at least javaslang types to algebraic types. Some kind of augmentation or decorator pattern. With this we can lift types into the pure core and operate algebraic on them...

I don't have a concrete solution, just a thought...

I'm on a short t

[2015-05-25 21:09] #266 closed

[2015-05-25 21:09] #267 closed

[2015-05-25 21:15] danieldietrich opened #271 "Add more common TraversableOnce methods"
- `isEmpty()`
- `isDefined()` (= `isNotEmpty()`)
- `peek()` (which is very similar to forEach in general)
- more?

[2015-05-25 21:30] danieldietrich opened #272 "Lifting arbitrary objects to "lazy" types"
We want `Lazy.of(Supplier<T>)` return a lazy `T` instead of a `Lazy<T>`. (Therefore we will name this additional method `as` instead of `of`.)

General idea (may or may not work):

[code]

Even better would be to omit the `type` hint.

[code]

[2015-05-25 22:13] talios commented on #239
@danieldietrich True, altho going `FooMonad.map(foo, foo2 -> .... );` is kinda arse.

[2015-05-25 22:32] talios commented on #240
Javaslang gets a new mascot icon?  :)

[2015-05-26 06:50] danieldietrich commented on #239
@talios Yes, right...

[2015-05-26 06:51] danieldietrich commented on #240
Hehe :-) :+1:

[2015-05-26 07:37] lukaseder commented on #240
Let me know if you're interested. I can have someone send you our trademark licensing terms and prices.

[2015-05-26 11:31] danieldietrich commented on #240
Then we will wait until Lukas is open sourced or available under a dual license.

[2015-05-26 11:35] RobWin opened #273 "Catching and throwing Throwable?"
Hello,

first of all. Thanks for this great library.

This is more a question than an issue.
Why do you throw and catch `Throwable` instead of `Exception`? For example in `Try`  or CheckedFunctionX?
What is the purpose behind it? Fatal errors are anyway rethrown in the class `Failure`?

Kind regards,

Robert Winkler

[2015-05-26 11:48] lukaseder commented on #240
You mean, there's potential of an upselling business in the mascot trade market? Intriguing...

[2015-05-26 15:11] danieldietrich commented on #273
Hi,

thank you for the question!

For example, a StackOverflowError is considered ad recoverable (see [here](https://github.com/javaslang/javaslang/blob/master/src/main/java/javaslang/control/Failure.java#L211)).

It is interesting, that Scala considered StackOverflowError in 2.10.x as non-fatal (see [here](http://www.scala-lang.org/api/2.10.4/index.html#scala.util.control.NonFatal$)) and in 2.11.

[2015-05-26 16:18] martin-g commented on #273
I agree with the reporter that catching Error/Throwable in library code
should be avoided.
If other libraries abuse the meaning of Error then it's their own problem.
I'd let the application decide whether to try to recover from
Error/CustomThrowable.
On May 26, 2015 6:11 PM, "Daniel Dietrich" <notifications@github.com> wrote:

[2015-05-26 16:41] jbgi commented on #273
So how about making a type parameter of the particular subtype of throwable
the function may throw?

On Tue, May 26, 2015 at 6:18 PM, Martin Grigorov <notifications@github.com>
wrote:

[2015-05-26 18:34] danieldietrich commented on #273
@martin-g

Yes, right. This is a violation of the contract of the `Error` class.

This aligns well with the suggestion of @jbgi:

When composing multiple Try's, e.g. via flatMap, it is not possible for Java to calculate correct type bounds for the exception. This is especially the case because Throwable etc. are no interfaces (otherwise we could have used intersection types `X1 & X2`).

@jbgi: The

[2015-05-26 21:26] danieldietrich opened #277 "scala-maven-plugin: "character to be escaped is missing" on win7/x64"
@chagmed reported an UTF-8 issue with building Javaslang 1.2.3 on a Win7-x64 box. The scala-maven-plugin 3.2.0 reported: "character to be escaped is missing". More specifically: "IO error while decoding javaslang\target\.scalaScriptGen\Generator_1.scala with UTF-8"

[2015-05-26 21:30] danieldietrich commented on #277
Are there any win7/x64 users here which are able to compile the Javaslang Github repo on their machine via maven? Need some feedback!

[2015-05-26 21:53] danieldietrich commented on #170
Maps work best backed by a Trie, see "Purely Functional Data Structures", p. 163 ff.

[2015-05-26 22:02] danieldietrich commented on #214
A `SortedSet<T extends Comparable<T>>` consists of objects which are totally ordered. Here, we will back it by a `RedBlackTree` which is currently one of the most efficient binary search tree data structures.

A general `Set<T>` consists of arbitrary objects which can be compared using equals(). Currently I'm investigating how to implement a `Set` in the most efficient way. E.g. the set could be b

[2015-05-26 22:08] danieldietrich opened #278 "Add an immutable Stack"
A `Stack` is the same as a `List`, with:

* `stack.push(element)` = `new Cons<>(element, stack)`
* `stack.pop()` = `Tuple.of(head(), tail())`
* `stack.peek()` = `stack.top()` = `head()`

[code]

[2015-05-26 22:20] danieldietrich opened #279 "Add an immutable Queue"
An immutable `Queue` is a `Seq`. It is modeled as a pair of lists, a `List` of front elements and a `List` of rear elements in reverse order.

The front elements are read, the rear elements are put. If the front elements are empty, the lists are exchanged, reversing the non-emtpy list.

Read more in "Purely Functional Data Structures", p. 42 ff.

[2015-05-27 05:43] danieldietrich commented on #273
I've slept one night over it and already had thoughts on it a year ago.

I think, we can't add a specific exceptions type because

* the type gets lost when chaining the first effect, e.g. `myTry.flatMap(e -> Try.of(() -> ...))`. `myTry` may be of `AException`. If the inner `Try.of` throws a `BException` we have two cases:
  1. `myTry` is a `Success`, then the whole result is a `Failure` of `BExce

[2015-05-27 06:18] RobWin commented on #273
Ok. Thx for the explanation.

[2015-05-27 06:18] #273 closed

[2015-05-27 06:25] danieldietrich commented on #273
@jbgi do you agree?

[2015-05-27 07:14] danieldietrich opened #280 "Create a user-guide"
Take a look at asciidoc, gitbook, etc.

[2015-05-27 12:20] danieldietrich commented on #227
Also required: Instead of

[code]

we want to write

[code]

I.e. a `Match.Case` is a `Function<T, R>`, where `T` is defined implicitly by the context.

[2015-05-27 16:19] jbgi commented on #273
@danieldietrich I think CheckFunction could be parametrized without Try taking advantage of it (still catching throwable).
also to address the original comment, maybe there could an alternate Try.of method that catch only non fatal exceptions (as per https://github.com/scala/scala/blob/2.12.x/src/library/scala/util/control/NonFatal.scala).

[2015-05-27 17:16] danieldietrich commented on #273
@jbgi Thanks, that helped!

I will take a look at it...

This is already the default behavior. But looking at the code I think it can be optimized, e.g. throwing the original `Error` instead of the `Fatal` wrapper, if the exception if fatal.

[code]

[2015-05-27 17:42] RobWin commented on #273
Yes. This looks better :)

[2015-05-27 23:15] danieldietrich commented on #277
I could reproduce this using VirtualBox with Win7/x64, Java 1.8.0_45, git-bash and maven 3.3.3.

Setting the scalac file encoding in the pom.xml did not help:

[code]

This needs to be further investigated.

[2015-05-28 07:33] ignasi35 commented on #277
Hi @danieldietrich ,

I did a quick native2ascii and apart from comments there's a ' lambda-sign' that got escaped. Could that be it?

[code]

Sorry I can't test it on Win machine at the moment.

Cheers,

PS: full diff:

[code]

[2015-05-28 08:37] danieldietrich commented on #277
Hi @ignasi35,

thanks for the tests!

Yes, these are the candidates. I think the so called 'script mode' of the scala-maven-plugin accidently messes up the encoding when creating a copy of Generator.scala in the /target dir of the project.

I will contact a scala-maven-plugin dev...

Greets!

[2015-05-28 21:46] danieldietrich commented on #277
I filed a bug davidB/scala-maven-plugin#168

[2015-05-29 07:03] danieldietrich commented on #186
Here is a comparision of _akka-streams_ and _scalaz-streams_: https://softwaremill.com/comparing-akka-stream-scalaz-stream/#toc-streaming-transforming-a-file

Here is an application of _rxjava-jdbc_ covering compositional jdbc processing: https://github.com/davidmoten/rxjava-jdbc

[2015-05-29 09:30] danieldietrich commented on #170
Good read on functional/immutable Map: http://blog.ezyang.com/2010/03/the-case-of-the-hash-array-mapped-trie/

[2015-05-29 09:52] danieldietrich commented on #170
Ideal Hash Trees (Phil Bagwell/Clojure): http://lampwww.epfl.ch/papers/idealhashtrees.pdf

(See also wikipedia [Trie](http://en.wikipedia.org/wiki/Trie) and [Hash array mapped trie](http://en.wikipedia.org/wiki/Hash_array_mapped_trie))

[2015-05-29 14:30] danieldietrich commented on #170
Fast mergable integer maps: http://citeseer.ist.psu.edu/viewdoc/download?doi=10.1.1.37.5452&rep=rep1&type=pdf

[2015-05-30 20:53] danieldietrich commented on #278
Fiddeling around a day with type collections type hierarchy, especially with `List` and `Stack` brought me the insight that the collection type hierarchy has to be treated specially to circumvent Java type system insufficiencies.

Here is an example: Many methods in `Seq` are of the shape `Wrapper<? extends Seq<T>> xxx(...)`. Of course we want `List` have `Wrapper<List<T>> xxx(...)` and `Stream` h

[2015-05-30 21:33] #278 closed

[2015-05-31 10:06] danieldietrich opened #288 "Add substitute for removed Monad interface"
The `Monad` interface was mainly used to standardize `map` and `flatMap` across types. This did not work well because we _relaxed_ the flatMap signature for Traversables (`flatMap(Function<? super T, ? extends Iterable<T>>`), which in turn did not work well with other monadic types like `Try`, `Option`, etc.

Changing the `flatMap` signature of Traversables made them semi-monadic, because the orig

[2015-06-01 14:46] ignasi35 opened #289 "Replace 'woops' message in negative tests."
Some negative tests require the API to fail. In those cases there's a log trace stating the error but that's actually expected. Current output is:

[code]

It could be something like:

[code]

[2015-06-01 16:12] #289 closed

[2015-06-02 10:06] danieldietrich opened #291 "Remove internal abstract classes from public API"
E.g. the abstract collections which implement equals, hashCode and toString

[2015-06-02 21:42] danieldietrich commented on #170
@ignasi35 Here I provided some links for the Map implementation. I think, Map is one of the most complex collections to implement.

Without having read on Maps yet, a naive impl would be to use a balanced binary search tree with (informally) `Entry(key.hashCode, List(values))`, where `equals` and `compareTo` of an `Entry` just compare the `key.hashCode` and not the values. Given that, a tree node

[2015-06-03 16:55] danieldietrich commented on #279
I like the Scala syntax:

* https://www.cs.helsinki.fi/u/wikla/OTS/Sisalto/examples/html/ch17.html
* [Queue.scala](https://github.com/scala/scala/blob/9d0d44c8f87bfd227d4da08aec970c4d29461705/src/library/scala/collection/immutable/Queue.scala)

[2015-06-03 21:43] danieldietrich opened #293 "Add retry functionality to Try"
@RobWin had the idea to extend `Try` with a retry functionality, s.th. like

[code]

which will execute `onFailure` at most once, regardless how often the supplier is _retried_.

This is a great Idea. In general the exception handling can be augmented this way with additional functionality. Examples:

[code]

The remaining question is how to integrate `Retry` without blowing up the number of class

[2015-06-04 06:33] RobWin commented on #293
+1 :)

[2015-06-04 06:36] RobWin commented on #293
We could even easily add memorization (cache) for requests.

[2015-06-04 06:37] danieldietrich commented on #293
I'm now clear regarding the question which of these should be implemented:

1. `Try.retry(3, supplier).get()`
2. `Try.of(supplier).retry(3).get()`
3. `Try.of(Retry.of(3, suppllier)).get()`
4. `Try.of(retry(3, supplier)).get()`, with `CheckedSupplier.retry(3, supplier)`

The first and second solutions 'pollute' the purity of the `Try` monad. It is not the _composable_ way.

The third solution is a

[2015-06-04 06:38] danieldietrich commented on #293
@RobWin yes, that's right! This is a great way to do it!

[2015-06-04 06:44] danieldietrich opened #294 "Investigate if types should be declared as @FunctionalInterfaces (again...)"
**Goal:**

Better compositionality and conciseness.

**Candidates:**

* Try could extends CheckedSupplier (which in turn has to move out of Try then)
* Option and Either projections could extend Supplier
* Gen and Arbitrary could extend Function or IntFunction

Sequences `Seq` already implement `Function`

[2015-06-04 07:47] martin-g commented on #227
@danieldietrich Maybe you have noticed it, maybe not - https://twitter.com/ScalaFact/status/606337216571260928. You can steal some ideas if there is something better ;-)

[2015-06-04 08:33] danieldietrich commented on #227
@martin-g thanks, I will dive into it :+1:

[2015-06-04 09:32] szarnekow commented on #293
Which exception would be passed into the failure? The first one or the last one? A composite of all exceptions?
Reasoning behind this question:
Assuming to try / retry a web request. The request may be invalid thus the first one gets a proper error message but the server may respond smth like 'too many requests from host' for the last n requests.
Also a delay for the retry or a filter (RetryIf) ma

[2015-06-04 09:41] danieldietrich commented on #293
@szarnekow You are right. This is a signal that Javaslang should offer core functionality and additions should be built on top of it. Yesterday I wrote:

The question is, does it help to include a `retry` (which fails by default with the last exception)?

Maybe we should make it configurable (return first/last/all exception(s)). But my impression is that we blow up the API. However, we may not mee

[2015-06-04 10:02] danieldietrich commented on #293
Retry functionality is domain specific and will not be implemented by Javaslang (core).

[2015-06-04 10:02] #293 closed

[2015-06-04 12:34] RobWin commented on #293
The retry logic can be refined anyway. The question here is where to put the logic.
Keep in mind that we also need factory methods which return Runnable, Supplier and Function. Not only the Checked versions. Otherwhise I must always use Try and can't use Completablefuture directly.
This brings me back to a Rety.of() as a container for multiple static factory methods. What do you think?

[2015-06-04 12:38] RobWin commented on #293
Or we need a generic solution.

[2015-06-04 13:23] danieldietrich commented on #293
@RobWin I have mixed feelings to retry unchecked functions because the do not fail by contract. However, I see the need and would use a Retry type with factory methods for checked and unchecked versions.

[2015-06-04 13:44] RobWin commented on #293
The signature for a more complex retry logic could be: Retry.of(supplier, retryConfig) so that the config is extendable.

[2015-06-04 14:15] RobWin commented on #294
If Try would implement CheckedSupplier, I could not do anymore: `Completablefuture.supplyAsync(() -> Try.of())`

[2015-06-05 07:45] danieldietrich commented on #293
@RobWin Maybe the decorate methods have to have different names because of ambiguities but I'm not sure.

For now, I don't want to create additional Javaslang modules except a [http://blog.higher-order.com/blog/2012/09/13/what-purity-is-and-isnt/](purely) functional core (baking purity directly into the Javaslang core is not a good idea. It is a higher kind of functional abstraction).

Maybe there

[2015-06-05 09:28] RobWin commented on #293
Okidoki :) Totally comprehensible

[2015-06-05 20:14] danieldietrich commented on #240
I will track functionaljava/functionaljava#126 to see how we can accomplish this in this context.

[2015-06-05 20:15] danieldietrich commented on #220
I've solved functionaljava/functionaljava#149 already for Javaslang but it will be interesting to track it anyway...

[2015-06-05 20:22] danieldietrich commented on #186
Also this: http://projectreactor.io/docs/reference/#reactor-stream

[2015-06-05 20:28] danieldietrich commented on #227
I've also experimented with 'emulating' pattern matching like [motif](https://github.com/johnlcox/motif) does. This is not practicable for Java developers. I already removed `ValueObject` from Javaslang, which should have been the base for `unapply`ing objects as basis for pattern matching. This is more a playground to see what is possible than being practicable in real world apps. It is better to

[2015-06-14 21:15] danieldietrich opened #295 "Add immutable Random Access List (one-sided flexible Array)"
See "Purely Functional Data Structures", ch. 9.2.1 "Binary Random-Access List", p. 119 ff.

[2015-06-14 21:23] danieldietrich commented on #220
An overview of the next version of Javaslang, especially the collection API (work in progress):

![javaslang-classes](https://cloud.githubusercontent.com/assets/743833/8150475/f0ca51d6-12eb-11e5-8f68-6d5730657740.png)

[2015-06-15 20:56] #279 closed

[2015-06-15 21:12] danieldietrich commented on #277
Should be fixed with scala-maven-plugin 3.2.1 but does not seem to. Tested it under Win, the error still remains. Have to further investigate it...

[2015-06-16 09:45] danieldietrich opened #298 "Unexpected List.map behavior for independent values"
@ggalmazor Gave an example, where a List seems to be in the wrong order after mapping values:

https://gist.github.com/ggalmazor/c122cc15ae971dbd08b8

Also other List operations should be checked regarding the use of `foldLeft` and `foldRight`.

This fix will change the behavior of List operations for some special cases.

[2015-06-18 13:40] danieldietrich opened #300 "[Analysis] How to add a Monad abstraction on top of existing monadic classes."
Here is a Scala example, taken from @travisbrown's [abstracted](https://github.com/travisbrown/abstracted). We need to check what is possible with Java in this direction.

Due to the lack of higher-kinded types, clearly Java's type system is not powerful enough to express this. The intention of this analysis story is, to investigate if we are able to create a Monad abstraction on top of existing c

[2015-06-20 10:55] johnmcclean-aol commented on #300
Hi Daniel,

There are a couple of things in [Cyclops](https://github.com/aol/cyclops), a relatively new project from Aol, which has a primary focus on interoperability across the different functional style libraries that are emerging, which might be helpful here.

This is still an evolving work in progress - there are a few interfaces that might be helpful for your analysis (either for ideas, reus

[2015-06-20 11:06] danieldietrich commented on #300
@johnmcclean-aol This sounds great. I also see the emerging 'diversification' of functional style libs in the Java eco-system. My intention creating Javaslang was (the same as for everyone else) to add missing functionality to Java, which in turn was designed with the focus to be backward compatible. I would love to see the new libs converging to a standard. Waiting for Java to include things does

[2015-06-20 13:22] mperry commented on #300
@johnmcclean-aol @danieldietrich Hi John, I will take the time to look at this in the next week.  I haven't looked at the details of your library, how do you handle the type safety and the lack of kinds in your library?

[2015-06-20 20:06] johnmcclean-aol commented on #300
@danieldietrich  @mperry  Thanks guys. When I started working on this the goal was to provide away to get your projects, and the JDK/ Guava /TotallyLazy etc, to work together seamlessly!

Mark, under the hood this was very heavily influenced by the fantastic work you did in FunctionalGroovy (e.g.  [Groovy For Comprehensions](https://github.com/mperry/functionalgroovy/blob/master/main/src/main/groo

[2015-06-21 20:49] DillonJettCallis opened #301 "Scala style Futures"
Continuing on the goals of javaslang, I propose a Future api modeled on the
Scala Future api, but focused on Java compatibility.

Some features I think would be useful are ...

1. Both Future's built from CheckedSuppliers and Promises, as well as compatibility for java.util.concurent.Future and CompletableFuture.

2. Most of the usual methods from Scala's Future, map, flatMap, recover, recoverWith

[2015-06-21 21:13] danieldietrich commented on #301
This sounds great!

First thing to mention is that Future should reside in the package `javaslang.concurrent`. This aligns with Scala's and Java's concurrent package (although you are right that a Future is some sort of deferred Try, which is a control).

I will add some line comments to your [Future prototype](https://github.com/LordBlackhole/javaslang/commit/7f7e5abf13835d4a95a68643d4cf02a84b31f

[2015-06-21 21:19] LordBlackhole commented on #301
Ah, sure, Concurrent makes perfect sense too. Also, I realized after committing that I'd done so in Master instead of a branch. I haven't made many pull-requests, should I put this in a Futures branch or does it not matter?

[2015-06-21 22:17] danieldietrich commented on #301
It does not matter - your branch is merged in each case in Javaslang master.

[2015-06-21 22:31] danieldietrich commented on #301
I have to sleep one night on the xxxTry methods. Better would be to omit the Try. But I see the ambiguities after type erasure. We will see...

[2015-06-21 22:49] LordBlackhole commented on #301
Exactly. I added the Try parts after having trouble with type erasure in the Testing methods. It doesn't help that Executor is actually a FunctionalInterface.

[2015-06-22 18:42] martincooper opened #302 "Match to allow Scala style matching on a range of values."
It would be nice to extend Match functionality to allow a range of possible values to match on. An example being the following case in Scala...

[code]
Currently this would require multiple 'caze' statements and is a bit more verbose. EG:
[code]
Maybe allowing...
[code]
Or if this is not possible, something like...
[code]

[2015-06-23 21:38] danieldietrich commented on #107
http://blog.richdougherty.com/2009/04/tail-calls-tailrec-and-trampolines.html

[2015-06-23 22:19] #298 closed

[2015-06-23 22:51] danieldietrich commented on #301
I was busy the last days but did not forget it... I will check the Try parts until this weekend.

[2015-06-23 23:51] mperry commented on #107
https://github.com/functionaljava/functionaljava/blob/master/core/src/main/java/fj/control/Trampoline.java

[2015-06-24 14:13] danieldietrich opened #305 "Improve List.partition(Predicate)"
Currently `List.partition()` uses two passes (modulo reverse) to split the underlying List using `filter(perdicate)` and `filter(predicate.negate())`.

functionaljava for example partitions a List using one pass but creating intermediate objects (product/tuple):

[code]

Scala uses mutable TraversableLike builders to build the result in one pass without using intermediate objects:

[code]

The goa

[2015-06-24 23:07] danieldietrich commented on #305
Could be still improved as commented by @szarnekow in #306

[2015-06-24 23:16] #305 closed

[2015-06-26 11:20] tcn opened #311 "Doesn't compile."
Hi!

I haven't yet identified the root of the problem but IMHO the code below should compile. It does actually compile if I assign the first flatMap to a temp. variable.

javaslang 1.2.2, jdk 1.8.0_45-b14, the editor of IntelliJ 14.1.4 is fine with the code.

[code]

[2015-06-26 11:34] danieldietrich commented on #311
Thank you, I will check it tomorrow!
- Daniel

[2015-06-27 20:29] danieldietrich commented on #311
@tcn It is just the missing generic argument of Stream in the return type of try1. If you write

[code]

instead of

[code]

all compiles fine.

But I agree - the error message of the java compiler is weird.

[2015-06-27 20:30] danieldietrich commented on #311
I'm closing this bug as invalid since it is not related to Javaslang.

[2015-06-27 20:30] #311 closed

[2015-06-28 09:17] danieldietrich opened #313 "Add checked versions of monadic methods to Try"
Similar to `mapTry` we need

- `filterTry(CheckedPredicate)`
- `flatMapTry(CheckedFunction)`
- `flattenTry(CheckedFunction)`
- `peekTry(CheckedConsumer)`

_Note: filter, flatMap and flatten go into a future `FilterMonadic` where `peek` should be part of `TraversableOnce`_

To build a consistent type system/get the dependencies/package relations right we need to do the following:

- usages of `Chec

[2015-06-28 21:22] danieldietrich commented on #271
- `isEmpty` is in place
- `isDefined` does fit for javaslang.control types but not for collection. it is omitted here.
- `peek` is special in its return type compared to other TraversableOnce methods. It will fit better in FilterMonadic.

[2015-06-28 21:22] #271 closed

[2015-06-28 21:23] danieldietrich commented on #288
Check if `peek()` fits in here, too.

[2015-06-29 20:22] #277 closed

[2015-06-29 20:42] danieldietrich commented on #288
Additionally to `FilterMonadic` the `javaslang.control` types and the upcoming `javaslang.concurrent.Future` type need a common interface. I recently deleted `Valences.Univalent` and `Valences.Bivalent` which were meant to be common interfaces for these types. But the names are unfamiliar.

We need a simple name that reflects that we can get a value or else provide an alternative or throw an excep

[2015-06-29 22:01] danieldietrich opened #317 "Adding matching on a range of values."
@martincooper suggested in #315 to match on a range of values. He also suggested to re-work the Match implementation in order to have this nice API:

[code]

[2015-06-29 22:02] danieldietrich commented on #87
Follow-up: #317

[2015-06-29 22:05] danieldietrich commented on #227
Follow-up: #317

[2015-06-29 22:10] danieldietrich opened #318 "Get lambda reflection right"
A Java lambda expression does capture all effectively final variables. Internally these are _hidden_ lambda arguments.

&lambda;.getType() returns a `MethodType` reflecting the parameter count, the return type and the parameter types of the lambda expression / the SAM.

In order to get lambda reflection right, we need to remove the internally added _hidden_ variables.

[2015-06-29 22:12] danieldietrich commented on #318
Note: `Match` is currently the only 'user' of lambda reflection

[2015-06-29 22:20] danieldietrich opened #320 "Add substitute for removed Valencies interface"
Similar to [`FilterMonadic`](https://github.com/javaslang/javaslang/issues/288) the `javaslang.control` types and the upcoming `javaslang.concurrent.Future` type need a common interface. I recently deleted `Valences.Univalent` and `Valences.Bivalent` which were meant to be common interfaces for these types. But the names are unfamiliar.

We need a simple name that reflects that we can get a value

[2015-06-29 22:37] #318 closed

[2015-06-29 22:38] danieldietrich commented on #317
Woops, closing this as duplicate of #302 - knew I missed s.th. :)

[2015-06-29 22:38] #317 closed

[2015-06-29 22:39] #87 closed

[2015-06-29 22:39] #227 closed

[2015-06-29 22:41] danieldietrich commented on #302
See PR #315

[2015-06-29 23:05] danieldietrich opened #321 "Add additional maxBy, minBy"
Given `Traversable<T>`, we already have

[code]

We additionally want more Scala-like operations

[code]

which return the max resp. min element of type T comparing the mapped elements of type U.

Here are (Scala) examples: http://lachdrache.com/2012/06/06/using-minby-and-maxby-of-scala-collections-api/

[2015-06-30 22:30] danieldietrich opened #322 "Get Match.of.when type signature right"
Scala allows to match more special objects by more general cases:

[code]

Scala also allows to match more general objects by more special cases:

[code]

Javaslang's 'Match of when' is currently defined as follows:

[code]

This allows us to write:

[code]

and:

[code]

Also generics are handled correctly (sometimes):

[code]

I'm also able to create another example that compiles but makes no se

[2015-06-30 22:44] danieldietrich commented on #322
Surprisingly these types are handled correctly by Match:

[code]

Examples:

[code]

[2015-07-01 23:00] danieldietrich commented on #302
Now we are able to write:

[code]

In the meantime the Match API emerged. Instead of using it as function (as shown above), we now may use it as Monad by capturing the value to be matched at the beginning with 'of'.

The new when().then() / whenIn().then() syntax has also to be added to the Match.of() branch of the API. Then we will also able to write:

[code]

[2015-07-01 23:08] danieldietrich commented on #302
**Note:**

Because of ambiguities we cannot use `when(null).then(...)`. Therefore `whenNull().then(...)` was introduced.

TODO: `whenNull().then(...)` should be simplified to `whenNull(...)`, where arguments are `Supplier` and `Function`.

[2015-07-01 23:15] danieldietrich opened #324 "Change Match.when/then(Function1) to (Function)"
Function1 is used because we need a serializable lambda to get the argument type of the function. The type is needed to match a value by type.

We want to widen the argument type and use the more general standard Java `Function`.

We will need to lift Function to Function1 in order to get the argument type by reflection (`Function1.lift(f::apply).getType().parameterType(0);`).

**Note**: The new m

[2015-07-02 05:45] danieldietrich opened #325 "Further simplification of Match API"
Which syntax is more valuable?

1) Concise syntax

[code]

2) Consistent syntax

[code]

However, the `whenType` syntax would eliminate the use of lambda reflection completely within Match.

---

Additionally we should think about removing support for primitive functions (like `IntFunction`). Are they really needed? We will have the following benefits:

- functionality remains same because of boxi

[2015-07-02 05:59] danieldietrich opened #326 "[Epic] Re-work Match"
This includes

* #225 Rename Match.caze to Match.when ✓
* #227 Howto process further with Match.orElse() ✓
* #302 Match to allow Scala style matching on a range of values ✓
* ~~#317 Add matching on a range of values~~
* #322 Get Match.of.when type signature right ✓
* #324 Change Match.when/then(Function1) to (Function) ✓
* #325 Further simplification of Match API ✓

[2015-07-02 06:00] martincooper commented on #325
Personally I prefer that it be concise unless it adds ambiguity. I think there is definite benefit having a whenType method for both clarity and reduction in the code required to implement it. The first example is only marginally more concise than the second one anyway.

Thanks

[2015-07-02 06:05] danieldietrich commented on #325
Yes, me too. I also think that the second one is concise anyway.

I'm currently not sure if there is any benefit having the primitive functions to match by type. See [these examples](https://github.com/javaslang/javaslang/blob/master/src/test/java/javaslang/control/MatchTest.java#L186-L208). I think we may safely remove them...

[2015-07-02 06:11] martincooper commented on #325
I can't see why they would be required any more once you could pass the class name to whenType().

[2015-07-02 18:52] martincooper opened #327 "Possible Lazy Stream issue evaluating additional value."
Hi Daniel.

While doing some testing of the Javaslang lazy stream, I found a scenario where it looks like it evaluates an additional item to the last one requested. Implementing the same functionality in the core java Stream library I don't see this issue. The following replicates the scenario...

This code calls the doStuff method until it hits the first Failure case, then returns. As the doStuff

[2015-07-02 19:51] danieldietrich commented on #327
Hi Martin, thanks for the description - I will take a look now...

[2015-07-02 20:34] danieldietrich commented on #327
In fact, the problem is the iterator().

A Stream is either a Cons(head, () -> tail) or Nil, where tail is also a Stream. In order to check whether the iterator has a next element, we have to check, if the tail Stream is a Cons or Nil. But when the iterator performs this check and tail is a Cons, the head of the tail Stream is evaluated.

To circumvent this we may wrap the head in a `Lazy<T>`. The

[2015-07-02 20:35] danieldietrich commented on #327
Btw - \*great\* finding!!

[2015-07-02 21:13] martincooper commented on #327
:smiley: The finding was pure luck. A number of times i've needed a "mapUntilFailure" type method and wasn't sure if flatMap would work for this scenario. (From what I understand, flatMap would not stop when a Failure occurred, just removes them from the returned results?)

Implementing it manually and checking if it was really lazy by outputting to the console I came across this issue.

[2015-07-02 22:11] danieldietrich commented on #327
Yes, should be right

[2015-07-02 22:17] danieldietrich opened #328 "Add convenience method for Some<Void>"
Currently we need to call `new Some<Void>(null)` in order to create a `Some<Void>`.

There should be only one `Some<Void>` instance, which is stored in a public constant `NOTHING` and can also be obtained by `Some.nothing()`.

/cc @martincooper

[2015-07-02 22:22] #327 closed

[2015-07-02 22:24] #328 closed

[2015-07-03 11:24] danieldietrich commented on #327
A better explanation why Traversable.flatMap does filter out Failures:

It maps elements to Iterables and flattens all iterables to one Traversable in their order of occurrence. Collections and controls (Option, Try, ...) share the common interface Iterable. This is why Try instances can be flattenend to form a Traversable. In particular a Failure is empty because it contains no resulting value (b

[2015-07-03 12:05] martincooper commented on #327
Thanks for the explanation. It makes sense.

[2015-07-03 12:15] danieldietrich commented on #327
:+1:

[2015-07-03 20:30] #321 closed

[2015-07-04 10:41] johnmcclean-aol commented on #300
@danieldietrich  Hi Daniel,  [cyclops-javaslang](https://github.com/aol/cyclops/tree/master/cyclops-javaslang) integration is now available in [Maven Central](http://search.maven.org/#artifactdetails%7Ccom.aol.cyclops%7Ccyclops-javaslang%7C5.0.0%7Cjar). There are converters to Javaslang types (Tuples, Functions, Streams etc) from Guava, JDK, FunctionalJava and simple-react. But also included are C

[2015-07-04 15:16] danieldietrich commented on #300
@johnmcclean-aol Awesome, thanks for doing all the work. I will check it out.

[2015-07-09 21:03] danieldietrich commented on #320
S.th. like

[code]

[2015-07-09 23:44] danieldietrich commented on #302
@martincooper [First shot](https://github.com/danieldietrich/javaslang/blob/4ade2070e52953c4e77c7e7b80a48ecc03bf6be1/src/main/java/javaslang/control/Match.java) of Match rework finished.

Also added a `whenTypeIn(class_1, ..., class_n).then(...)`. Removed `whenNull`, it is not necessary any more.

The generic type bounds are currently cluttered. Will do this next.

Unit tests and javadoc + the web

[2015-07-10 07:12] martincooper commented on #302
Great, thanks!

[2015-07-10 22:07] danieldietrich commented on #322
Lets consider the following:

[code]

I have use-cases where it is not viable to propagate the value type to when:

[code]

The type of `head()` is T, which is unknown at compile time. Disallowing arbitrary types would make `Match.of` useless in many cases. A solution would be to interpret a generic type parameter as Object, but that is not possible in Java when using generics - a generic type par

[2015-07-12 12:47] danieldietrich opened #333 "Function.memoized() should be idempotent"
A call of

[code]

should be the same as

[code]

for all Function0..N and CheckedFunction0..N.

This can be achieved by capturing the state with types, i.e. by defining new Function types:

[code]

Ideally, the Memoized interfaces would be no public API, just internal, tagging interfaces.

Alternatively there could be also one interface `Memoized` which is implemented by `Lazy` and all (Checked)F

[2015-07-12 12:49] danieldietrich opened #334 "Function.memoized() should be idempotent"
A call of

[code]

should be the same as

[code]

for all Function0..N and CheckedFunction0..N.

This can be achieved by capturing the state with types, i.e. by defining new Function types:

[code]

Ideally, the Memoized interfaces wouldn't be public API, just internal, tagging interfaces.

Alternatively there could be also one interface `Memoized` which is implemented by `Lazy` and all (Checked)F

[2015-07-12 12:51] danieldietrich commented on #334
dup of #333

[2015-07-12 12:51] #334 closed

[2015-07-13 22:33] danieldietrich opened #335 "Function.isApplicableTo() and .isApplicableToTypes(...)"
For all Function1..N and CheckedFunction1..N create methods

[code]

which indicate if a given function is applicable to given objects or objects of given types.

* It is checked that the given (object) types match the actual parameter types of the function.
* It is not checked if the function is defined for the given objects.

[2015-07-13 23:10] danieldietrich commented on #322
**Note:** There are two _tricks_ for (unsafe) matching generic types using the _new_ 2.0.0 API:

[code]

The Match API of 1.2.2 had:

[code]

[2015-07-13 23:25] danieldietrich commented on #322
To get the advantages of the 1.2.2 API and the consistent when().then() syntax of the 2.0.0 API we may add a

[code]

[2015-07-14 06:44] ignasi35 commented on #170
Some more tips on the subject. http://stackoverflow.com/a/9054660

[2015-07-16 22:13] danieldietrich commented on #302
@martincooper I'm afraid, I can't push the current master to maven central. The Match rework isn't finished yet. At least we have to cover the new API with unit tests. I hacked it from the brain to my git fork. Also, I'm on a trip for a few days and can go back to my notebook within the next week.
We have to do it right, publishing a version before makes no sense.
But luckily I have now vacation (

[2015-07-18 12:20] martincooper commented on #302
That's fine. No rush. Better to do it right. I'm on holiday for a couple of weeks too so won't have much time to pick up the update for a while anyway.

Thanks
Enjoy your hols. :)

[2015-07-20 08:51] danieldietrich commented on #218
[TraversableOnce](https://github.com/javaslang/javaslang/blob/bc64f07199f454ae587ce63a5a3a8e115884a672/src/main/java/javaslang/collection/TraversableOnce.java) (implemented by many Javaslang classes, not only collections) has `toJavaXxx()` methods. These convert Javaslang objects to Java objects.

This does not scale well. Instead we could provide a `to(Class)` or `to(Supplier<Collection>)` functi

[2015-07-20 20:57] danieldietrich commented on #302
Thanks! I will put it all together the next days.

Enjoy your hols, too :)

[2015-07-21 20:25] danieldietrich opened #337 "Add BinaryTree.isBinarySearchTree()"
This new method will check, if a given BinaryTree instance is a Binary Search Tree, i.e. for each node, the values to the left are strictly less the current nodes value and the values to the right of a node are strictly greater than the current nodes values.

A prototype can be found [here](https://gist.github.com/danieldietrich/9a43c087089059b71ed3).

[2015-07-21 23:53] danieldietrich opened #338 "Create a Wiki"
at https://github.com/javaslang/javaslang/wiki

We will start with headings. This enables committers to add documentation.

[2015-07-24 09:36] danieldietrich opened #340 "Add flatten() to types which have flatten(Function)"
Check, if this is possbile:

[code]

Here, `M.of(u)` is a placeholder for constructing a `M`.

[2015-07-25 09:56] danieldietrich opened #341 "Add List/Stream.rangeBy/rangeClosedBy"
The idea is, to define the step size:

[code]

**Constraint:** Given a range `[a,b]` (resp. `[a,b)`), `a == b` or `signum(step) == signum(b - a)`

The following is true:

[code]

**Clarification:**

We take a look at the case `from` < `to`, `step > 1` and `(to - from) % step != 0`. (C1)

[code]

In other words, given (C1), the following is true:

[code]

[2015-07-25 18:14] danieldietrich commented on #324
Because of a Java bug(!?) we need a Function1 to have reflection capabilities.

See [What the lambda? #WTL](https://gist.github.com/danieldietrich/9f65eeec3d3f822c852f)

[2015-07-25 18:21] danieldietrich commented on #300
This may go along with #288. I've a proposal in the pipeline. There will be an article/blog post soon...

[2015-07-25 18:23] #302 closed

[2015-07-25 18:23] #320 closed

[2015-07-25 18:23] #322 closed

[2015-07-25 18:23] #324 closed

[2015-07-25 18:23] #325 closed

[2015-07-25 18:23] #326 closed

[2015-07-25 18:23] #335 closed

[2015-07-25 18:23] #337 closed

[2015-07-25 20:22] danieldietrich commented on #126
The single test for all problems is growing. I will split the Euler solutions into separate classes.

[2015-07-25 20:26] danieldietrich commented on #126
See also [github.com/shadaj/euler](https://github.com/shadaj/euler) and [youtube.com/shadajProgramming](https://www.youtube.com/channel/UCzsv1Xi4X7D-oif5E4RT0JQ).

[2015-07-25 22:22] danieldietrich opened #344 "Rename Stream.gen(head, tailSupplier) to Stream.cons(head, tailSupplier)"
Because these are exactly the components a Stream is constructed of.

[2015-07-25 22:24] danieldietrich opened #345 "Add List/Stream<Long>.range(long, long) and .rangeClosed(long, long)"
This comes handy, e.g. when calculating extremely big numbers like fibonacci or prime.

[2015-07-25 22:34] danieldietrich opened #346 "Remove Stack/Queue.range() and .rangeClosed()"
because there is no real use-case for these data structures.

However, if needed, the ofAll(Iterable) factory method can be used.

[2015-07-25 23:32] danieldietrich opened #347 "Split Project Euler solutions into separate classes"
It makes sense to split the one and only class currently containing all solutions and put common functionality into separate modules.

[2015-07-25 23:36] #344 closed

[2015-07-25 23:36] #345 closed

[2015-07-25 23:36] #346 closed

[2015-07-25 23:36] #347 closed

[2015-07-26 01:42] danieldietrich opened #350 "Add List/Stream factory methods for primitive arrays"
* `of(boolean[])`
* `of(char[])`
* `of(double[])`
* `of(float[])`
* `of(int[])`
* `of(long[])`
* `of(short[])`

Resulting in

* `List<Boolean>` / `Stream<Boolean>`
* `List<Character>` / `Stream<Character>`
* ...

**Note:** Then we are able to convert a String into a List of digits

[code]

When collections evolve, also Set, ... should have these factory methods.

[2015-07-26 08:55] danieldietrich commented on #350
There will be no ambiguities when naming the methods `of`, i.e. the following works:

[code]

[2015-07-26 10:29] danieldietrich opened #352 "Fix result bound of function argument of higher order functions"
`java.util.stream.Stream` defines

[code]

Javaslang defines throughout all classes:

[code]

Should `<Xyz<R>>` be replaced with `<Xyz<? extends R>>` in Javaslang?

@szarnekow Do you have a hint for me? Does it really make a difference? The Java's Stream.flatMap method can't directly return the mapper result IMO, it has to cast `Stream<? extends R>` to `Stream<R>`. The two types are formally not _

[2015-07-26 10:54] danieldietrich opened #353 "Relax the call-site of varargs factory methods"
`java.util.stream.Stream` has:

[code]

but Javaslang's Stream has only the _@SafeVarargs_ annotation:

[code]

I must admit that I've not yet fully understood the effect of the `@SuppressWarnings("varargs")` annotation. May it be that it tells the compiler, that clients of the API can safely call the `of` method, without adding a `@SuppressWarnings("unchecked)` annotation?

[2015-07-26 11:14] danieldietrich commented on #353
The following does not compile (in both cases) with `-Xlint:all -Werror`:

[code]

However, this version of the `test` method makes the compiler happy:

[code]

See also [nonReifiableVarargsType](https://docs.oracle.com/javase/tutorial/java/generics/nonReifiableVarargsType.html) by Oracle.

Nonetheless, this is _crap_ from the user perspective IMO.

[2015-07-26 11:34] danieldietrich commented on #350
## Naming Things

We already have:

* `of(T)`
* `of(T...)`
* `ofAll(Iterable<T>)`
* `ofAll(Iterator<T>)`

Now, what is the best name for `of(int[])`, `of(long[])`, ...?

* `of` does not work because it introduces ambiguities (mentioned above).
* `ofAll` would emphasize that an array has multiple elements but `of(T...)` should then also be named `ofAll(T...)`. But this would differ from the Java st

[2015-07-26 11:56] danieldietrich commented on #350
Now we have:

[code]

[2015-07-26 12:22] danieldietrich commented on #350
Also: remove `static <T> Stream<T> ofAll(Iterator<? extends T> elements)` completely. This is internal API and will be a private interface method in a future Java version.

Until this happens, calls to this method can be replaced by `ofAll(Iterable)`, i.e. `ofAll(() -> iterator)`

[2015-07-26 12:32] danieldietrich opened #354 "Leverage Java 9's private interface methods"
In a future version of Java we need to create an internal factory method for collections like List and Stream, which allows us to create a collection of an Iterator.

Currenty `ofAll(Iterable)` resp. `ofIterable(Iterable)` exisits. Clients convert an iterator by calling `ofIterable(() -> iterator)`. The calls should be replaced by `ofIterator(iterator)`, where `ofIterator` is private.

[2015-07-26 12:40] danieldietrich commented on #352
Also, it would be politically correct to specify bounds for final types.

E.g. instead of

[code]

we should use

[code]

because it is more robust, e.g. if the Tuple2 final is removed in future (however, this will not happen in this case...).

[2015-07-26 19:02] danieldietrich commented on #350
I ask myself what happens if we just remove the `of(T)` method. Calling `of(T...)` with one argument should be equivalent. Or maybe additionally change `of(T...)` to `of(T, T...)` to enforce at least one argument. When an empty instance is needed we call `empty()` or `nil()`, depending on the type.

Given that, can we then call all factory methods `of()`? I will check this...

[2015-07-26 22:07] danieldietrich commented on #350
An alternative (to `ofIterable()`, `ofInts()`, `ofLongs()`, ...) is to keep the `ofAll()` (also for primitive arrays). Then we have:

[code]

**Note:** The above examples are not well ordered. This is better:

[code]

Here we see that this is crap from the user perspective.

Better would be to have just two methods:

* `of(T...)`
* `cons(T)`

The `cons(T)` factory method takes what comes - without

[2015-07-26 23:07] danieldietrich commented on #350
This is the only viable solution:

[code]

[2015-07-27 05:14] danieldietrich opened #358 "Make constructors of collection implementations public"
There is no reason to hide the constructors of

* Stream.Cons, List.Cons, etc.

**Note:** Singleton constructors will stay final of course, like Stream.Nil, List.Nil, etc.

[2015-07-27 05:18] danieldietrich opened #359 "Add Stream.cons(Supplier, Supplier)"
There is already a `Stream.cons(T, Supplier<Stream<T>>)` for eager head and lazy tail.

This will add `Stream.cons(Supplier<T>, Supplier<Stream<T>>) for lazy head and lazy tail.

However, this is a convenience method for `new Stream.Cons(Supplier<T>, Supplier<Stream<T>>)`, which will be made public with #358.

[2015-07-27 05:26] danieldietrich commented on #359
javac complains: "reference to cons is ambiguous"

[code]

Feature cancelled.

[2015-07-27 05:26] #359 closed

[2015-07-27 05:27] danieldietrich commented on #359
**Workaround:** Use `new Stream.Cons(Supplier, Supplier)` instead.

[2015-07-27 06:34] danieldietrich opened #361 "EulerXX unit tests not executed because of missing 'Test' prefix"
Missed that during refactoring...

[2015-07-27 07:12] #350 closed

[2015-07-27 07:12] #358 closed

[2015-07-27 07:59] danieldietrich commented on #340
Again, this is unsafe and potentially leads to runtime errors.

Workaround: `flatten(Function)`

[2015-07-27 07:59] #340 closed

[2015-07-27 08:11] #361 closed

[2015-07-27 08:19] danieldietrich commented on #353
Nothing we can do here.

_[Effective Java 2nd Edition, Item 25]_

[2015-07-27 08:19] #353 closed

[2015-07-27 10:42] danieldietrich commented on #341
Moving StreamTest range tests to AbstractSeqTest, because all Seq impls will implement the static range methods.

In order to write javadoc only once, seq will get static factory methods, too, which delegate to static factory methods of List (as default Seq, likewise to Scala).

The javadoc of the the static range factory methods of the Seq impls (currently Stream, List, Queue, Stack) will `@inher

[2015-07-27 10:49] danieldietrich opened #364 "Harmonize static factory methods of collections"
Now that [Seq will also have static factory methods](https://github.com/javaslang/javaslang/issues/341#issuecomment-125161860), including `Seq.empty()`, which will return the empty `List`, the user will expect to find this method in all collections. List currently has `List.nil()`. I'm no friend of redundant methods, so we will add `List.empty()` and `List.nil()` will be removed.

Same for `Stream

[2015-07-27 11:34] danieldietrich commented on #341
Oooh, @inheritDoc does not work here. Wanted to copy javadoc of a static method in a super interface. Never mind, we will copy-paste all docs n-times.

[2015-07-27 12:02] danieldietrich commented on #341
TODO: create `class SeqTest (extends AbstactSeqTest?)` which tests the new static factory methods.

[2015-07-27 16:09] #341 closed

[2015-07-27 16:09] #364 closed

[2015-07-28 05:05] danieldietrich commented on #341
**Note:** The Seq factory method will be removed again. They where introduced to share javadoc (which is not possible, see above). It is not not fully transparent that Seq.xxx will remove List.xxx. Use List.xxx directly instead.

[2015-07-28 06:10] danieldietrich commented on #272
This can be accomplished only by runtime bytecode generation, e.g. with [bytebuddy](http://bytebuddy.net). But this will not happen. _No dependencies_ is one of the fundamental rules of Javaslang, it prevents uncontrolled growth.

Therefore we should provide s.th. like (informally):

[code]

[2015-07-28 06:18] danieldietrich opened #368 "Change semantics of Lazy.isEmpty()"
Currently `Lazy.isEmpty()` returns `true` if the lazy value wasn't yet evaluted.

`isEmpty()` should always return `false` - otherwise we rely on mutable state. Lazy is a Supplier and should therefore be referential transparent.

[2015-07-28 07:24] danieldietrich commented on #272
We still need a method to check if a Lazy was evaluated, e.g. for the String representation of Stream : `Stream(1, 2, ?)`.

Therefore we will add a method `Lazy.isEvaluated()`.

[2015-07-28 09:29] danieldietrich commented on #272
This is not possible:

[code]

But this:

[code]

Is there a way to get rid of the `static` resp. passing the lazy object?

[2015-07-28 10:09] danieldietrich commented on #272
The best I can come up with so far is providing another factory method:

[code]

A lazy value `T` behaves slightly different than a `Lazy<T>` instance.

[code]

Analogous equals of Lazy checks, if `that` instance is of type Lazy.

Compared to Scala:

[code]

[2015-07-28 11:08] #272 closed

[2015-07-28 11:08] #368 closed

[2015-07-28 11:47] danieldietrich opened #371 "Make Lazy an interface"
Btw - regarding lazy values we now get the return of invest that most of Javaslang's types are designed as interface. :feeling proud:

[2015-07-28 12:21] danieldietrich opened #372 "Add convenience method for creating lazy values"
If `T` is an interface, it would be nice to be able to write:

[code]

We should also rename `of(Supplier, Class)` to `asVal(Supplier, Class)`.

[2015-07-28 13:12] danieldietrich commented on #372
One word to _safety_:

Java's Proxy is not safe. It throws at runtime when an objects is passed instead of an interface at construction time.

So is Lazy. It throws at runtime when creating a lazy value of an object instead of an interface. This is the best we can do. But I think the benefits of having this functionality prevail.

In general Javaslang's design rule is 'safety prior feature'.

[2015-07-28 19:32] danieldietrich opened #374 "Add Traversable.cartesianProduct() and cartesianProduct(Traversable)"
where `cartesianProduct() = cartesianProduct(this)`.

Example:

[code]

See also [wikipedia/cartesian_product](https://en.wikipedia.org/wiki/Cartesian_product).

[2015-07-28 20:29] #374 closed

[2015-07-28 20:34] danieldietrich commented on #371
Lazy itself will not be proxied. We will better not change the class vs interface design at this point.

[2015-07-28 20:34] #371 closed

[2015-07-28 20:43] danieldietrich opened #376 "Generalize the newly added Stream.appendSelf(Function) method"
The `appendSelf` method really is a special version of `transform`, which is also needed for Tree processing (see #9).

A general version `transform` should be implemented in `Seq` (or `Traversable`?).

The problem here is that we need _type constructors_, e.g.

[code]

[2015-07-28 22:22] danieldietrich commented on #333
Maybe this can be achieved with a ZAM `interface Memoized {}` in conjunction with [intersection types]():

[code]

[2015-07-28 23:39] danieldietrich commented on #263
Seems all ok. Unit tests run fine.

[2015-07-28 23:39] #263 closed

[2015-07-28 23:40] #264 closed

[2015-07-28 23:40] #333 closed

[2015-07-29 00:35] #372 closed

[2015-07-29 08:10] szarnekow commented on #352
[code]

so for this code
[code]
the compile finds a valid solution / substitution for the type parameters of the form

[code]
which is perfectly fine. It can be compared to a `List<Object>` that always also accepts Strings as valid elements to be added to it but never promises to return anything else than Objects.

Thus this signature
[code]
appeared to be overly lax to me at a first glance, but i

[2015-07-29 08:40] danieldietrich commented on #352
@szarnekow Thanks for spending some of your spare time!

[2015-07-29 09:19] danieldietrich opened #381 "Report IntelliJ bugs"
**This bug is not related to Javaslang!**

There are still some _false_ IntelliJ bugs. JDK compiles fine.

* `ArbitraryTest.java`
  ![_arbitrarytest](https://cloud.githubusercontent.com/assets/743833/8954048/52f7624e-35e3-11e5-99e2-2c6b8bcaf529.png)
  ![arbitrarytest2](https://cloud.githubusercontent.com/assets/743833/8954055/5b119288-35e3-11e5-9728-9057eb03319d.png)
* `AbstractSeqTest.java`
  ![a